@import "./_variables";

.vue-table {
  .vue-table-head {
    background-color: $brand-primary;
    border-radius: 5px 0 0 5px;
    color: #fff;
    
    .vue-table-filter-enabled {
      cursor: pointer !important;
    }

    .vue-table-head-active {
      background-color: rgba($brand-primary, 0.5) !important;
    }
  }

  .vue-table-body {

    .vue-table-empty-rows {
      background-color: #fafafa !important;
      border: none !important; 
      text-align: center;
    }
  }
}