<template>
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{ $t('intervals.title_edit', { name: this.originalData.name }) }}</h5>
      </div>

      <div class="card-body">
        <custom-form method="put" :originalData="this.originalData" />
      </div>
    </div>
  </div>
</template>

<script>
import CustomForm from './Form.vue'

export default {
  components: {
    CustomForm
  },

  beforeCreate () {
    this.$graphqlPipe.executeQuery(`{
      interval(id: ${this.$route.params.id}){
        id
        name
        frequencyKm
        frequencyTime
        timeType
        frequencyEngine
        units {
          id
          name: wialonName
        }
      }
    }`).then(response => {
      this.originalData = response.data.interval
    }).catch(error => {
      this.$bus.$emit('show-message', this.$i18n.t('errors.generic_message'), {
        color: 'danger',
        icon: 'now-ui-icons ui-1_simple-remove'
      })
    })
  },

  data () {
    return {
      originalData: {}
    }
  }
}
</script>
