<template>
  <div class="row">
    <div class="col-12">
      <custom-alert v-show="ormErrors.length > 0" icon="now-ui-icons ui-1_bell-53" type="danger" :preMessage="errorMessage" :content="ormErrors" />
    </div>

    <fg-input class="col-sm-6 col-12 col-md-4" :label="$t('intervals.name')" :placeholder="$t('helpers.required')" v-model="form.name" />

    <div class="col-12 col-sm-6 col-md-4 form-group">
      <label>{{ $t('intervals.unit') }}</label>
      <el-select class="select-primary" style="" v-model="form.unit" multiple>
        <el-option v-for="option in units" :value="option.id" :label="option.name" :key="option.name" />
      </el-select>
    </div>

    <div class="col-12 col-sm-6 col-md-4 form-group">
      <label>{{ $t('intervals.frequency_type') }}</label>
      <el-checkbox-group class="" style="width: 100%;" v-model="frequency_type">
        <el-checkbox-button v-for="option in freq_type" :label="option.value" :checked="option.value === 0" :key="option.value">{{option.name}}</el-checkbox-button>
      </el-checkbox-group>
    </div>

    <div class="col-12 col-sm-6 col-md-4 form-group" v-if="this.flag_km">
      <fg-input class="" :label="$t('intervals.frequencyKm')" :placeholder="$t('helpers.required')" v-model="form.frequencyKm" />
    </div>
    <div class="col-12 col-sm-6 col-md-4 form-group" v-if="this.flag_time">
      <fg-input class="" :label="$t('intervals.frequencyTime')" :placeholder="$t('helpers.required')" v-model="form.frequencyTime" />
      <el-radio-group v-model="form.timeType">
        <el-radio-button v-for="option in t_type" :label="option.value" :key="option.value"> {{option.name}} </el-radio-button>
      </el-radio-group>
    </div>
    <div class="col-12 col-sm-6 col-md-4 form-group" v-if="this.flag_eng">
      <fg-input class="" :label="$t('intervals.frequencyEngine')" :placeholder="$t('helpers.required')" v-model="form.frequencyEngine" />
    </div>
    

    <div class="col-12" style="display: flex; justify-content: space-between;">
      <button @click="$router.go(-1)" class="btn btn-danger">{{ $t('actions.back') }}</button>

      <animated-button @click="sendForm" buttonClass="btn-primary" :removeState="state" :text="$t('actions.submit')" />
    </div>
  </div>
</template>

<script>
import CustomAlert from '@/components/CustomAlert.vue'
import AnimatedButton from '@/components/AnimatedButton.vue'
import { Select, Option, Checkbox, CheckboxButton, CheckboxGroup, Radio, RadioGroup, RadioButton } from 'element-ui'
import 'element-ui/lib/theme-chalk/index.css';
export default {
  components: {
    CustomAlert,
    /* eslint-disable vue/no-unused-components */
    [Option.name]: Option,
    [Select.name]: Select,
    [Checkbox.name]: Checkbox,
    [CheckboxGroup.name]: CheckboxGroup,
    [CheckboxButton.name]: CheckboxButton,
    [RadioButton.name]: RadioButton,
    [RadioGroup.name]: RadioGroup,
    /* eslint-enable vue/no-unused-components */
    AnimatedButton
  },

  props: {
    originalData: {
      type: Object,
      /* eslint-disable vue/require-valid-default-prop */
      default: {}
      /* eslint-enable vue/require-valid-default-prop */
    },

    method: {
      type: String,
      default: 'post'
    }
  },

  beforeCreate () {
    this.$graphqlPipe.executeQuery(`{
      units {
        id
        name: wialonName
      }


    }`).then(response => {
      this.units = response.data.units
    }).catch(error => {
      // this.showError()
      this.$bus.$emit('show-message', this.$i18n.t('errors.generic_message'), {
        color: 'danger',
        icon: 'now-ui-icons ui-1_simple-remove'
      })
    })
  },

  created () {
    this.form = this.originalData
  },

  watch: {
    originalData (newVal, oldVal) {
      this.form = newVal
    },

    unit (newVal, oldVal) {
      this.form.unit = newVal
    },

    state (newVal, oldVal) {
      if (newVal) {
        setTimeout(() => {
          this.state = false
        }, 50)
      }
    },

    frequency_type (newVal, oldVal) {
      let i = 0
      let count_km = 0, count_time = 0, count_eng = 0
      console.log(newVal)
      console.log(oldVal)
      for (i = 0; i < newVal.length; i++) {
        if (newVal[i] == 0) {
          this.flag_km = true
          count_km = 1
        } 
        if (newVal[i] == 1) {
          this.flag_time = true
          count_time = 1
          this.form.timeType = 1
        } 
        if (newVal[i] == 2) {
          this.flag_eng = true
          count_eng = 1
        } 
      }

      if (count_km == 0) {
        this.flag_km= false
      }
      if (count_time == 0) {
        this.flag_time= false
      }
      if (count_eng == 0) {
        this.flag_eng= false
      }
    }

  },

  computed: {
    errorMessage () {
      if (this.ormErrors.length === 1) {
        return `1 ${this.$i18n.t('actions.error')} ${this.$i18n.t('actions.while_create')}`
      } else {
        return `${this.ormErrors.length} ${this.$i18n.t('actions.errors')} ${this.$i18n.t('actions.while_create')}`
      }
    }
  },

  data () {
    return {
      state: false,
      unit: [],
      units: [],
      frequency_type: [],
      freq_type: [{value: 0, name: 'Por Kilometraje'}, {value: 1, name: 'Por tiempo'}, {value: 2, name: 'Por horas de motor'}], // tipo de frecuencia
      ormErrors: [],
      flag_km: false,
      flag_time: false,
      flag_eng: false,
      timeType: 1,
      t_type: [{value: 1, name: 'Horas'}, {value: 2, name: 'Días'}],
      form: {},
    }
  },

  methods: {
    sendForm () {
      let router = this.$router
      let form = this.form
      let object = ''

      switch (this.method) {
        case 'post':
          object = 'addInterval'
          break
        case 'put':
          object = 'editInterval'
          break
      }
      let query = `mutation {
        ${object}(input: {
          ${((this.method === 'put') ? `id: ${this.$route.params.id},` : '')}
          name: "${form.name}",
          units: [${form.unit}],
          ${form.frequencyKm ? `frequencyKm: ${form.frequencyKm},` : ''}
          ${form.frequencyTime ? `frequencyTime: ${form.frequencyTime},` : ''}
          ${form.timeType ? `timeType: ${form.timeType},` : ''}
          ${form.frequencyEngine ? `frequencyEngine: ${form.frequencyEngine},` : ''}
          
        }) {
          status,
          errors,
          interval {
            id
          }
        }
      }`

      console.log(query)

      this.$graphqlPipe.executeMutation(query).then(response => {
        let { status, errors, interval } = response.data[object]
        if (status) {
          router.push(`/Maintenances/intervals/${interval.id}/details`)
        } else {
          this.ormErrors = errors
          this.showError()
        }
      }).catch(error => {
        this.showError()
        this.$bus.$emit('show-message', this.$i18n.t('errors.generic_message'), {
          color: 'danger',
          icon: 'now-ui-icons ui-1_simple-remove'
        })
      })
    },

    showError () {
      setTimeout(() => {
        this.state = true
      }, 1000)
    }
  }
}
</script>