<template lang="jade">
  div
    .row
      .col-12
        .card
          .card-header
            h5.card-title {{ $t('intervals.title_index') }}
          .card-body
            golden-m-table(:headers='headers', @deleteAction="deleteRow", :rows="rows", :i18n="i18n", :action="action")
</template>

<script>
import GoldenMTable from '@/components/GoldenMTable.vue'

export default {
  components: {
    GoldenMTable
  },

  data () {
    return {
      actions: { show: true, edit: true, delete: false },
      headers: {
        name: this.$i18n.t('intervals.name'),
        frequency: this.$i18n.t('intervals.frequency'),
        unitsCount: this.$i18n.t('intervals.units')
      },
      rows: [],
      i18n: this.$i18n.t('table')
    }
  },

  computed: {
    action () {
      return { url: '/Maintenances/intervals/new', name: this.$i18n.t('intervals.title_new') }
    }
  },

  mounted () {
    this.$graphqlPipe.executeQuery(`{ intervals {
      id
      name
      frequency
      unitsCount
      actions
    }}`).then(response => {
      this.rows = response.data.intervals
    }).catch(error => {
      console.error(error)

      this.showError()
    })
  },

  methods: {
    showError () {
      this.$bus.$emit('show-message', this.$i18n.t('errors.generic_message'), {
        color: 'danger',
        icon: 'now-ui-icons ui-1_simple-remove'
      })
    },

    deleteRow (data) {
      this.$graphqlPipe.executeMutation(`mutation {
        deleteInterval(input: {
          id: ${data.id}
        })
        {
          status
          intervals {
            id
            name
            frequency
            unitsCount
            actions
          }
        }
      }`).then(response => {
        console.log(response.data.deleteInterval.status)
        if (response.data.deleteInterval.status) {
          this.rows = response.data.deleteInterval.intervals
        } else {
          this.showError()
        }
      }).catch(error => {
        console.log(error)
        this.showError()
      })
    }
  }
}
</script>
