<template>
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{ $t('intervals.title_show', { name: this.data.name }) }}</h5>
      </div>

      <div class="card-body">
        <div class="row">

          <div class="col-12 col-sm-6 col-md-4">
            <h6><b>{{ $t('intervals.frequencyKm') }}</b></h6>
            <p>{{ frequencyKm }}</p>
          </div>

          <div class="col-12 col-sm-6 col-md-4">
            <h6><b>{{ $t('intervals.frequencyTime') }}</b></h6>
            <p>{{ frequencyTime }}{{ timeType}}</p> 
          </div>

          <div class="col-12 col-sm-6 col-md-4">
            <h6><b>{{ $t('intervals.frequencyEngine') }}</b></h6>
            <p>{{ frequencyEngine }}</p>
          </div>

          <div class="col-12">
            <h6><b>{{ $t('intervals.unit') }}</b></h6>
            <div class="row">
              <div class="col-6 col-sm-4 col-md-3" v-for="units in this.data.units">
                <span class="badge badge-info"> {{units.name}}</span>
              </div>
            </div>
          </div>

          <div class="col-12" style="display: flex; justify-content: space-between;">
            <button v-if="$globalData.user.permissions.intervals.list" @click="$router.push(`/Maintenances/intervals/list`)" class="btn btn-danger">{{ $t('actions.back') }}</button>

            <button v-if="$globalData.user.permissions.intervals.edit" class="btn btn-primary" @click="$router.push(`/Maintenances/intervals/${$route.params.id}/edit`)">{{ $t('actions.edit') }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      data: {},
      t_type: ""
    }
  },

  computed: {
    frequencyKm () {
      if (this.data.frequencyKm === 0) {
        return this.$i18n.t('helpers.empty')
      } else {
        return this.data.frequencyKm
      }
    },

    frequencyTime () {
      if (this.data.frequencyTime === 0) {
        return this.$i18n.t('helpers.empty')
      } else {
        return this.data.frequencyTime
      }
    },

    frequencyEngine () {
      if (this.data.frequencyEngine === 0) {
        return this.$i18n.t('helpers.empty')
      } else {
        return this.data.frequencyEngine
      }
    },

    timeType () {
      if (this.data.timeType == 1) {
        return this.t_type = " Horas"
      } else {
        return this.t_type = " Días"
      }
    }
  },

  beforeCreate () {
    this.$graphqlPipe.executeQuery(`{
      interval(id: ${this.$route.params.id}){
        id
        name
        frequencyKm
        frequencyTime
        frequencyEngine
        timeType
        units {
          name: wialonName
        }
      }
      
    }`).then(response => {
      this.data = response.data.interval
    }).catch(error => {
      this.$bus.$emit('show-message', this.$i18n.t('errors.generic_message'), {
        color: 'danger',
        icon: 'now-ui-icons ui-1_simple-remove'
      })
    })
  }
}
</script>
