<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app.title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'global-dependencies', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet" />
  
    <script src="https://hst-api.wialon.com/wsdk/script/wialon.js"></script>
    
    
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
    <link rel="shortcut icon" type="image/png" href="/favicon.ico">
  
    <%= yield :packs %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
