<template>
  <div class="card">
    <div class="card-body">
      <h5>Mantenimiento</h5>
    </div>
  </div>
</template>
<script>
  import {
    Modal
  } from 'src/components'
  import draggable from 'vuedraggable'
  import axios from 'axios'

  export default {
    components: {
      Modal,
      draggable
    },

    watch: {
      headers (newVal, oldVal) {
        this.reAssignHeaders()
      },

      availableHeaders (newVal, oldVal) {
        this.reAssignHeaders()
      }
    },

    data () {
      return {
        customizationModal: false,
        notUsedHeaders: new Array,
        patterns: {
          date: "%hours% horas y %minutes% minutos"
        },

        headers: ['unit_name', 'event_code', 'priority', 'date_receive', 'last_interaction', 'operator_assigned'],
        availableHeaders: ['unit_name', 'event_code', 'date_receive', 'last_interaction', 'operator_assigned', 'time_opened', 'unit_imei', 'unit_plate', 'priority'],
        
        events: [
          { id: 1, unit_name: "Unidad 1", event_code: "EV1", date_receive: '1970-01-01 00:00:00 UTC', last_interaction: '1970-01-01 00:00:00 UTC', operator_assigned: 'Anthony Zakhaur', time_opened: (3600 * 2 + 180), unit_imei: "1010101", unit_plate: "ABC123", priority: 2 },
          { id: 2, unit_name: "Unidad 1", event_code: "EV1", date_receive: '1970-01-01 00:00:00 UTC', last_interaction: '1970-01-01 00:00:00 UTC', operator_assigned: 'Anthony Zakhaur', time_opened: (3600 * 2 + 180), unit_imei: "1010101", unit_plate: "ABC123", priority: 3 },
          { id: 3, unit_name: "Unidad 1", event_code: "EV1", date_receive: '1970-01-01 00:00:00 UTC', last_interaction: '1970-01-01 00:00:00 UTC', operator_assigned: 'Operador 1', time_opened: (3600 * 2 + 180), unit_imei: "1010101", unit_plate: "ABC123", priority: 1 },
          { id: 4, unit_name: "Unidad 1", event_code: "EV1", date_receive: '1970-01-01 00:00:00 UTC', last_interaction: '1970-01-01 00:00:00 UTC', operator_assigned: 'Operador 1', time_opened: (3600 * 2 + 180), unit_imei: "1010101", unit_plate: "ABC123", priority: 4 },
        ]
      }
    },

    created () {
      this.reAssignHeaders()
    },

    methods: {
      patternSetter (time){
        time = time / 60
        let hours = parseInt(time / 60)
        let minutes = parseInt(time % 60)

        console.log(time, hours, minutes)

        return this.patterns.date.replace(/\%hours\%/i, hours).replace(/\%minutes\%/i, minutes)
      },

      reAssignHeaders () {
        this.notUsedHeaders = new Array

        for (let i in this.availableHeaders){
          if (!this.headers.includes(this.availableHeaders[i])){
            this.notUsedHeaders.push(this.availableHeaders[i])
          }
        }
      }
    }
  }
</script>
<style>
  .modal-dialog {
    max-width: 50% !important;
  }
</style>
