<template>
  <div class="card">
    <div class="card-body table-responsive">
      <div class="row">
        <div class="col-12">
          En construcción
          <vue-duallist :options="options" :selected="selected" :titles="titles" /> 
        </div>
        <hr>
        <h3 class="col-12">Excesos de Velocidad</h3>
        <div class="col-sm-6 col-12">
          <v-chart :options="polar"/>
        </div>
        <div class="col-sm-6 col-12">
          <v-chart :options="barPie" />
        </div>
        <div class="col-sm-6 col-12">
          <v-chart :options="bar" />
        </div>
        <div class="col-sm-6 col-12">
          <v-chart :options="bar" />
        </div>
        <hr>
        <h3 class="col-12">Estado del Equipo</h3>
        <hr>
        <h3 class="col-12">KPI</h3>
      </div>
    </div>
    </div>
  </div>
</template>
<script>
  import axios from 'axios'
  import ECharts from 'vue-echarts'
  import VueDualList from '@/components/VueDualList.vue'

  export default {
    components: {
      'v-chart': ECharts,
      'vue-duallist': VueDualList
    },

    data () {
      return {
        polar: {},
        barPie: {},
        bar: {},
        options: [],
        titles: {
          list1: "Unidades disponibles",
          list2: "Unidades seleccionadas"
        },
        selected: []
      }
    },

    beforeMount () {
      this.$graphqlPipe.executeQuery(`{ units {
        id
        name: wialonName
        ident: wialonImei
      }}`).then(response => {
        this.options = response.data.units
      }).catch(error => {
        console.error(error)
        this.$bus.$emit('show-message', this.$i18n.t('errors.generic_message'), {
          color: 'danger',
          icon: 'now-ui-icons ui-1_simple-remove'
        })
      })
    },

    mounted () {
      this.polar = {
        backgroundColor: '#2c343c',

        title: {
            text: 'Customized Pie',
            left: 'center',
            top: 20,
            textStyle: {
                color: '#ccc'
            }
        },

        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },

        visualMap: {
            show: false,
            min: 80,
            max: 600,
            inRange: {
                colorLightness: [0, 1]
            }
        },
        series : [
            {
                name:'访问来源',
                type:'pie',
                radius : '55%',
                center: ['50%', '50%'],
                data:[
                    {value:335, name:'直接访问'},
                    {value:310, name:'邮件营销'},
                    {value:274, name:'联盟广告'},
                    {value:235, name:'视频广告'},
                    {value:400, name:'搜索引擎'}
                ].sort(function (a, b) { return a.value - b.value; }),
                roseType: 'radius',
                label: {
                    normal: {
                        textStyle: {
                            color: 'rgba(255, 255, 255, 0.3)'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        lineStyle: {
                            color: 'rgba(255, 255, 255, 0.3)'
                        },
                        smooth: 0.2,
                        length: 10,
                        length2: 20
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#c23531',
                        shadowBlur: 200,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                },

                animationType: 'scale',
                animationEasing: 'elasticOut',
                animationDelay: function (idx) {
                    return Math.random() * 200;
                }
            }
        ]
      },
      this.bar = {
        xAxis: {
          type: 'category',
          data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
          type: 'value'
        },
        series: [{
          data: [120, 200, 150, 80, 70, 110, 130],
          type: 'bar'
        }]
      },
      this.barPie = {
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            bottom: 10,
            left: 'center',
            data: ['Cacahuate','Hierba','Limon'],
            type: 'scroll',
        },
        series: [
          {
            type: 'pie',
            radius : '65%',
            center: ['50%', '50%'],
            selectedMode: 'multiple',
            data: [
              {value: 30, name: 'Cacahuate'},
              {value: 60, name: 'Hierba'},
              {value: 50, name: 'Limon'},
            ]
          }

        ],
        itemStyle: {
            emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
        }
      }

    }
  }
</script>
<style>
  .echarts {
    width: 100%;
    height: 100%;
  }
  .modal-dialog {
    max-width: 50% !important;
  }
</style>
