<template>
  <v-btn
    :block="block !== undefined"
    :small="small !== undefined"
    :disabled="state"
    :outline="state"
    :depressed="depressed !== undefined"
    :color="color"
    @click="$emit('click')">
    <slot v-if="!state" />
    <v-progress-circular
      indeterminate
      :color="color"
      :size="20"
      v-else />
  </v-btn>
</template>

<script>
export default {
  props: {
    state: {
      type: Boolean,
      default: false
    },

    small: {
      type: String,
      default: undefined
    },

    block: {
      type: String,
      default: undefined
    },

    depressed: {
      type: String,
      default: undefined
    },

    color: {
      type: String,
      default: 'primary'
    }
  }
}
</script>
