<template>
  <div class="vue-table">
    <div class="col-12">
      <div class="row" style="align-items: flex-end;">
        <div class="col-12">
          <div class="row" style="align-items: center;">
            <div class="col-12 col-md-4">
              <label>{{ i18n.rows_per_page }}</label>
              <select class="form-control" v-model="rowsPerPageSelected">
                <template v-for="option in rowsPerPage">
                  <option :value="option">{{ option }}</option>
                </template>
              </select>
            </div>
            
            <div v-if="action !== {}" class="col-12 col-md-4">
              <label></label>
              <router-link :to="action.url" class="btn btn-round btn-block btn-primary text-white">{{ action.name }}</router-link>
            </div>

            <div class="col-12 col-md-4" :class="{ 'ml-auto': action.url == '' }">
              <label>{{ i18n.find }}</label>
              <input type="text" class="form-control" v-model="filter" :placeholder="`${i18n.find}...`">
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="table-responsive">
      <table class="table vue-table">
        <thead class="vue-table-head">
          <tr>
            <th class="text-center" style="width: 2em" :class="{ 'vue-table-head-active': selectedIcon != this.icons.sort }" @click="updateSortingIcon"><b><i :class="selectedIcon"></i></b></th>
            <template v-for="(header, key) in processData.headers">
              <th class="text-center" :class="{ 'vue-table-head-active': filterColumn == key }" @click="setFitlerColumn(key)">
                <b>{{ header }}</b>
              </th>
            </template>
            <th class="text-center"><b><i :class="icons.actions"></i></b></th>
          </tr>
        </thead>
        <tbody class="vue-table-body">
          <template v-if="processData.rows.length > 0">
            <tr v-for="(row, i) in processData.rows">
              <template v-if="validateRange(i + 1)">
                <td class="text-center">{{ ( i + 1 ) }}</td>
                <template v-for="(header, key) in processData.headers">
                  <td>{{ row[key] }}</td>
                </template>
                <td class="text-center">
                  <router-link v-if="row.actions.show" class="btn btn-info btn-icon btn-sm btn-neutral" :to="row.actions.show"><i style="font-size: 1.5em;" :class="icons.show"></i></router-link>
                  <router-link v-if="row.actions.edit" class="btn btn-warning btn-icon btn-sm btn-neutral" :to="row.actions.edit"><i style="font-size: 1.5em;" :class="icons.edit"></i></router-link>
                  <!-- <router-link v-show="row.actions.edit" class="btn btn-warning btn-icon btn-sm btn-neutral" :to="row.actions.edit"><i style="font-size: 1.5em;" :class="icons.edit"></i></router-link> -->
                </td>
              </template>
            </tr>
          </template>
          <template v-else="">
            <tr>
              <td :colspan="Object.keys(processData.headers).length + 2" class="vue-table-empty-rows">{{ i18n.empty_rows }}</td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <p>{{ this.processData.rows.length }} {{ (this.processData.rows.length == 1 ? i18n.row : i18n.rows) }} {{ i18n.loaded }}</p>
      </div>

      <nav class="col-12 col-md-8">
        <ul class="pagination justify-content-end">
          <li class="page-item" :class="{ 'disabled': (paginator.actualPage == 0) }">
            <a class="page-link" @click="paginator.actualPage = 0" tabindex="-1"><i :class="icons.prevAll"></i></a>
          </li>
          <li class="page-item" :class="{ 'disabled': (paginator.actualPage == 0) }">
            <a class="page-link" @click="paginator.actualPage -= 1" tabindex="-1"><i :class="icons.prev"></i></a>
          </li>

          <!-- <template v-for="page in paginator.totalPages">
            <li class="page-item" :class="{ 'active': (paginator.actualPage == (page - 1))}">
              <a class="page-link" @click="paginator.actualPage = (page - 1)" tabindex="-1">
                {{ page }}
              </a>
            </li>
          </template> -->

          <template v-if="paginator.totalPages == 1">
            <li class="page-item" :class="{ 'active': (paginator.actualPage == 0)}">
              <a class="page-link" @click="paginator.actualPage = 0" tabindex="-1">1</a>
            </li>
          </template>

          <template v-else>
            <li class="page-item" v-show="((paginator.actualPage - 2) > 0 && (paginator.actualPage + 1) <= paginator.totalPages)">
              <a class="page-link" @click="paginator.actualPage = (paginator.actualPage - 2)" tabindex="-1">{{ actualPage - 2 }}</a>
            </li>

            <li class="page-item" v-show="((paginator.actualPage - 1) >= 0)">
              <a class="page-link" @click="paginator.actualPage = (paginator.actualPage - 1)" tabindex="-1">{{ actualPage - 1 }}</a>
            </li>

            <li class="page-item active">
              <a class="page-link" tabindex="-1">{{ actualPage }}</a>
            </li>

            <li class="page-item" v-show="((paginator.actualPage + 1) < paginator.totalPages)">
              <a class="page-link" @click="paginator.actualPage = (paginator.actualPage + 1)" tabindex="-1">{{ actualPage + 1 }}</a>
            </li>

            <li class="page-item" v-show="((paginator.actualPage + 2) < paginator.totalPages && (paginator.actualPage - 1) < 0)">
              <a class="page-link" @click="paginator.actualPage = (paginator.actualPage + 2)" tabindex="-1">{{ actualPage + 2 }}</a>
            </li>
          </template>

          <li class="page-item" :class="{ 'disabled': (paginator.actualPage == (paginator.totalPages - 1)) }">
            <a class="page-link" @click="paginator.actualPage += 1" tabindex="-1"><i :class="icons.next"></i></a>
          </li>
          <li class="page-item" :class="{ 'disabled': (paginator.actualPage == (paginator.totalPages - 1)) }">
            <a class="page-link" tabindex="-1" @click="paginator.actualPage = (paginator.totalPages - 1)"><i :class="icons.nextAll"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      headers: {
        type: Object,
        required: true
      },
      rows: {
        type: Array,
        required: true
      },
      i18n: {
        type: Object,
        required: true
      },

      action: {
        type: Object,
        default: {}
      }
    },

    created () {
      this.assignHeaders()
      this.assignRows()

      this.selectedIcon = this.icons.sort
    },

    data () {
      return {
        processData: {
          rows: new Array,
          headers: new Object,
        },

        paginator: {
          actualPage: 0,
          totalPages: 1,
          offsetPages: 1,
        },

        rowsPerPageSelected: 10,
        rowsPerPage: [5, 10, 30, 50],
        filter: "",
        filterColumn: undefined,
        icons: {
          actions: "mdi mdi-toolbox-outline",
          delete: "mdi mdi-delete",
          show: "mdi mdi-eye",
          edit: "mdi mdi-pencil",
          prev: "mdi mdi-chevron-left",
          prevAll: "mdi mdi-chevron-double-left",
          next: "mdi mdi-chevron-right",
          nextAll: "mdi mdi-chevron-double-right",
          separator: "mdi mdi-circle-small",
          sort: "mdi mdi-sort",
          sortAsc: "mdi mdi-sort-ascending",
          sortDesc: "mdi mdi-sort-descending",
        },

        selectedIcon: undefined,
      }
    },

    watch: {
      rows (newValue, oldValue) {
        this.processData.rows = newValue
      },

      headers (newValue, oldValue) {
        this.processData.headers = newValue
      },

      selectedIcon (newValue, oldValue) {
        this.updateSorting()
      },

      filter (newValue, oldValue) {
        if (newValue == ""){
          this.processData.rows = this.rows

          return true
        }

        if (this.filterColumn != undefined){
          this.processData.rows = new Array
          let validRows = new Array

          for (let i in this.rows){
            if (String(this.rows[i][this.filterColumn]).toUpperCase().indexOf(newValue.toUpperCase()) > -1){
              validRows.push(this.rows[i])
            }
          }

          this.processData.rows = validRows
        } else {
          this.processData.rows = new Array
          let validRows = new Array

          for (let i in this.rows){
            for (let j in this.rows[i]){
              if (j == 'id' || j == 'actions'){
                continue
              }
              if (String(this.rows[i][j]).toUpperCase().indexOf(newValue.toUpperCase()) > -1){
                validRows.push(this.rows[i])
                break
              }
            }
          }

          this.processData.rows = validRows
        }

        return true
      },

      processDataRows (newValue, oldValue) {
        this.paginator.actualPage = 0
        this.paginator.totalPages = Math.ceil(newValue.length / this.rowsPerPageSelected)
      },

      actualPage (newValue, oldValue){
        this.paginator.offsetPages = newValue
      }
    },

    computed: {
      actualPage () {
        return (this.paginator.actualPage + 1)
      },

      processDataRows () {
        return this.processData.rows
      }
    },

    methods: {
      validateRange (position) {
        let offset = (this.paginator.offsetPages - 1) * this.rowsPerPageSelected
        let limit =  offset + this.rowsPerPageSelected
        return (position > offset && position <= limit)
      },

      updateSortingIcon () {
        switch(this.selectedIcon){
          case this.icons.sort:
            if (this.filterColumn === undefined){
              this.filterColumn = Object.keys(this.processData.headers)[0]
            }

            this.selectedIcon = this.icons.sortAsc
            break

          case this.icons.sortAsc:
            this.selectedIcon = this.icons.sortDesc
            break

          default:
            this.selectedIcon = this.icons.sort
            this.filterColumn = undefined
            break
        }
      },

      updateSorting () {
        if (this.icons.sortAsc == this.selectedIcon){
          let filterColumn = this.filterColumn

          this.processData.rows.sort(function (a, b) {
            if (a[filterColumn] > b[filterColumn]) {
              return 1
            }
            if (a[filterColumn] < b[filterColumn]) {
              return -1
            }

            return 0
          })

        } else if (this.icons.sortDesc == this.selectedIcon){
          let filterColumn = this.filterColumn

          this.processData.rows.sort(function (a, b) {
            if (a[filterColumn] < b[filterColumn]) {
              return 1
            }
            if (a[filterColumn] > b[filterColumn]) {
              return -1
            }

            return 0
          })

        } else {
          let firstHeaderColumn = Object.keys(this.processData.headers)[0]

          this.processData.rows.sort(function (a, b) {
            if (a[firstHeaderColumn] > b[firstHeaderColumn]) {
              return 1
            }
            if (a[firstHeaderColumn] < b[firstHeaderColumn]) {
              return -1
            }

            return 0
          })
        }
      },

      assignHeaders () {
        this.processData.headers = this.headers
      },

      assignRows () {
        this.processData.rows = this.rows
      },

      setFitlerColumn (position) {
        if (this.filterColumn == position){
          this.filterColumn = undefined
        } else {
          this.filterColumn = position
        }
      }
    }
  }
</script>

<style scoped>
  .col-12 {
    width: 100%;
  }
</style>