<template>
  <div class="row">
    <div class="col-12 col-md-5">
      <h4 class="text-center">{{ i18n.list1 }}</h4>
      <div class="row">
        <div class="col-12">
          <input type="text" class="form-control" :placeholder="`${i18n.findIn} ${i18n.list1}`" v-model="list1Filter">
        </div>
      </div>
      <div class="row lists">
        <template v-if="options.length == 0">
          <div class="col-12">
            <p class="text-center" style="margin: 0;">{{ i18n.noData }}</p>
          </div>
        </template>
        <template v-else>
          <div class="col-12 item-list" v-for="item in options" @click="addToSelected(item)" v-if="filterList1(item)">
            <p>{{ item[title] }}</p>
            <span v-if="item[subtitle]"><small>{{ item[subtitle] }}</small></span>
          </div>
        </template>
      </div>
    </div>

    <div class="col-12 col-md-2 button-container">
      <button class="btn btn-primary" @click="moveAllToSelected">
        <i :class="i18n.nextAll"></i>
      </button>
      <button class="btn btn-primary" @click="moveAllToOptions">
        <i :class="i18n.prevAll"></i>
      </button>
    </div>

    <div class="col-12 col-md-5">
      <h4 class="text-center">{{ i18n.list2 }}</h4>
      <div class="row">
        <div class="col-12">
          <input type="text" class="form-control" :placeholder="`${i18n.findIn} ${i18n.list2}`" v-model="list2Filter">
        </div>
      </div>
      <div class="row lists">
        <template v-if="selected.length == 0">
          <div class="col-12">
            <p class="text-center" style="margin: 0;">{{ i18n.noData }}</p>
          </div>
        </template>
        <template v-else>
          <div class="col-12 item-list" v-for="item in selected" @click="addToOptions(item)" v-if="filterList2(item)">
            <p>{{ item[title] }}</p>
            <span v-if="item[subtitle]"><small>{{ item[subtitle] }}</small></span>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      i18n: {
        type: Object,
        default: {
          list1: "Lista 1",
          list2: "Lista 2",
          find_in: "Buscar en",
          nextAll: "mdi mdi-chevron-double-right",
          prevAll: "mdi mdi-chevron-double-left"
        }
      },

      items: {
        type: Array,
        required: true
      },

      title: {
        type: String,
        required: true,
      },

      subtitle: {
        type: String,
        required: true,
      }
    },

    watch: {
      selected (newVal, oldVal) {
        this.$emit('changeSelection', newVal)
      },

      items (newVal, oldVal) {
        this.options = new Array
        for (let i in this.items){
          this.options[i] = this.items[i]
        }
        this.selected = new Array
      }
    },

    beforeMount () {
      for (let i in this.items){
        this.options[i] = this.items[i]
      }
    },

    data () {
      return {
        list1Filter: "",
        list2Filter: "",
        options: new Array,
        selected: new Array
      }
    },

    methods: {
      filterList1 (option) {
        if (this.list1Filter == ""){
          return true;
        }

        if (option[this.title].toLowerCase().includes(this.list1Filter.toLowerCase()) || option[this.subtitle].toLowerCase().includes(this.list1Filter.toLowerCase())){
          return true;
        }

        return false;

      },

      filterList2 (option) {
        if (this.list2Filter == ""){
          return true;
        }

        if (option[this.title].toLowerCase().includes(this.list2Filter.toLowerCase()) || option[this.subtitle].toLowerCase().includes(this.list2Filter.toLowerCase())){
          return true;
        }

        return false;

      },

      sortItems () {
        if (this.selected.length > 0){
          this.selected.sort((a, b) => {
            try {
              if (a[this.title] > b[this.title]) {
                return 1;
              }
              if (a[this.title] < b[this.title]) {
                return -1;
              }
              return 0;
            } catch (e){
              console.log("Explotó acá", e, a, b)
            }
          });
        }

        if (this.options.length > 0){
          this.options.sort((a, b) => {
            try {
              if (a[this.title] > b[this.title]) {
                return 1;
              }
              if (a[this.title] < b[this.title]) {
                return -1;
              }
              return 0;
            } catch (e){
              console.log("Explotó acá", e, a, b)
            }
          });
        }

      },

      moveAllToSelected () {
        let optionsToDelete = new Array
        for (let i in this.options) {
          if (this.filterList1(this.options[i])){
            this.selected.push(this.options[i])
            optionsToDelete.push(this.options[i])
          }
        }

        for (let i in optionsToDelete){
          this.options.splice(this.options.indexOf(optionsToDelete[i]), 1)
        }

        setTimeout(() => {
          this.sortItems()
        }, 100)
      },

      moveAllToOptions () {
        let optionsToDelete = new Array
        for (let i in this.selected) {
          if (this.filterList2(this.selected[i])){
            this.options.push(this.selected[i])
            optionsToDelete.push(this.selected[i])
          }
        }

        for (let i in optionsToDelete){
          this.selected.splice(this.selected.indexOf(optionsToDelete[i]), 1)
        }

        setTimeout(() => {
          this.sortItems()
        }, 100)
      },

      addToOptions (item) {
        this.options.push(item)
        this.selected.splice(this.selected.indexOf(item), 1)
        setTimeout(() => {
          this.sortItems()
        }, 100)
      },

      addToSelected (item) {
        this.selected.push(item)
        this.options.splice(this.options.indexOf(item), 1)
        setTimeout(() => {
          this.sortItems()
        }, 100)
      }
    }
  }
</script>