<template>
  <vue-snotify />
</template>

<script>
export default {
  mounted () {
    this.$store.subscribe(mutation => {
      if (mutation.type === 'toggleAlert') {
        let payload = mutation.payload
        switch (payload.type) {
          case 'success':
            this.$snotify.success(payload.message)
            break
          case 'warning':
            this.$snotify.warning(payload.message)
            break
          case 'error':
            this.$snotify.error((payload.message === undefined ? this.$i18n.t('errors.internalError') : payload.message))
            break
          default:
            this.$snotify.simple(payload.message)
            break
        }
      }
    })
  }
}
</script>
