<template>
	<div class="vue-duallist">
	  <div class="lists">
	    <h6>{{ titles.list1 }}</h6>
	    <input class="list-finder" type="text" :placeholder="i18n.find" v-model="list1_filter">
	    <div class="list-options">
	      <template v-for="(option, i) in options">
	        <template v-if="validate_filter(option.name, list1_filter)">
	          <button class="list-option" @click="move_to_list2(i)">
	            {{ option.name }}
	            <span v-show="option.message">
	              {{ option.message }}
	            </span>
	          </button>
	        </template>
	      </template>
	    </div>
	    <p class="list-footer">{{ options.length }} {{ ( options.length == 1 ? i18n.element : i18n.elements ) }} {{ i18n.available }}</p>
	  </div>
	  <div class="controls">
	    <button class="vue-button" @click="move_to_list2_all()">
	      <i :class="icons.prev_all"></i>
	    </button>
	    <button class="vue-button" @click="move_to_list1_all()">
	      <i :class="icons.next_all"></i>
	    </button>
	  </div>
	  <div class="lists">
	    <h6>{{ titles.list2 }}</h6>
	    <input class="list-finder" type="text" :placeholder="i18n.find" v-model="list2_filter">
	    <div class="list-options">
	      <template v-for="(option, i) in selected">
	        <template v-if="validate_filter(option.name, list2_filter)">
	          <button class="list-option" @click="move_to_list1(i)">
	            {{ option.name }}
	            <span v-show="option.message">
	              {{ option.message }}
	            </span>
	          </button>
	        </template>
	      </template>
	    </div>
	    <p class="list-footer">{{ selected.length }} {{ ( selected.length == 1 ? i18n.element : i18n.elements ) }} {{ i18n.selected }}</p>
	  </div>
	</div>
</template>
<script>
	export default {
		props: {
			options: {
				type: Array,
			},
			selected: {
				type: Array,
				default: []
			},
			titles: {
				type: Object,
				default: {}
			}
		},

		data () {
			return {
				i18n: {
          empty_rows: "No tenemos datos disponibles",
          loaded: "cargados",
          element: "elemento",
          elements: "elementos",
          available: "disponibles",
          find: "Buscar...",
          selected: "seleccionados",

        },

        list1_filter: "",
        list2_filter: "",

        icons: {
          prev_all: "mdi mdi-chevron-double-up",
          next_all: "mdi mdi-chevron-double-down"
        },
			}
		},
		methods: {
			validate_filter (option, value) {
        if (value == ""){
          return true;
        }

        if (option.toLowerCase().includes(value)){
          return true;
        }

        return false;
      },

      sort () {
        this.selected.sort(function (a, b) {
          if (a.name > b.name) {
            return 1;
          }
          if (a.name < b.name) {
            return -1;
          }
          return 0;
        });

        this.options.sort(function (a, b) {
          if (a.name > b.name) {
            return 1;
          }
          if (a.name < b.name) {
            return -1;
          }
          return 0;
        });
      },

      move_to_list2 (i) {
        this.selected.push(this.options[i]);
        this.options.splice(i, 1);
        this.sort();
      },

      move_to_list1 (i) {
        this.options.push(this.selected[i]);
        this.selected.splice(i, 1);
        this.sort();
      },

      move_to_list1_all () {
        if (this.list1_filter == ""){
          for (let i = 0; i < this.options.length; i++){
            this.selected.push(this.options[i]);
          }

          this.options.splice(0);
        } else {
          for (let i = 0; i < this.options.length; i++){
            if (this.validate_filter(this.options[i].name, this.list1_filter)){
              this.selected.push(this.options[i]);
              this.options.splice(i, 1);
            }
          }
        }

        this.sort();
        this.list1_filter = "";
      },

      move_to_list2_all () {
        if (this.list2_filter == ""){
          for (let i = 0; i < this.selected.length; i++){
            this.options.push(this.selected[i]);
          }

          this.selected.splice(0);
        } else {
          for (let i = 0; i < this.selected.length; i++){
            if (this.validate_filter(this.selected[i].name, this.list2_filter)){
              this.options.push(this.selected[i]);
              this.selected.splice(i, 1);
            }
          }
        }

        this.sort();
        this.list2_filter = "";
      }
		}
	}
</script>