<template>
	<div class="text-center" style="margin-bottom: 20px; border-top: 1px solid rgba(0,0,0,0.3); padding-top: 10px;">
		<h2 class="font-weight-bold">{{title}}</h2>
		<template v-if="!work_with_arrays">
			<div class="text-left">
				<template v-if="init_type == `line` || init_type == `area`">
					<button class="btn-focus btn" :class="(type == 'line' ? 'btn-info' : 'btn-primary')" @click="change_chart(`line`)">
						<i class="mdi mdi-chart-line"/>
					</button>
					<button class="btn-focus btn" :class="(type == 'area' ? 'btn-info' : 'btn-primary')" @click="change_chart(`area`)">
						<i class="mdi mdi-chart-areaspline"/>
					</button>
				</template>
        <template v-if="init_type == `bar` || init_type == `pie` || init_type == `doug` ">
          <button class="btn-focus btn" :class="(type == 'bar' ? 'btn-info' : 'btn-primary')" @click="change_chart(`bar`)">
              <i class="mdi mdi-chart-bar"/>
          </button>
          <button class="btn-focus btn" :class="(type == 'pie' ? 'btn-info' : 'btn-primary')" @click="change_chart(`pie`)">
              <i class="mdi mdi-chart-pie"/>
          </button>
          <button class="btn-focus btn" :class="(type == 'doug' ? 'btn-info' : 'btn-primary')" @click="change_chart(`doug`)">
              <i class="mdi mdi-chart-arc"/>
          </button>
        </template>
        <template v-if="extra_chart_validator">
					<button v-show="secondary_charts_type == `multicolor_bars`" class="btn-focus btn" :class="(type == 'multicolor_bars' ? 'btn-info' : 'btn-primary')" @click="change_chart(`multicolor_bars`)">
							<i class="mdi mdi-google-analytics"/>
						</button>
          <button v-show="secondary_charts_type != `multicolor_bars`" class="btn-focus btn" :class="(type == 'multicolor_bars' ? 'btn-info' : 'btn-primary')" @click="change(id)">
              <i class="mdi" :class="'mdi-'+ custom_icon"/>
          </button>
        </template>
			</div>
			<v-chart ref="chart" :options="chart" style="width: 100%;"/>
		<div class="modal" tabindex="-1" role="dialog" :id="modal + id" style="height: 100%; margin: 0">
	              <div class="modal-dialog modal-lg" role="document">
	                <div class="modal-content">
	                  <div class="modal-header">
	                    <h5 class="modal-title">{{title}} de {{actual_unit}}</h5>
	                    <button type="button" class="close" data-dismiss="modal" @click="close_modal()" aria-label="Close">
	                      <span aria-hidden="true">&times;</span>
	                    </button>
	                  </div>
	                  <div class="modal-body" style="height: 100%; margin: 0">
	                    <div class="row" v-for="mchart in modal_charts">
	                      <div class="col-sm-12">
	                        <h6>{{mchart.title}}</h6>
	                        <v-chart :options="mchart.options" style="width: 100%;"/>
	                      </div>
	                    </div>
	                  </div>
	                  <div class="modal-footer">
	                    <button type="button" class="btn btn-primary" @click="close_modal()">Cerrar</button>
	                  </div>
	                </div>
	              </div>
	            </div>
	         </template>
	         <template v-else="">
	             <div class="text-left">
	         	<a class="btn-primary btn" @click="change_back()" style="color: #fff"> Atras </a>
	              </div>
	         	<div class="row" >
	                  <template v-if="loader">
	                      <div class="loader"></div>
	                  </template>
	                  <template v-else="">
	             		<div class="col-12 col-md-6" style="margin-bottom: 20px; border-top: 1px solid rgba(0,0,0,0.3); padding-top: 10px;" v-for="chart in charts_array">
	             			<v-chart :options="chart" />
	             		</div>
	                  </template>
	         	</div>
	         </template>
	       </div>
</template>

<script>
	import Echarts from 'vue-echarts'
	export default {
		components: {
	    'v-chart': Echarts
	  },
		props: {
			name: { Type: String },
			measure: { Type: String },
			lim_legends: { Type: Object, default: {} },
			id: { Type: String },
			title: { Type: String },
			init_type: { Type: String },
			modal_type: { Type: String },
			initial_data: { Type: Array },
			init_extra_chart: { Type: String },
			secondary_charts_type: { Type: String },
			custom_icon: { Type: String },
			init_work_with_arrays: { Type: String },
			modal_validator: { Type: Boolean },
			extra_chart_validator: { Type: Boolean },
		},

		data () {
			return {
				// Normal type
        chart: {},
        // For modals
        actual_unit: "",
        modal_charts: [],
        performance: 0,
        max_valor: 0,
        // ENd modals
        //Array of charts
        work_with_arrays: false,
        charts_array: [],
        //ENd of arrays
        modal: "modal",

        //Basic information and data
        legends: [],
        arrays_data: {},
       
        //Color for limits
        colors: [],
        categories: [],
        //Series for bar, doug and pie
        simple_series: [],
        type: this.init_type,
        extra_chart: this.init_extra_chart,
        messages: this.initial_data,
        loader: false,
        measure2: ""
			}
		},

		created () {
			this.measure2 = this.measure

      com_data = this.messages
      type = this.type
  		if(type == 'line'){
          this.draw_line()
      }else if(type == 'bar'){
          this.draw_bar()
      }else if(type == 'doug'){
          this.draw_doug()
      }else if(type == 'pie'){
          this.draw_pie()
      }else if(type == 'area'){
          this.draw_area_line()
      }else if(type == 'multicolor_bars'){
          this.draw_bar_multiple_colors_data()
      }
     
      
      //this.draw_bar_multiple_colors_data()
      //this.draw_pie()
      //this.draw_doug()
      //this.draw_bar()
      setTimeout(this.initiate_events,100)
		},

		methods: {
			calculate(array){
  			val = 0
  			if(array.length <= 1){
  				return val
  			}

  			x = array[0]
  			
  			for (var i =  1; i < array.length; i++) {
  				if(array[i] == 0){
  					x = 0
  				}else{
  					if(x == 0){
  						x = array[i]
  					}else if(x < array[i]){
  						val+= array[i] - x
  						x = array[i]
  					}
  				}
  			}
  			return val.toFixed(2)
  		},
  		set_bar_multiple_colors_data(){

  			//Inicializa los arrays
  			name = this.name
  			legends = [];
  			colors = [];
  			min_max_values = [];
  			categories = [];
  			values = {}
  			array_values = {}

  			// Prepara la leyendas, los colores y los valores maximos y minimos 
  			this.lim_legends.forEach(function(legend){
  				legends.push(legend.name);
  				colors.push(legend.color);
  				
  				min_max_values.push({
  					min: legend.min,
  					max:  legend.max == 0 ? Infinity : legend.max 
  				});
  			});


  			for (var key in com_data) {
              // Recorre el array de mensajes
             // Guarda el ultimo index en donde se guardaron los datos 

              last_index = undefined
              com_data[key].forEach(function(data){

                  //Verifica si se tiene la unidad en la leyenda y en los datos a comparar
                  if(!categories.includes(data.name)) {
                      categories.push(data.name);
                      values[data.name] = []
                      array_values[data.name] = {}
                      legends.forEach(function(legend){
                      	array_values[data.name][legend] = {
                      		array: [],
                      		val: 0
                      	}
                      }) 
                  }


                  
                  // Verifica si el valor esta entre el intervalo

                  min_max_values.forEach(function(val,index){

                    if(val.min <= data[name] && data[name] <= val.max){
                    	//Verifica si el ultimo index existe
                    	//Almacena el valor en el array de datos
                    	if(last_index != undefined){
                    		array_values[data.name][legends[last_index]].array.push(data['gps_mileage'])
                    	}

                    	array_values[data.name][legends[index]].array.push(data['gps_mileage'])
                    	// Indica a los diferentes  intervalos que no entraron, para poder realizar calculos en el futuro
                    	legends.forEach(function(legend,ind){
     	
                    		if(ind != index){
                    			array_values[data.name][legends[ind]].array.push(0)  
                    		}
                    	}) 
                    	last_index = index           
                    };
                  }) 
              })
          }

         

          

          
         //Inserta los datos en vue

  			this.arrays_data = array_values
              this.categories = categories
  			this.legends = legends
  			this.colors = colors
  			this.categories = categories
  		},
  		draw_bar_multiple_colors_data(){
  			this.set_bar_multiple_colors_data()
  			element = this
  			this.chart = {
  					  color: this.colors,
					    tooltip : {
					        trigger: 'axis',
					        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
					            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
					        }
					    },
					    legend: {
					        data: this.legends,
                                  type: 'scroll',
					    },
					    grid: {
					        left: '3%',
					        right: '4%',
					        bottom: '3%',
					        containLabel: true
					    },
					    xAxis:  {
					        type: 'value'
					    },
					    yAxis: {
					        type: 'category',
					        data: this.categories,
					        
					    },
					    series: (function(){
                        series_array = []
                        
                        this.legends.forEach(function(legend){
                        	serie = {}
                        	serie.name = legend
                        	serie.type = 'bar'
                        	serie.stack = 'true'
                        	
                        	serie.data = []
                        	for (var key in element.arrays_data){
                        		serie.data.push(element.calculate(element.arrays_data[key][legend].array))
                        	}

                        	series_array.push(serie)
                        })
                        
                        return series_array
                      })()
					};
  		},
      set_line_data(){
      	name = this.name
          //Legends
          legends = [];
          arrays_data = {} 
          arrays_date_aux = []
          //loop for the data

          for (var key in com_data) {
              // Recorre el array de mensajes
              com_data[key].forEach(function(data){

                  //Verifica si se tiene la unidad en la leyenda
                  if(!legends.includes(data.name)) {
                      legends.push(data.name);
                      arrays_data[data.name] = [];
                      arrays_date_aux[data.name] = [];
                  }

                  
                  if(!arrays_date_aux[data.name].includes(data['created_at'])){
                    arrays_date_aux[data.name].push(data['created_at'])
                    arrays_data[data.name].push(
                                              {
                                                name: data.name,
                                                value: [
                                                    data['created_at'],
                                                    data[name]
                                                ] 
                                              }
                                              )
                  }
                  


              })
          }

          
          this.arrays_data = arrays_data
          
          this.legends = legends               
      },
      draw_line(){
          // data preparation
          this.set_line_data()
          //Chart 
          measure = this.measure2
          this.chart = {
                         
                          tooltip: {
                              trigger: 'axis',
                              // formatter: (function(params){
                              //     console.log(measure)
                              //     string = ""
                              //     val = true
                                  
                              //     params.forEach(function(param){
                              //         if(val){
                              //             string += param.axisValueLabel + '<br/>'
                              //             val = false
                              //         }
                              //         string += param.marker + ' ' + param.data.name + ': ' + param.data.value[1] + measure +  '<br/>'
                              //     })

                              //     return string
                              // }),
                              axisPointer: {
                                  type: 'cross',
                                  animation: false,
                                  label: {
                                      backgroundColor: '#505765'
                                  },

                              }
                          },
                          legend: {
                              data: this.legends,
                              type: 'scroll',
                                
                             
                             
                          },
                          grid: {
                            bottom: 80
                          },
                          toolbox: {
                              show: true,
                              orient: 'vertical',
                              top: 60,
                              showTitle: false,
                              feature: {
                                  
                                  magicType: {type: ['line', 'bar']},
                                  restore: {},
                                  saveAsImage: {},

                              }
                          },
                          dataZoom: [
                              {
                                  show: true,
                                  realtime: true,
                                  start: 0,
                                  end: 100
                              },
                              {
                                  type: 'inside',
                                  realtime: true,
                                  start: 0,
                                  end: 100
                              }

                          ],
                          xAxis: {
                              type: 'time',
                              splitLine: {
                                  show: false
                              }
                          },
                          yAxis: {
                              type: 'value',
                              boundaryGap: [0, '100%'],
                              axisLabel: {
                                  formatter: '{value} ' + this.measure
                              }
                          },
                          series: (function(){
                                      series_array = []
                                      for (var key in this.arrays_data){
                                        serie = {}
                                        serie.name = key
                                        serie.type = 'line'
                                        serie.data = this.arrays_data[key]
                                        
                                                                            
                                        
                                        series_array.push(serie)

                                      }
                                      return series_array
                                    })()
                      };
      },
      draw_area_line(){
          // data preparation
          this.set_line_data()
          //Chart 
          
          this.chart = {
                         
                          tooltip: {
                              trigger: 'axis',
                              axisPointer: {
                                  type: 'cross',
                                  animation: false,
                                  label: {
                                      backgroundColor: '#505765'
                                  }
                              }
                          },
                          legend: {
                              data: this.legends,
                              type: 'scroll',
                                
                             
                             
                          },
                          grid: {
                            bottom: 80
                          },
                          toolbox: {
                              show: true,
                              orient: 'vertical',
                              top: 60,
                              showTitle: false,
                              feature: {
                                  
                                  magicType: {type: ['line', 'bar']},
                                  restore: {},
                                  saveAsImage: {},

                              }
                          },
                          dataZoom: [
                              {
                                  show: true,
                                  realtime: true,
                                  start: 0,
                                  end: 100
                              },
                              {
                                  type: 'inside',
                                  realtime: true,
                                  start: 0,
                                  end: 100
                              }

                          ],
                          xAxis: {
                              type: 'time',
                              splitLine: {
                                  show: false
                              }
                          },
                          yAxis: {
                              type: 'value',
                              boundaryGap: [0, '100%'],
                              axisLabel: {
                                  formatter: '{value} ' + this.measure
                              }
                          },
                          series: (function(){
                                      series_array = []
                                      for (var key in this.arrays_data){
                                        serie = {}
                                        serie.name = key
                                        serie.type = 'line'
                                        serie.data = this.arrays_data[key]
                                        
                                        serie.areaStyle = {}                                       
                                        
                                        series_array.push(serie)

                                      }
                                      return series_array
                                    })()
                      };
      },
      set_pie_doug_bar_data(){
      	var colorPalette = ['#2196F3', '#4CAF50', '#F44336', '#3F51B5', '#FFEB3B', '#E91E63', '#FFD54F', '#AED581' , '#FF8A65']
      	i = 0
      	name = this.name
      	//Inicializa los arrays
      	legends = []
      	series = []
      	//Recorre la data para luego introducir los datos
      	for (var key in com_data) {
        	val = com_data[key].length;
        	//Verifica que el array no este vacio
        	if (val > 0){
        		//Seleciona la ultima posicion e introduce la data ademas indica el color
        		color = colorPalette[i]
        		i+= 1
        		if(i > (colorPalette.length - 1)){
        			i = 0
        		}
        		value = com_data[key][val-1]
        		legends.push(value.name)
        		series.push({
        			name: value.name,
        			value: value[name],
        			itemStyle: {
		            color: color
		          }
        		})
        	}else{
        		next()
        	}
        }
        this.legends = legends
        this.simple_series = series
      },

      draw_pie(){
      	this.set_pie_doug_bar_data()
          
          measure = this.measure
      	this.chart = {
										    tooltip : {
										        trigger: 'item',
										        formatter: "{b} : {c} " + measure + " ({d}%)"
										    },
										    legend: {
										        
										        bottom: 10,
										        left: 'center',
										        data: this.legends,
                                                      type: 'scroll',
										    },
										    series: [
										    	{
										    		type: 'pie',
								            radius : '65%',
								            center: ['50%', '50%'],
								            selectedMode: 'multiple',
								            data: this.simple_series
										    	}

										    ],
										    itemStyle: {
												                emphasis: {
												                    shadowBlur: 10,
												                    shadowOffsetX: 0,
												                    shadowColor: 'rgba(0, 0, 0, 0.5)'
												                }
												            }
										    
										};

      },

      draw_doug(){
      	this.set_pie_doug_bar_data()

      	this.chart = {
										    tooltip : {
										        trigger: 'item',
										        formatter: "{b} : {c} ({d}%)"
										    },
										    
										    legend: {
										        orient: 'vertical',
    												x: 'left',
										        data: this.legends,
                                                      type: 'scroll',
										    },
										    series: [
										    	{
										    		label: {
								                normal: {
								                    show: false,
								                    position: 'center'
								                },
								                emphasis: {
								                    show: true,
								                    textStyle: {
								                        fontSize: '20',
								                        fontWeight: 'bold'
								                    },
                                                          align: 'center',
                                                          verticalAlign: 'middle'
								                }
								            },
								            labelLine: {
								                normal: {
								                    show: false
								                }
						            },
								    		type: 'pie',
                                                  avoidLabelOverlap: false,
								            radius : ['100%', '70%'],
								            center: ['50%', '50%'],
								            selectedMode: 'multiple',
								            data: this.simple_series
										    	}

										    ],
										    itemStyle: {
												                emphasis: {
												                    shadowBlur: 10,
												                    shadowOffsetX: 0,
												                    shadowColor: 'rgba(0, 0, 0, 0.5)'
												                }
												            }
										    
										};

      },

      draw_bar(){
      	this.set_pie_doug_bar_data()

      	this.chart = {
      		tooltip : {
										        trigger: 'item',
										        formatter: "{b}: {c}"
										    },
      		 yAxis: {
			        type: 'category',
			        data: this.legends
			      },
			      xAxis: {
			        type: 'value'
			      },
			      series: [{
			        data: this.simple_series,
			        type: 'bar'
			      }],
			      
      	}
      },

      event_handler(param){
          
      	 if (typeof param.seriesIndex != 'undefined') {
      			this.actual_unit = this.chart['series'][param['seriesIndex']]['name']
            this.performance = this.performancef(this.chart['series'][param['seriesIndex']]['data'])
            this.max = this.maxf(this.chart['series'][param['seriesIndex']]['data'])

            this.modal_charts = []
            if(this.modal_validator){
            	this.modal_charts.push({
            		title: "Promedio",
            		options: {
												    tooltip : {
												        formatter: "{a} <br/>{c} {b}"
												    },
												    toolbox: {
												        show: false,
												        feature: {
												            restore: {show: true},
												            saveAsImage: {show: true}
												        }
												    },
												    series : [
												        {
												            
												            type: 'gauge',
												            z: 3,
												            min: 0,
												            max: 220,
												            splitNumber: 11,
												            radius: '80%',
												            axisLine: {            // 坐标轴线
												                lineStyle: {       // 属性lineStyle控制线条样式
												                    width: 10
												                }
												            },
												            axisTick: {            // 坐标轴小标记
												                length: 15,        // 属性length控制线长
												                lineStyle: {       // 属性lineStyle控制线条样式
												                    color: 'auto'
												                }
												            },
												            splitLine: {           // 分隔线
												                length: 20,         // 属性length控制线长
												                lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
												                    color: 'auto'
												                }
												            },
												            axisLabel: {
												                backgroundColor: 'auto',
												                borderRadius: 2,
												                color: '#eee',
												                padding: 3,
												                textShadowBlur: 2,
												                textShadowOffsetX: 1,
												                textShadowOffsetY: 1,
												                textShadowColor: '#222'
												            },
												            title : {
												                // 其余属性默认使用全局文本样式，详见TEXTSTYLE
												                fontWeight: 'bolder',
												                fontSize: 20,
												                fontStyle: 'italic'
												            },
												            detail : {
												                // 其余属性默认使用全局文本样式，详见TEXTSTYLE
												                
												                
												                fontWeight: 'bolder',
												                borderRadius: 3,
												                backgroundColor: '#444',
												                borderColor: '#aaa',
												                shadowBlur: 5,
												                shadowColor: '#333',
												                shadowOffsetX: 0,
												                shadowOffsetY: 3,
												                borderWidth: 2,
												                textBorderColor: '#000',
												                textBorderWidth: 2,
												                textShadowBlur: 2,
												                textShadowColor: '#fff',
												                textShadowOffsetX: 0,
												                textShadowOffsetY: 0,
												                fontFamily: 'Arial',
												                width: 100,
												                color: '#eee',
												                rich: {}
												            },
												            data:[{value: this.performance, name: this.measure}]
												        },
												     ]}
  
  
  


            	})
							this.modal_charts.push({
            		title: "Maximo",
            		options: {
												    tooltip : {
												        formatter: "{a} <br/>{c} {b}"
												    },
												    toolbox: {
												        show: false,
												        feature: {
												            restore: {show: true},
												            saveAsImage: {show: true}
												        }
												    },
												    series : [
												        {
												            
												            type: 'gauge',
												            z: 3,
												            min: 0,
												            max: 220,
												            splitNumber: 11,
												            radius: '80%',
												            axisLine: {            // 坐标轴线
												                lineStyle: {       // 属性lineStyle控制线条样式
												                    width: 10
												                }
												            },
												            axisTick: {            // 坐标轴小标记
												                length: 15,        // 属性length控制线长
												                lineStyle: {       // 属性lineStyle控制线条样式
												                    color: 'auto'
												                }
												            },
												            splitLine: {           // 分隔线
												                length: 20,         // 属性length控制线长
												                lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
												                    color: 'auto'
												                }
												            },
												            axisLabel: {
												                backgroundColor: 'auto',
												                borderRadius: 2,
												                color: '#eee',
												                padding: 3,
												                textShadowBlur: 2,
												                textShadowOffsetX: 1,
												                textShadowOffsetY: 1,
												                textShadowColor: '#222'
												            },
												            title : {
												                // 其余属性默认使用全局文本样式，详见TEXTSTYLE
												                fontWeight: 'bolder',
												                fontSize: 20,
												                fontStyle: 'italic'
												            },
												            detail : {
												                // 其余属性默认使用全局文本样式，详见TEXTSTYLE
												                
												                fontWeight: 'bolder',
												                borderRadius: 3,
												                backgroundColor: '#444',
												                borderColor: '#aaa',
												                shadowBlur: 5,
												                shadowColor: '#333',
												                shadowOffsetX: 0,
												                shadowOffsetY: 3,
												                borderWidth: 2,
												                textBorderColor: '#000',
												                textBorderWidth: 2,
												                textShadowBlur: 2,
												                textShadowColor: '#fff',
												                textShadowOffsetX: 0,
												                textShadowOffsetY: 0,
												                fontFamily: 'Arial',
												                width: 100,
												                color: '#eee',
												                rich: {}
												            },
												            data:[{value: this.max, name: this.measure}]
												        },
												     ]}
  
  
  


            	})
                   $("body").addClass("modal-open");
             $("#modal" + this.id).show();
                  }
        }            
      },

      performancef: function(array){
        
        sum = 0
        count = 0
        array.forEach(function(val){
          if(!isNaN(val.value[1])){
            sum+= val.value[1]
          }else{
            count+=1
          }
        })
        if (sum == 0){
          return 0
        }
        performance = sum/(array.length - count)
        
        return Math.round(performance)
      },

      maxf: function(array){
        array_val = []
        
        array.forEach(function(val){
          if(!isNaN(val.value[1])){
              array_val.push(val.value[1])

          }else{

          }
        })
       
        return this.getMaxOfArray(array_val)
        
      },
      getMaxOfArray: function(numArray) {
        return Math.max.apply(null, numArray);
      },
      close_modal: function(){
           $("body").removeClass("modal-open")
       	 $("#modal" + this.id).hide();
       },

      initiate_events(){
      	
      	this.$refs.chart.chart.on('click', this.event_handler);
    		this.$refs.chart.chart.on('dblclick', this.event_handler);
      },
      change(id){
          

          this.work_with_arrays = true 
          val = this.prepare_charts_array()
          
          if(val == true){
              $(".chart").addClass("chart-hide")
              $("." + 'chart-' + this.id).removeClass("chart-hide")
              $("." + 'chart-' + this.id).removeClass("col-sm-6")
          }
          $("html, body").animate({ scrollTop: 0 }, "slow");

          
          
          
      },
      change_back(){
          this.work_with_arrays = false
          $("." + 'chart-' + this.id).addClass("col-sm-6")
          $(".chart").removeClass("chart-hide")
      },
      prepare_data_charts_array(){

  			//Inicializa los arrays
  			name = this.name
  			legends = [];
  			colors = [];
  			min_max_values = [];
  			categories = [];
  			values = {}
  			array_values = {}

  			// Prepara la leyendas, los colores y los valores maximos y minimos 
  			this.lim_legends.forEach(function(legend){
  				legends.push(legend.name);
  				colors.push(legend.color);
  				
  				min_max_values.push({
  					min: legend.min,
  					max:  legend.max == 0 ? Infinity : legend.max 
  				});
  			});


  			for (var key in com_data) {
              // Recorre el array de mensajes
             // Guarda el ultimo index en donde se guardaron los datos 

              last_index = undefined
              com_data[key].forEach(function(data){

                  //Verifica si se tiene la unidad en la leyenda y en los datos a comparar
                  if(!categories.includes(data.name)) {
                      categories.push(data.name);
                      values[data.name] = []
                      array_values[data.name] = {}
                      legends.forEach(function(legend){
                      	array_values[data.name][legend] = 0

                      }) 
                  }


                  
                  // Verifica si el valor esta entre el intervalo

                  min_max_values.forEach(function(val,index){

                    if(val.min <= data[name] && data[name] <= val.max){
                    	//Verifica si el ultimo index existe
                    	//Almacena el valor en el array de datos
                    	

                    	array_values[data.name][legends[index]]+= 1        
                    };
                  }) 
              })
          }

         

          

          
         //Inserta los datos en vue

  			this.arrays_data = array_values
              this.categories = categories
  			this.legends = legends
  			this.colors = colors
  			this.categories = categories
  			return array_values
  			
  		},
  		prepare_charts_array(){
  			data = undefined
  			data = this.prepare_data_charts_array()


  			for( var key in data){
  				
  				series = []
  				this.legends.forEach(function(legend,index){
  					
  					series.push({
  						name: legend,
  						value: data[key][legend],
  						itemStyle: {
		            color: this.colors[index]
		          }
  						
  					})
  				})

  				if(this.secondary_charts_type == 'pie'){
  					this.charts_array.push({
  											title : {
										        text: key,
										        x:'center'
										    },
										    tooltip : {
										        trigger: 'item',
										        formatter: "{b} : {c} ({d}%)"
										    },
										    legend: {
										        
										        bottom: 10,
										        left: 'center',
										        data: this.legends,
                                                      type: 'scroll',
										    },
										    series: [
										    	{
										    		type: 'pie',
								            radius : '65%',
								            center: ['50%', '50%'],
								            selectedMode: 'multiple',
								            data: series
										    	}

										    ],
										    itemStyle: {
												                emphasis: {
												                    shadowBlur: 10,
												                    shadowOffsetX: 0,
												                    shadowColor: 'rgba(0, 0, 0, 0.5)'
												                }
												            }
										    
										})
  				}else if(this.secondary_charts_type == 'donut'){
  					this.charts_array.push({
  											title : {
										        text: key,
										        x:'center'
										    },
										    tooltip : {
										        trigger: 'item',
										        formatter: "{b} : {c} ({d}%)"
										    },
										    
										    legend: {
										        orient: 'vertical',
    												x: 'left',
										        data: this.legends,
                                                      type: 'scroll',
										    },
										    series: [
										    	{
										    		label: {
								                normal: {
								                    show: false,
								                    position: 'center'
								                },
								                emphasis: {
								                    show: true,
								                    textStyle: {
								                        fontSize: '20',
								                        fontWeight: 'bold'
								                    }
								                }
								            },
								            labelLine: {
								                normal: {
								                    show: false
								                }
						            },
								    		type: 'pie',
                                                  avoidLabelOverlap: false,
								            radius : ['70%', '40%'],
								            center: ['50%', '50%'],
								            selectedMode: 'multiple',
								            data: series
										    	}

										    ],
										    itemStyle: {
						                emphasis: {
						                    shadowBlur: 10,
						                    shadowOffsetX: 0,
						                    shadowColor: 'rgba(0, 0, 0, 0.5)'
						                }
						            }
										    
										})
  				}
  			}
              return true
  		},

  		change_chart(type){
  			com_data = this.messages
  			this.type = type
  			if(type == 'line'){
  				this.draw_line()
  			}else if(type == 'bar'){
  				this.draw_bar()
  			}else if(type == 'doug'){
  				this.draw_doug()
  			}else if(type == 'pie'){
  				this.draw_pie()
  			}else if(type == 'area'){
  				this.draw_area_line()
  			}else if(type == 'multicolor_bars'){
  				this.draw_bar_multiple_colors_data()
  			}
        console.log(this.chart)
  		},
      updateData: function(data){
            this.messages = data
            this.reDraw(data)
      },

      reDraw(data){
          
          type = this.type
          com_data = data
          if(type == 'line'){
              this.draw_line()
          }else if(type == 'bar'){
              this.draw_bar()
          }else if(type == 'doug'){
              this.draw_doug()
          }else if(type == 'pie'){
              this.draw_pie()
          }else if(type == 'area'){
              this.draw_area_line()
          }else if(type == 'multicolor_bars'){
              this.draw_bar_multiple_colors_data()
          }
          console.log(this.chart)
      },
		}
	}

</script>