<template>
  <div id="app">
   <v-app light>
    <v-toolbar class="white">
      <v-toolbar-title v-text="title"></v-toolbar-title>
    </v-toolbar>
    <v-content>
      <section>
        <v-parallax src="assets/Taller2.jpeg" height="600">
          <v-layout
            column
            align-center
            justify-center
            class="white--text"
          >
            <h1 class="white--text mb-2 display-1 text-xs-center inc">Berry</h1>
            <div class="subheading mb-3 text-xs-center inc">Gestión y Mantenimiento de Vehículos</div>
            <v-btn
              class="blue lighten-2 mt-5 inc"
              dark
              large
              @click="login"
            >
              Iniciar
            </v-btn>
          </v-layout>
        </v-parallax>
      </section>

      <section>
        <v-layout
          column
          wrap
          class="my-5"
          align-center
        >
          <v-flex xs12 sm4 class="my-3">
            <div class="text-xs-center">
              <h2 class="headline inc">La mejor forma de administrar el mantenimiento de tu vehículo.</h2>
              <span class="subheading inc">
                <p>Fácil y potente</p>
              </span>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap align-center>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">color_lens</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-xs-center">Organización</div>
                    </v-card-title>
                    <v-card-text>
                      <p>Todo vehículo necesita mantenimiento pero resulta dificil administrar y organizar que parte se debe mantener, el tiempo necesario, etc. Berry es la solución, administra, programa y organiza el mantenimiento de tu vehículo.</p>
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">flash_on</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline">Interfaz Sencilla</div>
                    </v-card-title>
                    <v-card-text>
                      <p>Berry posee una interfaz muy sencilla y fácil de aprender, en cuestión de poco tiempo lograrás crear tu propio servicio de mantenimiento para tu vehículo.</p> 
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">build</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-xs-center">Personalización</div>
                    </v-card-title>
                    <v-card-text>
                      <p>Tu tienes el control, administre y controle todas las funciones del sistema. Tu experiencia es personalizada, la página se adapta a tus gustos.</p>
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>

      <section>
        <v-parallax src="assets/taller.jpg" height="380">
          <v-layout column align-center justify-center>
            <div class="headline white--text mb-3 text-xs-center inc">Mantener tu vehículo nunca fue tan fácil</div>
            <em>Comienze a utilizar la aplicación</em>
            <v-btn
              class="blue lighten-2 mt-5 inc"
              dark
              large
              @click="login"
            >
              Empezar
            </v-btn>
          </v-layout>
        </v-parallax>
      </section>

      <section>
        <v-container grid-list-xl>
          <v-layout row wrap justify-center class="my-5">
            <v-flex xs12 sm4>
              <v-card class="elevation-0 transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">Conócenos</div>
                </v-card-title>
                <v-card-text>
                  <p>Somos desarrolladores destacados que buscamos siempre mejorar y facilitar las tareas a las personas, a través de sistemas avanzados de software fáciles de utilizar e intituivos.</p>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 sm4 offset-sm1>
              <v-card class="elevation-0 transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">Contáctanos</div>
                </v-card-title>
                <v-card-text>
                  Estamos a tu disposición, cualquier duda o sugerencia por favor contáctenos.
                </v-card-text>
                <v-list class="transparent">
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">phone</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>0424-4162596</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">place</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>San Diego, Valencia</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">email</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>admin@berry.com</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </section>

      <v-footer class="blue darken-2">
        <v-layout row wrap align-center>
          <v-flex xs12>
            <div class="white--text ml-3">
              Hecho con
              <v-icon class="red--text">favorite</v-icon>
            </div>
          </v-flex>
        </v-layout>
      </v-footer>
    </v-content>
  </v-app>
 </div>

</template>

<script>
  export default {
    data () {
      return {
        title: "Berry"
      }
    },

    methods: {
      login () {
        this.$router.push('/Sessions/New')
      }
    }
  }
</script>

<style>
  p:hover, .inc:hover, em:hover, v-list-tile-title:hover {
    transform: scale(1.3);
    font-style: bold;
  }
</style>