<template>
  <v-layout wrap justify-space-around align-center>
    <v-flex
      justify-center
      align-center
      column
      style="z-index: 1; text-align: center;"
      xs10
      sm6
      md4
      color="white">
      <v-card
        color="rgba(255,255,255,0.7)">
        <v-avatar
          size="150">
          <img :src="whitelabel.logo">
        </v-avatar>
        <h3 style="text-shadow: 0px 0px 8px #000; font-weight: bold !important;" class="black--text pa-0 ma-0">{{ brand.toUpperCase() }}</h3>
        <small class="black--text" style="font-size: 1em; text-shadow: 0px 0px 8px #000;">{{ pageTitle.toUpperCase() }}</small>
        <br>
        <small v-if="showSlogan" class="black--text" style="font-size: 1em; text-shadow: 0px 0px 8px #000; border-top: 1px solid rgba(0,0,0,0.5);">{{ $t('app.slogan').toUpperCase() }}</small>
      </v-card>
    </v-flex>
    <v-flex
      justify-center
      align-center
      column
      xs10
      sm6
      md4>
      <v-card>
        <v-card-title class="pa-0 pt-2">
          <h5 style="width: 100%; font-size: 1.5em !important; font-weight: 400 !important; text-align: center;" class="primary--text ma-0">{{ $t('login.login').toUpperCase() }}</h5>
        </v-card-title>
        <v-form>
          <v-container>
            <v-text-field
              prepend-icon="account_circle"
              v-model="username"
              name="username"
              :label="$t('login.username')"
              @keyup="submitForm" />
            <v-text-field
              prepend-icon="vpn_key"
              v-model="password"
              type="password"
              name="password"
              :label="$t('login.password')"
              @keyup="submitForm" />
          </v-container>

          <v-card-actions style="justify-content:center">
            <v-layout row align-center justify-space-around grow>
              
              <g-button @click="home">Regresar a Home</g-button>
              <v-spacer class="ma-1" />
              <g-button :state="buttonState" @click="login">{{ $t('login.login') }}</g-button>
              
              <!-- <v-btn color="error">{{ $t('login.forgot') }}</v-btn> -->
              
              <!-- <v-btn flat color="primary" to="/Sessions/Register">{{ $t('login.signUp') }}</v-btn> -->
            </v-layout>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import GButton from '@/components/Button.vue'
import gql from 'graphql-tag'
import { mapState, mapActions } from 'vuex'

export default {
  components: {
    GButton
  },

  data () {
    return {
      username: '',
      password: '',
    }
  },

  computed: {
    ...mapState(['whitelabel', 'buttonState']),

    brand () {
      if (window.location.hostname === this.$store.state.mainDomain || this.$store.state.isLocal) {
        return this.$i18n.t('app.brand')
      } else {
        return this.whitelabel.brand
      }
    },

    pageTitle () {
      if (window.location.hostname === this.$store.state.mainDomain || this.$store.state.isLocal) {
        return this.$i18n.t('app.title')
      } else {
        return this.whitelabel.pageTitle
      }
    },

    showSlogan () {
      return window.location.hostname === this.$store.state.mainDomain || this.$store.state.isLocal
    }
  },

  created () {
    window.addEventListener('resize', () => {
      this.screenWidth = window.innerWidth
    })

    let apiToken = sessionStorage['apiToken']

    if (apiToken === undefined) {
      this.$store.commit('toggleAlert', {
        type: 'primary',
        message: this.$i18n.t('errors.authenticationRequired')
      })
    } else {
      let result = this.loadUserInformation({ apiToken, router: this.$router, i18n: this.$i18n })

      console.log(result)

      if (result) {
        this.$store.commit('toggleAlert', {
          type: 'primary',
          message: this.$i18n.t('login.success')
        })
      }
    }
  },

  methods: {
    ...mapActions(['loadUserInformation']),

    home () {
      this.$router.push('/Main/Home')
    },

    submitForm (e) {
      if (e.keyCode === 13) {
        this.login()
      }
    },

    async login () {
      this.$store.commit('setButtonState', true)

      await this.$apollo.mutate({
        mutation: gql`mutation ($username: String!, $password: String!){
          authenticate(input: {
            username: $username,
            password: $password
          }) {
            status
            errors
            auth {
              ...on Operator {
                apiToken
              }
            }
          }
        }`,

        variables: {
          username: this.username,
          password: this.password
        }
      }).then(response => {
        let data = response.data.authenticate

        if (data.status) {
          sessionStorage.setItem('apiToken', data.auth.apiToken)
          this.loadUserInformation({ apiToken: data.auth.apiToken, router: this.$router, i18n: this.$i18n })
          return true
        } else {
          this.$store.commit('toggleAlert', {
            type: 'warning',
            message: data.errors[0],
            options: {
              left: false,
              right: false,
              top: false,
              bottom: true
            }
          })
        }
      }).catch(error => {
        this.$store.commit('toggleAlert', {
          type: 'error',
          message: this.$i18n.t('errors.internalError'),
          options: {
            left: false,
            right: false,
            top: false,
            bottom: true
          }
        })
      })
      this.$store.commit('setButtonState', false)
    }
  }
}
</script>
