<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
    pt-0
  >
    <v-layout wrap>
      <v-flex xs12>
        <material-card color="primary">
          <h5 slot="header" style="margin: 0; padding: 0;">{{ $t('home.maintenancesMonitor') }}</h5>
          <v-container grid-list-xl fluid fill-height>
            <v-layout row wrap pa-3 align-center justify-center>
              <v-flex xs12 sm6>
                <v-card
                  class="mx-auto text-xs-center"
                  color="green"
                  dark
                  max-width="600"
                >
                  <v-card-text>
                    <v-sheet color="rgba(0, 0, 0, .12)">
                      <v-sparkline
                        :value="value"
                        color="rgba(255, 255, 255, .7)"
                        height="100"
                        padding="24"
                        stroke-linecap="round"
                        smooth
                      >
                        <template slot="label" slot-scope="item">
                          ${{ item.value }}
                        </template>
                      </v-sparkline>
                    </v-sheet>
                  </v-card-text>

                  <v-card-text>
                    <div class="display-1 font-weight-thin">Gastos en las última semana</div>
                  </v-card-text>

                  <v-divider></v-divider>

                  <v-card-actions class="justify-center">
                    <v-btn block flat>Go to Report</v-btn>
                  </v-card-actions>
                </v-card>
              </v-flex>
              <v-flex xs12 sm6>
                <v-card
                  class="mt-3 mx-auto"
                  max-width="600"
                >
                  <v-sheet
                    class="v-sheet--offset mx-auto"
                    color="cyan"
                    elevation="12"
                    max-width="calc(100% - 32px)"
                  >
                    <v-sparkline
                      :labels="labels"
                      :value="value"
                      color="white"
                      line-width="2"
                      height="100"
                      padding="20"
                      label-size="20"
                    ></v-sparkline>
                  </v-sheet>

                  <v-card-text class="pt-0">
                    <div class="title font-weight-light mb-2">
                    Servicios Activos</div>
                    <div class="subheading font-weight-light grey--text">Cantidad de servicios activos por día</div>
                    <v-divider class="my-2"></v-divider>
                    <v-icon
                      class="mr-2"
                      small
                    >
                      mdi-clock
                    </v-icon>
                    <span class="caption grey--text font-weight-light">Último servicio creado hace 20 minutos.</span>
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import MaterialCard from '@/components/material/Card.vue'
import { mapState } from 'vuex'

export default {
  data () {
    return {
      labels: [
        'Lunes',
        'Martes',
        'Miércoles',
        'Jueves',
        'Viernes',
        'Sábado',
        'Domingo'
      ],
      value: [
        200,
        675,
        410,
        390,
        310,
        460,
        250
      ]
    }
  },
  components: {
    MaterialCard
  },

  computed: {
    ...mapState(['services', 'serviceRecords'])
  }
}
</script>

<style>
.v-sheet--offset {
    top: -24px;
    position: relative;
  }
</style>
