<template>
  <v-container pt-0 fluid>
    <v-layout row wrap>
      <v-flex>
        <material-card
          color="primary"
        >
        <v-layout row wrap slot="header" justify-space-between align-center>
          <h4 style="padding: 0; margin: 0;">{{ $t(`pages.${$route.name}`) }}</h4>
          
          <v-tooltip bottom>
            <v-btn slot="activator" @click="newItem" flat icon round color="white" ma-0 style="margin: 0;">
              <v-icon>mdi-plus-circle</v-icon>
            </v-btn>  

            <span>{{ $t('monitorists.titleNew') }}</span>
          </v-tooltip>
        </v-layout>
        <v-text-field
          v-model="search"
          append-icon="search"
          :label="$t('actions.search')"
          single-line
          hide-details
        ></v-text-field>
        <v-data-table
          :headers="headers"
          :items="monitorists"
          :search="search"
          next-icon="mdi-chevron-right"
          prev-icon="mdi-chevron-left"
        >
          <template slot="items" slot-scope="props">
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.username }}</td>
            <td>{{ enabledApps(props.item.appPermissions).map((item, index, arr) => { return $t(`monitorists.apps.${item}`) }).join(", ") }}</td>
            <td style="text-align: right; padding: 0;">
              <v-btn flat icon round color="info" @click="showItem(props.item.id)">
                <v-icon>mdi-file-find-outline</v-icon>
              </v-btn>
              <v-btn flat icon round color="warning" @click="editItem(props.item.id)">
                <v-icon>mdi-file-document-edit-outline</v-icon>
              </v-btn>
              <v-btn flat icon round color="error" @click="deleteItem(props.item.id)">
                <v-icon>mdi-file-cancel-outline</v-icon>
              </v-btn>
            </td>
          </template>
          <v-alert slot="no-results" :value="true" color="error" icon="warning">{{ $t('helpers.notFound', { search }) }}</v-alert>
        </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>

    <v-dialog
      v-model="formModal"
      scrollable
      id="formModal"
      persistent
      :overlay="false"
      :max-width="maxWidth"
      transition="dialog-transition"
    >
      <v-card>
        <v-card-title class="headline primary elevation-3" style="text-align: center;"><h5 class="white--text ma-0">{{ title }}</h5></v-card-title>
      
          <v-layout row wrap pa-3 align-center justify-center>
            <v-flex xs12 sm6>
              <v-text-field
                :label="$t('monitorists.name')"
                prepend-icon="mdi-account-card-details-outline"
                :disabled="showMode"
                v-model="object.name"
                :error="objectErrors.name !== undefined"
                :error-messages="parseErrors(objectErrors.name)" />
            </v-flex>

            <v-flex xs12 sm6>
              <v-text-field
                :label="$t('monitorists.username')"
                prepend-icon="mdi-account-card-details-outline"
                :disabled="showMode"
                v-model="object.username"
                :error="objectErrors.username !== undefined"
                :error-messages="parseErrors(objectErrors.username)" />
            </v-flex>

            <v-flex xs12 sm6>
              <v-text-field
                :label="$t('monitorists.phone')"
                prepend-icon="mdi-account-card-details-outline"
                :disabled="showMode"
                v-model="object.phone"
                :error="objectErrors.phone !== undefined"
                :error-messages="parseErrors(objectErrors.phone)" />
            </v-flex>

            <v-flex xs12 sm6>
              <v-text-field
                :label="$t('monitorists.email')"
                prepend-icon="mdi-account-card-details-outline"
                :disabled="showMode"
                v-model="object.email"
                :error="objectErrors.email !== undefined"
                :error-messages="parseErrors(objectErrors.email)" />
            </v-flex>

            <!-- <v-flex v-show="!showMode && object.id === undefined" xs12 sm6>
              <v-text-field
                :label="$t('monitorists.password')"
                prepend-icon="mdi-account-key-outline"
                :append-icon="(showPassword ? 'mdi-eye-off-outline' : 'mdi-eye-outline')"
                :disabled="showMode"
                :type="(showPassword ? 'text' : 'password')"
                v-model="object.password"
                :error="objectErrors.password !== undefined"
                @click:append="showPassword = !showPassword"
                :error-messages="parseErrors(objectErrors.password)" />
            </v-flex> -->

            <v-flex xs12>

              <v-select
                v-model="object.units"
                :items="units"
                :label="$t('services.units')"
                multiple
                deletable-chips
                item-value="id"
                attach
                prepend-icon="mdi-car"
                :error="objectErrors.units !== undefined"
                :error-messages="parseErrors(objectErrors.units)"
                :disabled="showMode"
              >
                <template slot="item" slot-scope="{item}">
                  {{item.name}}
                </template>

                <template slot="selection" slot-scope="{item}">
                  <span>
                    <v-chip small color="primary">{{ item.name }}</v-chip>
                  </span>
                </template>
              </v-select>
            </v-flex>
          </v-layout>
          

        <v-card-actions v-if="!showMode">
          <v-spacer />
          <v-btn flat color="error" @click="discardChanges">{{ $t('actions.discardChanges') }}</v-btn>

          <v-btn flat color="primary" v-if="object.id !== undefined" @click="saveChanges">{{ $t('actions.saveChanges') }}</v-btn>
          
          <v-btn flat color="primary" v-else-if="object.id === undefined" @click="createItem">{{ $t('actions.createItem', { name: $t('monitorists.objectName')}) }}</v-btn>
          <v-btn flat color="primary" v-else-if="showPermissions" @click="nextTab">{{ $t('actions.next') }}</v-btn>
        </v-card-actions>

        <v-card-actions v-else>
          <v-spacer />
          <v-btn flat color="error" @click="discardChanges">{{ $t('actions.close') }}</v-btn>
          <v-btn flat color="primary" @click="editItem(object.id)">{{ $t('actions.editItem', { name: $t('monitorists.objectName')}) }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import GTable from '@/components/GoldenMTable.vue'
import { mapState } from 'vuex'
import gql from 'graphql-tag'

export default {
  components: {
    GTable
  },

  data () {
    return {
      showPassword: false,
      activeTab: 0,
      formModal: false,
      showMode: true,
      object: {},
      objectErrors: {},
      search: '',
      headers: [
        {
          text: this.$i18n.t('monitorists.name'),
          align: 'left',
          sortable: true,
          value: 'name'
        },
        {
          text: this.$i18n.t('monitorists.username'),
          align: 'left',
          sortable: true,
          value: 'username'
        },
        {
          text: this.$i18n.t('helpers.actions'),
          align: 'right',
          sortable: false,
          value: 'actions'
        }
      ],
    }
  },

  created () {
    this.object = this.defaultObject
  },

  computed: {
    ... mapState(['monitorists', 'user', 'units']),

    showPermissions () {
      let object = this.object

      return object.name.length > 0 && object.lastName.length > 0 && object.email.length > 0 && object.username.length > 0 && (object.password.length > 0 || object.id !== undefined)
    },

    defaultObject () {
      return {
        id: undefined,
        name: '',
        username: '',
        email: '',
        units: [],
        phone: ''
      }
    },

    maxWidth () {
      return window.innerWidth / 8 * 7
    },

    title () {
      if (this.showMode) {
        return this.$i18n.t('monitorists.titleShow', { name: this.object.username })
      } else {
        if (this.object.id === undefined) {
          return this.$i18n.t('monitorists.titleNew')
        } else {
          return this.$i18n.t('monitorists.titleEdit', { name: this.object.username })
        }
      }
    },

    maxSize () {
      let maxHeight = window.innerHeight / 8 * 5
      return `height: ${maxHeight}px; overflow-y: scroll;`
    }
  },

  methods: {
    getColor (app) {
      if (this.scanApp(app)) {
        return 'primary'
      } else {
        return 'error'
      }
    },

    getText (app) {
      if (this.scanApp(app)) {
        return this.$i18n.t('helpers.selectAll')
      } else {
        return this.$i18n.t('helpers.deselectAll')
      }
    },

    scanApp (app) {
      let permissions = this.object[app]
      let flag = false

      for (let i in permissions) {
        if (permissions[i]) {
          flag = true
        }
      }

      return !flag
    },

    toggleAll (app) {
      let flag = this.scanApp(app)

      for (let i in this.object[app]) {
        this.object[app][i] = flag
      }
    },

    enabledApps (object) {
      let apps = []

      for (let key in object) {
        if (object[key]) {
          apps.push(key)
        }
      }

      return apps
    },

    nextTab () {
      if (this.activeTab < 9) {
        this.activeTab++
      }
    },

    parseErrors (array) {
      if (array === undefined) {
        return []
      }

      return array.map((currentValue, index, array) => {
        return currentValue.charAt(0).toUpperCase() + currentValue.substr(1)
      }).join(", ")
    },

    saveChanges () {
      this.graphQLWrapper('editMonitorist')
    },

    async editItem (id) {
      await this.showItem(id)
      this.showMode = false
      
    },

    async showItem (id) {
      await this.$apollo.query({
        query: gql`query ($id:Int!, $apiToken:String!) {
          monitorist(id:$id, apiToken:$apiToken) {
            status,
            errors,
            monitorist {
              id,
              username,
              name,
              email,
              phone,
              units {
                id
              }
            }
          }
        }`,
        variables: {
          id,
          apiToken: this.user.apiToken
        },
        fetchPolicy: 'no-cache'
      }).then(response => {
        let { monitorist, status } = response.data.monitorist

        if (status) {
          this.object = {
            ... monitorist,
            password: ""
          }
          this.formModal = true
          this.showMode = true
        } else {
          this.$store.commit('toggleAlert', {
            type: 'error',
            message: this.$i18n.t('errors.internalError')
          })
        }
      }).catch(error => {
        this.$store.commit('toggleAlert', {
          type: 'error',
          message: this.$i18n.t('errors.internalError')
        })
      })
    },

    async deleteItem (id) {
      this.$store.dispatch('deleteItem', {
        mutation: {
          graphql: 'deleteMonitorist',
          vuex: 'updateMonitorists'
        },
        object: {
          name: 'monitorists',
          fields: `{
            id,
            name,
            username
          }`
        },
        variables: {
          id,
          apiToken: this.user.apiToken
        }
      })
    },

    discardChanges () {
      this.objectErrors = {}
      this.object = {}
      this.object = this.defaultObject
      this.formModal = false
      this.showMode = true
    },

    newItem () {
      this.objectErrors = {}
      this.object = {}
      this.object = this.defaultObject
      this.formModal = true
      this.showMode = false
      this.activeTab = 0
      
    },

    createItem () {
      this.graphQLWrapper('addMonitorist')
    },

    graphQLWrapper (mutationName) {
      this.$apollo.mutate({
        mutation: gql`mutation (${mutationName.includes('add') ? '' : '$id:Int!,'}$username:String!,$name:String!,$email:String!,$apiToken:String!,$units:[Int!],$phone:String!) {
          ${mutationName}(input:{
            ${mutationName.includes('add') ? '' : 'id:$id,'}
            username:$username,
            name:$name,
            email:$email,
            apiToken:$apiToken,
            units:$units,
            phone:$phone
          }) {
            status,
            errors,
            monitorist {
              id,
              username,
              name,
              email,
              phone,
              units {
                id
                name: wialonName
              }
            }
          }
        }`,
        variables: {
          ... this.object,
          apiToken: this.user.apiToken
        }
      }).then(response => {
        let { status, errors, monitorist } = response.data[mutationName]

        if (status) {
          this.object = {
            ... monitorist,
            password: ""
          }
          this.objectErrors = {}
          this.showMode = true
          this.$store.dispatch('getMonitorists')
        } else {
          this.objectErrors = errors
          this.$store.commit('toggleAlert', {
          type: 'error',
          message: this.$i18n.t('errors.invalidFields')
        })
        }
      }).catch(error => {
        this.$store.commit('toggleAlert', {
          type: 'error',
          message: this.$i18n.t('errors.internalError')
        })
      })
    }
  }
}
</script> 