<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
    pt-0
  >
    <v-layout wrap>
      <v-flex xs12>
        <material-card color="primary">
          <h5 slot="header" style="margin: 0; padding: 0;">{{ $t('home.operationsMonitor') }}</h5>
          <vue-duallist :options="units" :selected="selected" :titles="titles" />

          <v-container grid-list-xl fluid fill-height>
            <v-layout row wrap pa-3 align-center>
              <v-flex xs12 sm5>
                <v-btn :color="interval == 'custom' ? 'primary' : 'secondary'" @click="interval = 'custom'">{{ $t('operations.custom')}}</v-btn>
                <v-btn :color="interval == 'today' ? 'primary' : 'secondary'" @click="interval = 'today'">{{ $t('operations.today')}}</v-btn>
                <v-btn :color="interval == 'week' ? 'primary' : 'secondary'" @click="interval = 'week'">{{ $t('operations.week')}}</v-btn>
                <v-btn :color="interval == 'month' ? 'primary' : 'secondary'" @click="interval = 'month'">{{ $t('operations.month')}}</v-btn>
              </v-flex>
              <v-flex xs12 sm7 md3>
                <template v-if="interval == 'custom'">
                  <!-- <v-menu
                    v-model="dateMenu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <template slot="activator" slot-scope="{ on }">
                      <v-text-field
                        v-model="start"
                        :label="$t('operations.date_start')"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="start" @input="dateMenu = false" :max="maxDate"></v-date-picker>
                  </v-menu> -->
                  <v-datetime-picker
                    :label="$t('operations.date_start')"
                    v-model="start"
                    locale="es"
                    :max="maxDate"
                    format="DD-MM-YYYY HH:mm:ss"
                    prepend-icon="mdi-calendar"
                  >
                  </v-datetime-picker>
                </template>
              </v-flex>
              <v-flex xs12 sm7 md3>
                <template v-if="interval == 'custom'">
                  <!-- <v-menu
                    v-model="dateMenu2"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <template slot="activator" slot-scope="{ on }">
                      <v-text-field
                        v-model="end"
                        :label="$t('operations.date_end')"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="end" @input="dateMenu2 = false" :max="maxDate"></v-date-picker>
                  </v-menu> -->
                  <v-datetime-picker
                    :label="$t('operations.date_end')"
                    v-model="end"
                    locale="es"
                    :max="maxDate"
                    format="DD-MM-YYYY HH:mm:ss"
                    prepend-icon="mdi-calendar"
                  >
                  </v-datetime-picker>
                </template>
              </v-flex>

               
            </v-layout>
          </v-container>
          <h3 style="margin: 0; padding-left: 30px;">Excesos de velocidad </h3>
          <v-container grid-list-xl fluid fill-height>
            <v-layout row wrap pa-3 align-center justify-center>
              <v-flex xs12 sm6> 
                <v-chart :options="bar" />
              </v-flex>
              <v-flex xs12 sm6> 
                <v-chart :options="barPie" />
              </v-flex>
              <v-flex xs12 sm6> 
                <v-chart :options="donut" />
              </v-flex>
              <v-flex xs12 sm6> 
                <v-chart :options="line" />
              </v-flex>
            </v-layout>
          </v-container>
          
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import MaterialCard from '@/components/material/Card.vue'
import { mapState } from 'vuex'
import Echarts from 'vue-echarts'
import VueDualList from '@/components/VueDualList.vue'
import DatetimePicker from 'vuetify-datetime-picker'

export default {
  components: {
    MaterialCard,
    'v-chart': Echarts,
    'vue-duallist': VueDualList,
    DatetimePicker
  },

  computed: {
    ...mapState(['accounts', 'operators', 'units'])
  },

  data () {
    return {
      interval: 'custom',
      polar: {},
      line: {},
      donut: {},
      barPie: {},
      bar: {},
      options: [],
      dateMenu: false,
      dateMenu2: false,
      start: new Date().now,
      end: new Date().now,
      maxDate: new Date().now,
      titles: {
        list1: "Unidades disponibles",
        list2: "Unidades seleccionadas"
      },
      selected: []
    }
  },

  mounted () {
    this.bar = {
      xAxis: {
        type: 'category',
        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
      },
      yAxis: {
        type: 'value'
      },
      series: [{
        data: [120, 200, 150, 80, 70, 110, 130],
        type: 'bar'
      }]
    },
    this.barPie = {
      tooltip : {
          trigger: 'item',
          formatter: "{a} <br/>{b} : {c} ({d}%)"
      },
      legend: {
          bottom: 10,
          left: 'center',
          data: ['Caliber','Mustang GT','4Runner'],
          type: 'scroll',
      },
      series: [
        {
          type: 'pie',
          radius : '65%',
          center: ['50%', '50%'],
          selectedMode: 'multiple',
          data: [
            {value: 30, name: 'Caliber'},
            {value: 60, name: 'Mustang GT'},
            {value: 50, name: '4Runner'},
          ]
        }

      ],
      itemStyle: {
          emphasis: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
          }
        }
      },
    this.donut = {
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            x: 'left',
            data:['Dato1','Dato2','Dato3','Dato4','Dato5']
        },
        series: [
            {
                name:'Donut',
                type:'pie',
                radius: ['50%', '70%'],
                avoidLabelOverlap: false,
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data:[
                    {value:335, name:'Dato1'},
                    {value:310, name:'Dato2'},
                    {value:234, name:'Dato3'},
                    {value:135, name:'Dato4'},
                    {value:1548, name:'Dato5'}
                ]
            }
        ]

    },
    this.line = {
      xAxis: {
        type: 'category',
        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
      },
      yAxis: {
          type: 'value'
      },
      series: [{
          data: [820, 932, 901, 934, 1290, 1330, 1320],
          type: 'line'
      }]
    }
  }
}
</script>
