<template>
  <v-container pt-0 fluid>
    <v-layout row wrap>
      <v-flex>
        <material-card
          color="primary"
        >
          <v-layout slot="header" row wrap justify-space-between align-center>
            <h4 style="padding: 0; margin: 0;">{{ $t(`pages.${$route.name}`) }}</h4>
            
            <v-tooltip bottom>
              <v-btn
                slot="activator"
                color="white"
                flat
                icon
                ma-0
                round
                style="margin: 0;"
                @click="newItem"
              >
                <v-icon>mdi-plus-circle</v-icon>
              </v-btn>  

              <span>{{ $t('parameters.titleNew') }}</span>
            </v-tooltip>
          </v-layout>
          <v-text-field
            v-model="search"
            append-icon="search"
            :label="$t('actions.search')"
            single-line
            hide-details
          />
          <v-data-table
            :headers="headers"
            :items="parameters"
            :search="search"
            next-icon="mdi-chevron-right"
            prev-icon="mdi-chevron-left"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.esName }}</td>
              <td>{{ props.item.chartType }}</td>
              <td>{{ props.item.measure }}</td>
              <td style="text-align: right; padding: 0;">
                <v-btn flat icon round color="info" @click="showItem(props.item.id)">
                  <v-icon>mdi-file-find-outline</v-icon>
                </v-btn>
                <v-btn flat icon round color="warning" @click="editItem(props.item.id)">
                  <v-icon>mdi-file-document-edit-outline</v-icon>
                </v-btn>
                <v-btn flat icon round color="error" @click="deleteItem(props.item.id)">
                  <v-icon>mdi-file-cancel-outline</v-icon>
                </v-btn>
              </td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">{{ $t('helpers.notFound', { search }) }}</v-alert>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>

    <v-dialog
      id="formModal"
      v-model="formModal"
      scrollable
      persistent
      :overlay="false"
      :max-width="maxWidth"
      transition="dialog-transition"
    >
      <v-card>
        <v-card-title class="headline primary elevation-3" style="text-align: center;"><h5 class="white--text ma-0">{{ title }}</h5></v-card-title>
        
        <v-layout row wrap pa-3 align-center justify-center>
          <<!-- v-flex xs12 sm6 md4>
            <v-text-field
              v-model="object.name"
              :label="$t('parameters.name')"
              prepend-icon="mdi-account-card-details-outline"
              :disabled="showMode"
              :error="objectErrors.name !== undefined"
              :error-messages="parseErrors(objectErrors.name)"
            />
          </v-flex> -->
          <v-flex xs12 sm6 md4>
            <v-text-field
              v-model="object.esName"
              :label="$t('parameters.esName')"
              prepend-icon="mdi-account-card-details-outline"
              :disabled="showMode"
              :error="objectErrors.esName !== undefined"
              :error-messages="parseErrors(objectErrors.esName)"
            />
          </v-flex>

          <v-flex xs12 sm6 md4>
            <v-text-field
              v-model="object.measure"
              :label="$t('parameters.measure')"
              prepend-icon="mdi-account-card-details-outline"
              :disabled="showMode"
              :error="objectErrors.measure !== undefined"
              :error-messages="parseErrors(objectErrors.measure)"
            />
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-select
              v-model="object.chartType"
              :items="chartTypes"
              item-value="value"
              :label="$t('parameters.chartType')"
              prepend-icon="mdi-account-card-details-outline"
              :disabled="showMode"
              :error="objectErrors.chartType !== undefined"
              :error-messages="parseErrors(objectErrors.chartType)"
            >
              <template slot="item" slot-scope="{item}">
                {{item.name}}
              </template>

              <template slot="selection" slot-scope="{item}">
                <span>
                  <v-chip small color="primary">{{ item.name }}</v-chip>
                </span>
              </template>
            </v-select>
          </v-flex>

          <v-flex xs12 sm6 md4>
            <v-checkbox 
              v-model="object.modal"
              :label="$t('parameters.modal')"
            >
            </v-checkbox>
          </v-flex>
          
          <v-flex xs12 sm6 md4>
            <v-checkbox 
              v-model="object.extra_chart"
              :label="$t('parameters.extra_chart')"
            >
            </v-checkbox>
          </v-flex>

          <v-flex xs12 sm6>
            <v-select
              v-model="object.extraChartType"
              :items="extraChartTypes"
              item-value="value"
              :label="$t('parameters.extraChartType')"
              prepend-icon="mdi-account-card-details-outline"
              :disabled="showMode"
              :error="objectErrors.extraChartType !== undefined"
              :error-messages="parseErrors(objectErrors.extraChartType)"
            >
              <template slot="item" slot-scope="{item}">
                {{item.name}}
              </template>

              <template slot="selection" slot-scope="{item}">
                <span>
                  <v-chip small color="primary">{{ item.name }}</v-chip>
                </span>
              </template>
            </v-select>
          </v-flex>
        </v-layout>

        <v-card-actions v-if="!showMode">
          <v-spacer />
          <v-btn flat color="error" @click="discardChanges">{{ $t('actions.discardChanges') }}</v-btn>

          <v-btn v-if="object.id !== undefined" flat color="primary" @click="saveChanges">{{ $t('actions.saveChanges') }}</v-btn>
          
          <v-btn v-else-if="object.id === undefined" flat color="primary" @click="createItem">{{ $t('actions.createItem', { name: $t('parameters.objectName')}) }}</v-btn>
        </v-card-actions>

        <v-card-actions v-else>
          <v-spacer />
          <v-btn flat color="error" @click="discardChanges">{{ $t('actions.close') }}</v-btn>
          <v-btn flat color="primary" @click="editItem(object.id)">{{ $t('actions.editItem', { name: $t('parameters.objectName')}) }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import gql from 'graphql-tag'

export default {
  data () {
    return {
      formModal: false, // Abrir modal
      showMode: true,   // Si se está editando (o creando) o no
      object: {},       // Objecto abierto en el formModal
      objectErrors: {}, // Errores de ORM para formModal
      createType: 0,
      chartTypes: [{value: 0, name:'Linea'}, { value: 1, name:'Barra'}],
      extraChartTypes: [{value: 0, name: 'Barras multicolor'}, {value: 1, name: 'Dona'}, { value: 2, name: 'Pie'}],
      search: '',
      headers: [
        {
          text: this.$i18n.t('parameters.esName'),
          align: 'left',
          sortable: true,
          value: 'esName'
        },
        {
          text: this.$i18n.t('parameters.chartType'),
          align: 'left',
          sortable: true,
          value: 'chartType'
        },
        {
          text: this.$i18n.t('parameters.measure'),
          align: 'left',
          sortable: true,
          value: 'measure'
        },
        {
          text: this.$i18n.t('helpers.actions'),
          align: 'right',
          sortable: false,
          value: 'actions'
        }
      ]
    }
  },

  computed: {
    ...mapState(['user', 'parameters']),

    defaultObject () {
      return {
        id: undefined,
        esName: '',
        measure: '',
        chartType: 0,
        modal: true,
        extra_chart: false,
        extraChartType: 0,
        icon: '',
        lim_legends: {}
      }
    },

    maxWidth () {
      return window.innerWidth / 8 * 7
    },

    title () {
      if (this.showMode) {
        return this.$i18n.t('parameters.titleShow', { name: this.object.esName })
      } else {
        if (this.object.id === undefined) {
          return this.$i18n.t('parameters.titleNew')
        } else {
          return this.$i18n.t('parameters.titleEdit', { name: this.object.esName })
        }
      }
    }
  },

  created () {
    this.object = this.defaultObject
  },

  methods: {
    
    parseErrors (array) {
      if (array === undefined) {
        return []
      }

      return array.map((currentValue, index, array) => {
        return currentValue.charAt(0).toUpperCase() + currentValue.substr(1)
      }).join(', ')
    },

    saveChanges () {
      this.graphQLWrapper('editParameter')
    },

    async editItem (id) {
      await this.showItem(id)
      this.showMode = false
    },

    async showItem (id) {
      await this.$apollo.query({
        query: gql`query ($id:Int!, $apiToken:String!) {
          parameter(id:$id, apiToken:$apiToken) {
            status,
            errors,
            parameter {
              id,
              esName,
              measure,
              chartType,
              modal,
              extraChart,
              extraChartType,
              icon,
              limLegends
            }
          }
        }`,
        variables: {
          id,
          apiToken: this.user.apiToken
        },
        fetchPolicy: 'no-cache'
      }).then(response => {
        let { parameter, status } = response.data.parameter

        if (status) {
          this.object = parameter
          this.formModal = true
          this.showMode = true
        } else {
          this.$store.commit('toggleAlert', {
            type: 'error',
            message: this.$i18n.t('errors.internalError')
          })
        }
      }).catch(error => {
        this.$store.commit('toggleAlert', {
          type: 'error',
          message: this.$i18n.t('errors.internalError')
        })
      })
    },

    async deleteItem (id) {
      this.$store.dispatch('deleteItem', {
        mutation: {
          graphql: 'deleteParameter',
          vuex: 'updateParameters'
        },
        object: {
          name: 'parameters',
          fields: `{
            esName,
            measure,
            chartType,
            modal,
            extraChart,
            extraChartType,
            icon,
            limLegends
          }`
        },
        variables: {
          id,
          apiToken: this.user.apiToken
        }
      })
    },

    discardChanges () {
      this.objectErrors = {}
      this.object = {}
      this.object = this.defaultObject
      this.formModal = false
      this.showMode = true
    },

    newItem () {
      this.objectErrors = {}
      this.object = {}
      this.object = this.defaultObject
      this.formModal = true
      this.showMode = false
    },

    createItem () {
      this.graphQLWrapper('addParameter')
    },

    graphQLWrapper (mutationName) {
      this.$apollo.mutate({
        mutation: gql`mutation (${mutationName.includes('add') ? '' : '$id:Int!,'}$esName:String!, $chartType:Int!, $measure:String!,$modal:Boolean!,$extra_chart:Boolean!,$extraChartType:Int!, $apiToken:String!, $icon:String!,$lim_legends:Json!) {
          ${mutationName}(input:{
            ${mutationName.includes('add') ? '' : 'id:$id,'}
            esName:$esName,
            measure:$measure,
            chartType:$chartType,
            modal:$modal,
            extraChart:$extra_chart,
            extraChartType:$extraChartType,
            icon:$icon,
            limLegends:$lim_legends
          }) {
            status,
            errors,
            parameter {
              id,
              esName,
              measure,
              chartType,
              modal,
              extraChart,
              extraChartType,
              icon,
              limLegends
            }
          }
        }`,
        variables: {
          ...this.object,
          apiToken: this.user.apiToken
        }
      }).then(response => {
        let { status, errors, parameter } = response.data[mutationName]
        if (status) {
          this.object = parameter
          this.objectErrors = {}
          this.showMode = true
          this.$store.dispatch('getParameters')
        } else {
          this.objectErrors = errors
          this.$store.commit('toggleAlert', {
            type: 'error',
            message: this.$i18n.t('errors.invalidFields')
          })
        }
      }).catch(error => {
        this.$store.commit('toggleAlert', {
          type: 'error',
          message: this.$i18n.t('errors.internalError')
        })
      })
    }
  }
}
</script> 