<template>
  <v-container pt-0 fluid>
    <v-layout row wrap>
      <v-flex>
        <material-card
          color="primary"
        >
          <v-layout slot="header" row wrap justify-space-between align-center>
            <h4 style="padding: 0; margin: 0;">{{ $t(`pages.${$route.name}`) }}</h4>
            
            <v-tooltip bottom>
              <v-btn
                slot="activator"
                color="white"
                flat
                icon
                ma-0
                round
                style="margin: 0;"
                @click="newItem"
              >
                <v-icon>mdi-plus-circle</v-icon>
              </v-btn>  

              <span>{{ $t('serviceRecords.titleNew') }}</span>
            </v-tooltip>
          </v-layout>
          <v-text-field
            v-model="search"
            append-icon="search"
            :label="$t('actions.search')"
            single-line
            hide-details
          />
          <v-data-table
            :headers="headers"
            :items="serviceRecords"
            :search="search"
            next-icon="mdi-chevron-right"
            prev-icon="mdi-chevron-left"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.name }}</td>
              <td>{{ props.item.unitName }}</td>
              <td>{{ props.item.date }}</td>
              <td>
                <v-chip color="warning" v-if="props.item.state==0">Próximo</v-chip>
                <v-chip color="green" v-if="props.item.state==1">En progreso</v-chip>
                <v-chip color="primary" v-if="props.item.state==2">Realizado</v-chip>
              </td>
              <td style="text-align: right; padding: 0;">
                <v-btn flat icon round color="info" @click="showItem(props.item.id)">
                  <v-icon>mdi-file-find-outline</v-icon>
                </v-btn>
                <v-btn flat icon round color="warning" @click="editItem(props.item.id)">
                  <v-icon>mdi-file-document-edit-outline</v-icon>
                </v-btn>
                <v-btn flat icon round color="error" @click="deleteItem(props.item.id)">
                  <v-icon>mdi-file-cancel-outline</v-icon>
                </v-btn>
              </td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">{{ $t('helpers.notFound', { search }) }}</v-alert>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>

    <v-dialog
      id="formModal"
      v-model="formModal"
      scrollable
      persistent
      :overlay="false"
      :max-width="maxWidth"
      transition="dialog-transition"
    >
      <v-card>
        <v-card-title class="headline primary elevation-3" style="text-align: center;"><h5 class="white--text ma-0">{{ title }}</h5></v-card-title>
        
        <v-layout row wrap pa-3 align-center justify-center>
          <v-flex xs12 sm6 md4>
            <v-radio-group v-model="createType" row>
              <v-radio
                v-for="option in servType"
                :label="option.name" 
                :value="option.value"
                :disabled="showMode"
                :key="option.value"
              />
            </v-radio-group>
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-select 
              v-if="createType==0"
              v-model="object.name"
              :items="serviceTypes"
              item-value="name"
              :label="$t('serviceRecords.name')"
              prepend-icon="mdi-account-card-details-outline"
              :disabled="showMode"
              :error="objectErrors.name !== undefined"
              :error-messages="parseErrors(objectErrors.name)"
            >
              <template slot="item" slot-scope="{item}">
                {{item.name}}
              </template>

              <template slot="selection" slot-scope="{item}">
                <span>
                  <v-chip small color="primary">{{ item.name }}</v-chip>
                </span>
              </template>
            </v-select>
            <v-text-field
              v-if="createType==1"
              v-model="object.name"
              :label="$t('serviceRecords.name')"
              prepend-icon="mdi-account-card-details-outline"
              :disabled="showMode"
              :error="objectErrors.name !== undefined"
              :error-messages="parseErrors(objectErrors.name)"
            />
          </v-flex>

          <v-flex xs12 sm6 md4>
            <v-select
              v-model="object.state"
              :items="states"
              :label="$t('serviceRecords.state')"
              prepend-icon="mdi-account-card-details-outline"
              :disabled="showMode"
              :error="objectErrors.state !== undefined"
              :error-messages="parseErrors(objectErrors.state)"
            >
              <template slot="item" slot-scope="{item}">
                {{item.name}}
              </template>

              <template slot="selection" slot-scope="{item}">
                <span>
                  <v-chip small color="primary">{{ item.name }}</v-chip>
                </span>
              </template>
            </v-select>
          </v-flex>

          <v-flex xs12 :sm6="createType == 0" :md4="createType == 1">

            <v-select
              v-model="object.unitId"
              :items="units"
              item-value="id"
              :label="$t('serviceRecords.unit')"
              prepend-icon="mdi-car"
              :disabled="showMode"
              :error="objectErrors.unitId !== undefined"
              :error-messages="parseErrors(objectErrors.unitId)"
            >
              <template slot="item" slot-scope="{item}">
                  {{item.name}}
                </template>

                <template slot="selection" slot-scope="{item}">
                  <span>
                    <v-chip small color="primary">{{ item.name }}</v-chip>
                  </span>
                </template>
            </v-select>
          </v-flex>
          
          <v-flex xs12 :sm6="createType == 0" :md4="createType == 1">
            <v-menu
              ref="dateMenu"
              v-model="dateMenu"
              :close-on-content-click="false"
              :nudge-right="40"
              :return-value.sync="object.date"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <template slot="activator" slot-scope="{ on }">
                <v-text-field
                  v-model="object.date"
                  :label="$t('serviceRecords.date')"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="object.date" no-title scrollable :min="minDate" v-if="object.state==0">
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="dateMenu = false">{{$t('actions.cancel')}}</v-btn>
                <v-btn flat color="primary" @click="$refs.dateMenu.save(object.date)">{{$t('actions.ok')}}</v-btn>
              </v-date-picker>
              <v-date-picker v-model="object.date" no-title scrollable v-if="object.state==1 || object.state==2">
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="dateMenu = false">{{$t('actions.cancel')}}</v-btn>
                <v-btn flat color="primary" @click="$refs.dateMenu.save(object.date)">{{$t('actions.ok')}}</v-btn>
              </v-date-picker>
            </v-menu>
          </v-flex>

          <v-flex xs12 sm6 md4 v-if="createType == 1">
            <v-switch v-model="isSave" :label="$t('serviceRecords.is_save')"> </v-switch>
          </v-flex>
        </v-layout>

        <v-card-actions v-if="!showMode">
          <v-spacer />
          <v-btn flat color="error" @click="discardChanges">{{ $t('actions.discardChanges') }}</v-btn>

          <v-btn v-if="object.id !== undefined" flat color="primary" @click="saveChanges">{{ $t('actions.saveChanges') }}</v-btn>
          
          <v-btn v-else-if="object.id === undefined" flat color="primary" @click="createItem">{{ $t('actions.createItem', { name: $t('serviceRecords.objectName')}) }}</v-btn>
        </v-card-actions>

        <v-card-actions v-else>
          <v-spacer />
          <v-btn flat color="error" @click="discardChanges">{{ $t('actions.close') }}</v-btn>
          <v-btn flat color="primary" @click="editItem(object.id)">{{ $t('actions.editItem', { name: $t('serviceRecords.objectName')}) }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import gql from 'graphql-tag'

export default {
  data () {
    return {
      formModal: false, // Abrir modal
      showMode: true,   // Si se está editando (o creando) o no
      object: {},       // Objecto abierto en el formModal
      objectErrors: {}, // Errores de ORM para formModal
      servType: [{value: 0, name: 'Seleccionar servicio'}, {value: 1, name: 'Nuevo servicio'}],
      createType: 0,
      states: [{value: 0, name:'Próximo'}, { value: 1, name:'En progreso'}, { value: 2, name: 'Realizado'}],
      dateMenu: false,
      minDate: new Date().toISOString().substr(0, 10),
      isSave: false,
      search: '',
      headers: [
        {
          text: this.$i18n.t('serviceRecords.name'),
          align: 'left',
          sortable: true,
          value: 'name'
        },
        {
          text: this.$i18n.t('serviceRecords.unit'),
          align: 'left',
          sortable: true,
          value: 'unitName'
        },
        {
          text: this.$i18n.t('serviceRecords.date'),
          align: 'left',
          sortable: true,
          value: 'date'
        },
        {
          text: this.$i18n.t('serviceRecords.state'),
          align: 'left',
          sortable: true,
          value: 'state'
        },
        {
          text: this.$i18n.t('helpers.actions'),
          align: 'right',
          sortable: false,
          value: 'actions'
        }
      ]
    }
  },

  computed: {
    ...mapState(['user', 'units', 'serviceTypes', 'serviceRecords']),

    defaultObject () {
      return {
        id: undefined,
        name: '',
        unitId: undefined,
        date: new Date().toISOString().substr(0, 10),
        state: 0
      }
    },

    maxWidth () {
      return window.innerWidth / 8 * 7
    },

    title () {
      if (this.showMode) {
        return this.$i18n.t('serviceRecords.titleShow', { name: this.object.name })
      } else {
        if (this.object.id === undefined) {
          return this.$i18n.t('serviceRecords.titleNew')
        } else {
          return this.$i18n.t('serviceRecords.titleEdit', { name: this.object.name })
        }
      }
    }
  },

  created () {
    this.object = this.defaultObject
  },

  methods: {
    
    parseErrors (array) {
      if (array === undefined) {
        return []
      }

      return array.map((currentValue, index, array) => {
        return currentValue.charAt(0).toUpperCase() + currentValue.substr(1)
      }).join(', ')
    },

    saveChanges () {
      this.graphQLWrapper('editServiceRecord')
    },

    async editItem (id) {
      await this.showItem(id)
      this.showMode = false
    },

    async showItem (id) {
      await this.$apollo.query({
        query: gql`query ($id:Int!, $apiToken:String!) {
          serviceRecord(id:$id, apiToken:$apiToken) {
            status,
            errors,
            serviceRecord {
              id,
              name,
              state,
              unitId,
              date
            }
          }
        }`,
        variables: {
          id,
          apiToken: this.user.apiToken
        },
        fetchPolicy: 'no-cache'
      }).then(response => {
        let { serviceRecord, status } = response.data.serviceRecord

        if (status) {
          this.object = serviceRecord
          this.formModal = true
          this.showMode = true
        } else {
          this.$store.commit('toggleAlert', {
            type: 'error',
            message: this.$i18n.t('errors.internalError')
          })
        }
      }).catch(error => {
        this.$store.commit('toggleAlert', {
          type: 'error',
          message: this.$i18n.t('errors.internalError')
        })
      })
    },

    async deleteItem (id) {
      this.$store.dispatch('deleteItem', {
        mutation: {
          graphql: 'deleteServiceRecord',
          vuex: 'updateServiceRecords'
        },
        object: {
          name: 'serviceRecords',
          fields: `{
            name,
            date,
            unitName,
            state
          }`
        },
        variables: {
          id,
          apiToken: this.user.apiToken
        }
      })
    },

    discardChanges () {
      this.objectErrors = {}
      this.object = {}
      this.object = this.defaultObject
      this.formModal = false
      this.showMode = true
    },

    newItem () {
      this.objectErrors = {}
      this.object = {}
      this.object = this.defaultObject
      this.formModal = true
      this.showMode = false
    },

    createItem () {
      this.graphQLWrapper('addServiceRecord')
    },

    graphQLWrapper (mutationName) {
      this.$apollo.mutate({
        mutation: gql`mutation (${mutationName.includes('add') ? '' : '$id:Int!,'}$name:String!, $state:Int!, $date:String!, $unitId:Int!, $apiToken:String!, $isSave:Boolean!) {
          ${mutationName}(input:{
            ${mutationName.includes('add') ? '' : 'id:$id,'}
            name:$name,
            state:$state,
            date:$date,
            unitId:$unitId,
            apiToken:$apiToken
            isSave:$isSave
          }) {
            status,
            errors,
            serviceRecord {
              id,
              name,
              state,
              date,
              unitName
            }
          }
        }`,
        variables: {
          ...this.object,
          apiToken: this.user.apiToken,
          isSave: this.isSave
        }
      }).then(response => {
        let { status, errors, serviceRecord } = response.data[mutationName]
        console.log(this.isSave)
        if (status) {
          this.object = serviceRecord
          this.objectErrors = {}
          this.showMode = true
          this.$store.dispatch('getServiceRecords')
          this.$store.dispatch('getServiceTypes')
        } else {
          this.objectErrors = errors
          this.$store.commit('toggleAlert', {
            type: 'error',
            message: this.$i18n.t('errors.invalidFields')
          })
        }
      }).catch(error => {
        this.$store.commit('toggleAlert', {
          type: 'error',
          message: this.$i18n.t('errors.internalError')
        })
      })
    }
  }
}
</script> 