<template>
  <v-container pt-0 fluid>
    <v-layout row wrap>
      <v-flex>
        <material-card
          color="primary"
        >
        <v-layout row wrap slot="header" justify-space-between align-center>
          <h4 style="padding: 0; margin: 0;">{{ $t(`pages.${$route.name}`) }}</h4>
          
          <v-tooltip bottom>
            <v-btn slot="activator" @click="newItem" flat icon round color="white" ma-0 style="margin: 0;">
              <v-icon>mdi-plus-circle</v-icon>
            </v-btn>  

            <span>{{ $t('services.titleNew') }}</span>
          </v-tooltip>
        </v-layout>
        <v-text-field
          v-model="search"
          append-icon="search"
          :label="$t('actions.search')"
          single-line
          hide-details
        ></v-text-field>
        <v-data-table
          :headers="headers"
          :items="services"
          :search="search"
          next-icon="mdi-chevron-right"
          prev-icon="mdi-chevron-left"
        >
          <template slot="items" slot-scope="props">
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.frequency }}</td>
            <td>{{ props.item.unitsCount }}</td>
            <td>
              <v-switch v-model="props.item.activated" color="primary" :value="props.item.activated" @click="activateItem(props.item.id, props.item.activated)"></v-switch>
            </td>
            <td>{{ enabledApps(props.item.appPermissions).map((item, index, arr) => { return $t(`services.apps.${item}`) }).join(", ") }}</td>
            <td style="text-align: right; padding: 0;">
              <v-btn flat icon round color="info" @click="showItem(props.item.id)">
                <v-icon>mdi-file-find-outline</v-icon>
              </v-btn>
              <v-btn flat icon round color="warning" @click="editItem(props.item.id)">
                <v-icon>mdi-file-document-edit-outline</v-icon>
              </v-btn>
              <v-btn flat icon round color="error" @click="deleteItem(props.item.id)">
                <v-icon>mdi-file-cancel-outline</v-icon>
              </v-btn>
            </td>
          </template>
          <v-alert slot="no-results" :value="true" color="error" icon="warning">{{ $t('helpers.notFound', { search }) }}</v-alert>
        </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>

    <v-dialog
      v-model="confirmDeactivation"
      id="confirmDeactivation"
      :max-width="maxWidth"
      width="400px"
      persistent
      transition="dialog-transition"
    >
      <v-card>
        <v-card-title class="headline primary elevation-3" style="text-align: center;"><h5 class="white--text ma-0">{{$t('services.deactivation_title')}}</h5></v-card-title>
        <v-card-text>
          {{$t('services.want_to_deactivate')}}
        </v-card-text>
        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="warning" flat @click="updateActivated">{{$t('actions.ok')}}</v-btn>
          <v-btn color="primary" flat @click="confirmDeactivation = false">{{$t('actions.cancel')}}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="formModal"
      scrollable
      id="formModal"
      persistent
      :overlay="false"
      :max-width="maxWidth"
      transition="dialog-transition"
    >
      <v-card>
        <v-card-title class="headline primary elevation-3" style="text-align: center;"><h5 class="white--text ma-0">{{ title }}</h5></v-card-title>
      
          <v-layout row wrap pa-3 align-center justify-center>
            <v-flex xs12 sm6 md3>
              <v-text-field
                :label="$t('services.name')"
                prepend-icon="mdi-account-card-details-outline"
                :disabled="showMode"
                v-model="object.name"
                :error="objectErrors.name !== undefined"
                :error-messages="parseErrors(objectErrors.name)" />
            </v-flex>

            <v-flex xs12 sm6 md3>

              <v-select
                v-model="object.units"
                :items="units"
                :label="$t('services.units')"
                multiple
                deletable-chips
                item-value="id"
                attach
                prepend-icon="mdi-car"
                :error="objectErrors.units !== undefined"
                :error-messages="parseErrors(objectErrors.units)"
                :disabled="showMode"
              >
                <template slot="item" slot-scope="{item}">
                  {{item.name}}
                </template>

                <template slot="selection" slot-scope="{item}">
                  <span>
                    <v-chip small color="primary">{{ item.name }}</v-chip>
                  </span>
                </template>
              </v-select>
            </v-flex>
            
            <v-flex xs12 sm6 md4>
              <v-radio-group row>
                <v-checkbox 
                  v-model="frequency_type"
                  v-for="option in freq_type" 
                  :label="option.name" 
                  :value="option.value"
                  :disabled="showMode"
                  :key="option.value"
                >
                </v-checkbox>
              </v-radio-group>
            </v-flex>

            <v-flex xs12 sm6 md2>
              <v-switch 
                v-model="object.activated" 
                color="primary" 
                :label="$t('services.activated')"
                :disabled="showMode"
              >
              </v-switch>
            </v-flex>

            <v-flex xs12 sm6 md4 v-if="flag_km">
              <v-text-field
                :label="$t('services.frequencyKm')"
                prepend-icon="mdi-speedometer"
                :disabled="showMode"
                type="number"
                v-model="object.frequencyKm"
                :error="objectErrors.frequencyKm !== undefined"
                :error-messages="parseErrors(objectErrors.frequencyKm)" />
            </v-flex>

            <v-flex xs12 sm6 md2 v-if="flag_time">
              <v-text-field
                :label="$t('services.frequencyTime')"
                prepend-icon="mdi-clock"
                :disabled="showMode"
                v-model="object.frequencyTime"
                type="number"
                :error="objectErrors.frequencyTime !== undefined"
                :error-messages="parseErrors(objectErrors.frequencyTime)" />
            </v-flex>

            <v-flex xs12 sm6 md2 v-if="this.flag_time">
              <v-radio-group v-model="object.timeType" row>
                <v-radio 
                  v-for="option in t_type" 
                  :label="option.name" 
                  :value="option.value"
                  :error="objectErrors.timeType !== undefined"
                  :error-messages="parseErrors(objectErrors.timeType)" 
                  :disabled="showMode"
                  :key="option.value"
                >
                </v-radio>
              </v-radio-group>
            </v-flex>

            <v-flex xs12 sm6 md4 v-if="flag_eng">
              <v-text-field
                :label="$t('services.frequencyEngine')"
                prepend-icon="mdi-engine"
                type="number"
                :disabled="showMode"
                v-model="object.frequencyEngine"
                :error="objectErrors.frequencyEngine !== undefined"
                :error-messages="parseErrors(objectErrors.frequencyEngine)" />
            </v-flex>

          </v-layout>

        <v-card-actions v-if="!showMode">
          <v-spacer />
          
          <v-btn flat color="error" @click="discardChanges">{{ $t('actions.discardChanges') }}</v-btn>

          <v-btn v-if="object.id !== undefined" flat color="primary" @click="saveChanges">{{ $t('actions.saveChanges') }}</v-btn>
          
           <v-btn flat color="primary" v-else-if="object.id === undefined" @click="createItem">{{ $t('actions.createItem', { name: $t('services.objectName')}) }}</v-btn>
        </v-card-actions>

        <v-card-actions v-else>
          <v-spacer />
          <v-btn flat color="error" @click="discardChanges">{{ $t('actions.close') }}</v-btn>
          <v-btn flat color="primary" @click="editItem(object.id)">{{ $t('actions.editItem', { name: $t('services.objectName')}) }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import GTable from '@/components/GoldenMTable.vue'
import { mapState } from 'vuex'
import gql from 'graphql-tag'

export default {
  components: {
    GTable
  },

  data () {
    return {
      formModal: false,
      showMode: true,
      confirmDeactivation: false,
      object: {},
      objectErrors: {},
      frequency_type: [],
      freq_type: [{value: 0, name: 'Por Kilometraje'}, {value: 1, name: 'Por tiempo'}, {value: 2, name: 'Por horas de motor'}], // tipo de frecuencia
      t_type: [{value: 1, name: 'Horas'}, {value: 2, name: 'Días'}],
      flag_km: false,
      flag_time: false,
      flag_eng: false,
      search: '',
      headers: [
        {
          text: this.$i18n.t('services.name'),
          align: 'left',
          sortable: true,
          value: 'name'
        },
        {
          text: this.$i18n.t('services.frequency'),
          align: 'left',
          sortable: true,
          value: 'frequency'
        },
        {
          text: this.$i18n.t('services.units'),
          align: 'left',
          sortable: true,
          value: 'unitsCount'
        },
        {
          text: this.$i18n.t('services.activated'),
          align: 'left',
          sortable: true,
          value: 'activated'
        },
        {
          text: this.$i18n.t('helpers.actions'),
          align: 'right',
          sortable: false,
          value: 'actions'
        }
      ],
    }
  },

  created () {
    this.object = this.defaultObject
  },

  watch: {
    frequency_type (newVal, oldVal) {
      let i = 0
      let count_km = 0, count_time = 0, count_eng = 0
      console.log(newVal)
      console.log(oldVal)
      for (i = 0; i < newVal.length; i++) {
        if (newVal[i] == 0) {
          this.flag_km = true
          count_km = 1
        } 
        if (newVal[i] == 1) {
          this.flag_time = true
          count_time = 1
          if (this.showMode == false) {
            this.object.timeType = 1
          }
        } 
        if (newVal[i] == 2) {
          this.flag_eng = true
          count_eng = 1
        } 
      }

      if (count_km == 0) {
        this.flag_km= false
      }
      if (count_time == 0) {
        this.flag_time= false
      }
      if (count_eng == 0) {
        this.flag_eng= false
      }
    }
  },

  computed: {
    ... mapState(['services', 'units', 'user']),

    showPermissions () {
      let object = this.object

      return object.name.length > 0 && object.lastName.length > 0 && object.email.length > 0 && object.username.length > 0 && (object.password.length > 0 || object.id !== undefined)
    },

    defaultObject () {
      return {
        id: undefined,
        name: '',
        units: [],
        frequencyKm: undefined,
        frequencyTime: undefined,
        frequencyEngine: undefined,
        timeType: undefined,
        activated: true
      }
    },

    maxWidth () {
      return window.innerWidth / 8 * 7
    },

    title () {
      if (this.showMode) {
        return this.$i18n.t('services.titleShow', { name: this.object.name })
      } else {
        if (this.object.id === undefined) {
          return this.$i18n.t('services.titleNew')
        } else {
          return this.$i18n.t('services.titleEdit', { name: this.object.name })
        }
      }
    },

    maxSize () {
      let maxHeight = window.innerHeight / 8 * 5
      return `height: ${maxHeight}px; overflow-y: scroll;`
    }
  },

  methods: {
    getColor (app) {
      if (this.scanApp(app)) {
        return 'primary'
      } else {
        return 'error'
      }
    },

    getText (app) {
      if (this.scanApp(app)) {
        return this.$i18n.t('helpers.selectAll')
      } else {
        return this.$i18n.t('helpers.deselectAll')
      }
    },

    scanApp (app) {
      let permissions = this.object[app]
      let flag = false

      for (let i in permissions) {
        if (permissions[i]) {
          flag = true
        }
      }

      return !flag
    },

    toggleAll (app) {
      let flag = this.scanApp(app)

      for (let i in this.object[app]) {
        this.object[app][i] = flag
      }
    },

    enabledApps (object) {
      let apps = []

      for (let key in object) {
        if (object[key]) {
          apps.push(key)
        }
      }

      return apps
    },

    parseErrors (array) {
      if (array === undefined) {
        return []
      }

      return array.map((currentValue, index, array) => {
        return currentValue.charAt(0).toUpperCase() + currentValue.substr(1)
      }).join(", ")
    },

    updateActivated () {
      this.graphQLWrapperUpdate('updateActivated')
    },

    saveChanges () {
      this.graphQLWrapper('editService')
    },

    async editItem (id) {
      await this.showItem(id)
      this.showMode = false
      console.log(this.object)
    },

    async showItem (id) {
      await this.$apollo.query({
        query: gql`query ($id:Int!, $apiToken:String!) {
          service(id:$id, apiToken:$apiToken) {
            status,
            errors,
            service {
              id,
              name,
              units {
                id
              },
              frequencyKm,
              frequencyTime,
              frequencyEngine,
              timeType,
              activated
            }
          }
        }`,
        variables: {
          id,
          apiToken: this.user.apiToken
        },
        fetchPolicy: 'no-cache'
      }).then(response => {
        let { service, status } = response.data.service

        if (status) {
          this.object = service
          this.formModal = true
          this.showMode = true
          this.frequency_type = [0,1,2]

        } else {
          this.$store.commit('toggleAlert', {
            type: 'error',
            message: this.$i18n.t('errors.internalError')
          })
        }
      }).catch(error => {
        this.$store.commit('toggleAlert', {
          type: 'error',
          message: this.$i18n.t('errors.internalError')
        })
      })
    },

    async deleteItem (id) {
      this.$store.dispatch('deleteItem', {
        mutation: {
          graphql: 'deleteService',
          vuex: 'updateServices'
        },
        object: {
          name: 'services',
          fields: `{
            id,
            name,
            frequency
            unitsCount
            frequencyTime,
            frequencyEngine,
            frequencyTime,
            timeType,
            activated,
          }`
        },
        variables: {
          id,
          apiToken: this.user.apiToken
        }
      })
    },

    activateItem (id, activated) {
      this.object = {
        id: id,
        activated: activated,
      }
      if (activated) {
        this.confirmDeactivation = true 
      } else {
        this.graphQLWrapperUpdate('updateActivated')
      }
    },

    discardChanges () {
      this.objectErrors = {}
      this.object = {}
      this.object = this.defaultObject
      this.formModal = false
      this.showMode = true
    },

    newItem () {
      this.objectErrors = {}
      this.object = {}
      this.object = this.defaultObject
      this.formModal = true
      this.showMode = false
      this.frequency_type = []
    },

    createItem () {
      this.graphQLWrapper('addService')
    },

    graphQLWrapper (mutationName) {
      this.$apollo.mutate({
        mutation: gql`mutation (${mutationName.includes('add') ? '' : '$id:Int!,'}$name:String!,$units:[Int!],$frequencyKm:Int,$frequencyTime:Int,$frequencyEngine:Int,$timeType:Int, $apiToken:String!,$activated:Boolean!) {
          ${mutationName}(input:{
            ${mutationName.includes('add') ? '' : 'id:$id,'}
            name:$name,
            units: $units
            frequencyTime:$frequencyTime,
            frequencyEngine:$frequencyEngine,
            frequencyKm:$frequencyKm,
            timeType:$timeType,
            apiToken:$apiToken,
            activated:$activated
          }) {
            status,
            errors,
            service {
              id,
              name,
              frequencyKm,
              frequencyTime,
              frequencyEngine,
              units {
                id
                name: wialonName
              },
              frequency,
              unitsCount,
              timeType,
              activated
            }
          }
        }`,
        variables: {
          ... this.object,
          frequencyKm: parseInt(this.object.frequencyKm),
          frequencyTime: parseInt(this.object.frequencyTime),
          frequencyEngine: parseInt(this.object.frequencyEngine),
          apiToken: this.user.apiToken
        }
      }).then(response => {
        let { status, errors, service } = response.data[mutationName]
        console.log(this.object.units)
        if (status) {
          this.object = {
            ... service
          }
          this.objectErrors = {}
          this.showMode = true
          this.$store.dispatch('getServices')
        } else {
          this.objectErrors = errors
          this.$store.commit('toggleAlert', {
          type: 'error',
          message: this.$i18n.t('errors.invalidFields')
        })
        }
      }).catch(error => {
        this.$store.commit('toggleAlert', {
          type: 'error',
          message: this.$i18n.t('errors.internalError')
        })
      })
    },

    graphQLWrapperUpdate (mutationName) {
      this.$apollo.mutate({
        mutation: gql`mutation (${mutationName.includes('add') ? '' : '$id:Int!,'}$activated:Boolean!,$apiToken:String!) {
          ${mutationName}(input:{
            ${mutationName.includes('add') ? '' : 'id:$id,'}
            activated:$activated
            apiToken:$apiToken
          }) {
            status,
            errors,
            service {
              id,
              name,
              frequencyKm,
              frequencyTime,
              frequencyEngine,
              units {
                id
                name: wialonName
              },
              frequency,
              unitsCount,
              timeType,
              activated
            }
          }
        }`,
        variables: {
          ... this.object,
          apiToken: this.user.apiToken
        }
      }).then(response => {
        let { status, errors, service } = response.data[mutationName]
        if (status) {
          this.object = {
            ... service
          }
          this.objectErrors = {}
          this.confirmDeactivation = false
          this.$store.dispatch('getServices')
        } else {
          this.objectErrors = errors
          this.$store.commit('toggleAlert', {
          type: 'error',
          message: this.$i18n.t('errors.invalidFields')
        })
        }
      }).catch(error => {
        this.$store.commit('toggleAlert', {
          type: 'error',
          message: this.$i18n.t('errors.internalError')
        })
      })
    }
  }
}
</script> 