<template>
  <v-container pt-0 fluid>
    <v-layout row wrap>
      <v-flex>
        <material-card
          color="primary"
        >
        <v-layout row wrap slot="header" justify-space-between align-center>
          <h4 style="padding: 0; margin: 0;">{{ $t(`pages.${$route.name}`) }}</h4>
          
          <v-tooltip bottom>
            <v-btn slot="activator" @click="newItem" flat icon round color="white" ma-0 style="margin: 0;">
              <v-icon>mdi-plus-circle</v-icon>
            </v-btn>  

            <span>{{ $t('units.titleNew') }}</span>
          </v-tooltip>
        </v-layout>
        <v-text-field
          v-model="search"
          append-icon="search"
          :label="$t('actions.search')"
          single-line
          hide-details
        ></v-text-field>
        <v-data-table
          :headers="headers"
          :items="units"
          :search="search"
          next-icon="mdi-chevron-right"
          prev-icon="mdi-chevron-left"
        >
          <template slot="items" slot-scope="props">
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.ident }}</td>
            <td>{{ enabledApps(props.item.appPermissions).map((item, index, arr) => { return $t(`units.apps.${item}`) }).join(", ") }}</td>
            <td style="text-align: right; padding: 0;">
              <v-btn flat icon round color="info" @click="showItem(props.item.id)">
                <v-icon>mdi-file-find-outline</v-icon>
              </v-btn>
              <v-btn flat icon round color="warning" @click="editItem(props.item.id)">
                <v-icon>mdi-file-document-edit-outline</v-icon>
              </v-btn>
              <v-btn flat icon round color="error" @click="deleteItem(props.item.id)">
                <v-icon>mdi-file-cancel-outline</v-icon>
              </v-btn>
            </td>
          </template>
          <v-alert slot="no-results" :value="true" color="error" icon="warning">{{ $t('helpers.notFound', { search }) }}</v-alert>
        </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>

    <v-dialog
      v-model="formModal"
      scrollable
      id="formModal"
      persistent
      :overlay="false"
      :max-width="maxWidth"
      transition="dialog-transition"
    >
      <v-card>
        <v-card-title class="headline primary elevation-3" style="text-align: center;"><h5 class="white--text ma-0">{{ title }}</h5></v-card-title>
      
          <v-layout row wrap pa-3 align-center justify-center>

            <v-select
              v-model="object.linked_wialon_account_id"
              :items="linkedWialonAccounts"
              item-value="id"
              item-text="username"
              :label="$t('units.linked_wialon_account_id')"
              prepend-icon="mdi-account-search"
              :error="objectErrors.units !== undefined"
              :error-messages="parseErrors(objectErrors.units)"
              :disabled="showMode"
              @change="updateUnitsList(object.linked_wialon_account_id)"
              
            >
              <template slot="item" slot-scope="{item}">
                <span style="">
                  {{ item.username }}
                </span>
              </template>

              <template slot="selection" slot-scope="{item}">
                <span>
                  <v-chip small color="primary">{{ item.username }}</v-chip>
                </span>
              </template>
            </v-select>

          </v-layout>

          <v-layout row wrap pa-3 align-center justify-center>
            <vue-duallist :options="wialon_units" :selected="selected" :titles="titles" /> 
            <!-- <dual-list :items="wialon_units" :i18n="translations" @changeSelection="updateSelection" title="wialon_name" subtitle="wialon_plate" /> -->
          </v-layout>

        <v-card-actions v-if="!showMode">
          <v-spacer />
          <v-btn flat color="error" @click="discardChanges">{{ $t('actions.discardChanges') }}</v-btn>

          <v-btn v-if="object.id !== undefined" flat color="primary" @click="saveChanges">{{ $t('actions.saveChanges') }}</v-btn>
          
          <v-btn flat color="primary" v-else-if="object.id === undefined" @click="createItem">{{ $t('actions.createItem', { name: $t('units.objectName')}) }}</v-btn>
        </v-card-actions>

        <v-card-actions v-else>
          <v-spacer />
          <v-btn flat color="error" @click="discardChanges">{{ $t('actions.close') }}</v-btn>
          <v-btn flat color="primary" @click="editItem(object.id)">{{ $t('actions.editItem', { name: $t('units.objectName')}) }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import GTable from '@/components/GoldenMTable.vue'
import { mapState } from 'vuex'
import gql from 'graphql-tag'
// import DualList from '@/components/GoldenMDualList.vue'
import VueDualList from '@/components/VueDualList.vue'

export default {
  components: {
    GTable,
    'vue-duallist': VueDualList
  },

  data () {
    return {
      formModal: false,
      state: false,
      showMode: true,
      object: {},
      objectErrors: {},
      wialon_units: [],
      search: '',
      titles: {
        list1: "Unidades disponibles",
        list2: "Unidades seleccionadas"
      },
      options: [],
      selected: [],
      translations: this.$i18n.t('dual_list'),
      headers: [
        {
          text: this.$i18n.t('units.wialonName'),
          align: 'left',
          sortable: true,
          value: 'name'
        },
        {
          text: this.$i18n.t('units.wialonImei'),
          align: 'left',
          sortable: true,
          value: 'wialonImei'
        },
        {
          text: this.$i18n.t('helpers.actions'),
          align: 'right',
          sortable: false,
          value: 'actions'
        }
      ],
    }
  },

  created () {
    this.object = this.defaultObject
  },

  computed: {
    ... mapState([ 'user', 'units','linkedWialonAccounts']),

    showPermissions () {
      let object = this.object

      return object.name.length > 0 && object.lastName.length > 0 && object.email.length > 0 && object.username.length > 0 && (object.password.length > 0 || object.id !== undefined)
    },

    defaultObject () {
      return {
        id: undefined,
        linked_wialon_account_id: 0,
        selectedUnits: []        
      }
    },

    maxWidth () {
      return window.innerWidth / 8 * 7
    },

    title () {
      if (this.showMode) {
        return this.$i18n.t('units.titleShow', { name: this.object.name })
      } else {
        if (this.object.id === undefined) {
          return this.$i18n.t('units.titleNew')
        } else {
          return this.$i18n.t('units.titleEdit', { name: this.object.name })
        }
      }
    },

    maxSize () {
      let maxHeight = window.innerHeight / 8 * 5
      return `height: ${maxHeight}px; overflow-y: scroll;`
    }
  },

  methods: {
    getColor (app) {
      if (this.scanApp(app)) {
        return 'primary'
      } else {
        return 'error'
      }
    },

    getText (app) {
      if (this.scanApp(app)) {
        return this.$i18n.t('helpers.selectAll')
      } else {
        return this.$i18n.t('helpers.deselectAll')
      }
    },

    scanApp (app) {
      let permissions = this.object[app]
      let flag = false

      for (let i in permissions) {
        if (permissions[i]) {
          flag = true
        }
      }

      return !flag
    },

    updateSelection (newData) {
      this.object.selectedUnits = newData
    },

    updateUnitsList (linked_wialon_account_id) {
      this.state = true
      console.log(this.object.linked_wialon_account_id)
      // let query = `{
      //   wialonUnits(linkedWialonAccountId:${this.object.linked_wialon_account_id})
      // }`
      this.$apollo.query({
        query: gql`query ($linked_wialon_account_id:Int!) {
          wialonUnits(linkedWialonAccountId:$linked_wialon_account_id)
        }`,
        variables: {
          linked_wialon_account_id
        },
        fetchPolicy: 'no-cache',
      }).then(response => {
        let { wialonUnits } = response.data
        this.state = false
        switch (wialonUnits.status) {
          case 200:
            this.wialon_units = wialonUnits.data
            break

          case 403:
            this.$store.commit('toggleAlert', {
              type: 'error',
              message: wialonUnits.reason
            })
            break
        }
      }).catch(error => {
        this.$store.commit('toggleAlert', {
          type: 'error',
          message: this.$i18n.t('errors.internalError')
        })
      })
    },

    toggleAll (app) {
      let flag = this.scanApp(app)

      for (let i in this.object[app]) {
        this.object[app][i] = flag
      }
    },

    enabledApps (object) {
      let apps = []

      for (let key in object) {
        if (object[key]) {
          apps.push(key)
        }
      }

      return apps
    },

    parseErrors (array) {
      if (array === undefined) {
        return []
      }

      return array.map((currentValue, index, array) => {
        return currentValue.charAt(0).toUpperCase() + currentValue.substr(1)
      }).join(", ")
    },

    saveChanges () {
      this.graphQLWrapper('editUnit')
    },

    async editItem (id) {
      await this.showItem(id)
      this.showMode = false
    },

    async showItem (id) {
      await this.$apollo.query({
        query: gql`query ($id:Int!) {
          unit(id:$id) {
            status,
            errors,
            unit {
              id,
              name: wialonName,
              wialonImei
            }
          }
        }`,
        variables: {
          id,
        },
        fetchPolicy: 'no-cache'
      }).then(response => {
        let { unit, status } = response.data.unit

        if (status) {
          this.formModal = true
          this.showMode = true
        } else {
          this.$store.commit('toggleAlert', {
            type: 'error',
            message: this.$i18n.t('errors.internalError')
          })
        }
      }).catch(error => {
        this.$store.commit('toggleAlert', {
          type: 'error',
          message: this.$i18n.t('errors.internalError')
        })
      })
    },

    async deleteItem (id) {
      this.$store.dispatch('deleteItem', {
        mutation: {
          graphql: 'deleteUnit',
          vuex: 'updateUnits'
        },
        object: {
          name: 'units',
          fields: `{
            id,
            name: wialonName,
            wialonImei
          }`
        },
        variables: {
          id,
        }
      })
    },

    discardChanges () {
      this.objectErrors = {}
      this.object = {}
      this.object = this.defaultObject
      this.formModal = false
      this.showMode = true
    },

    newItem () {
      this.objectErrors = {}
      this.object = {}
      this.object = this.defaultObject
      this.formModal = true
      this.showMode = false
    },

    createItem () {
      this.graphQLWrapper('importUnits')
    },

    graphQLWrapper (mutationName) {
      this.$apollo.mutate({
        mutation: gql`mutation (${mutationName.includes('import') ? '' : '$id:Int!,'}$linked_wialon_account_id:Int!, $apiToken:String!) {
          ${mutationName}(input:{
            ${mutationName.includes('import') ? '' : 'id:$id,'}
            linkedWialonAccountId:$linked_wialon_account_id,
            units: "${JSON.stringify(this.object.selectedUnits).replace(/"/g, '\\"')}",
            apiToken:$apiToken          
          }) {
            status,
            errors,
            units {
              id
            }
          }
        }`,
        variables: {
          ... this.object,
          apiToken: this.user.apiToken
        }
      }).then(response => {
        let { status, errors, unit } = response.data[mutationName]

        if (status) {
          this.objectErrors = {}
          this.showMode = true
          this.$store.dispatch('getUnits')
        } else {
          this.objectErrors = errors
          this.$store.commit('toggleAlert', {
          type: 'error',
          message: this.$i18n.t('errors.invalidFields')
        })
        }
      }).catch(error => {
        this.$store.commit('toggleAlert', {
          type: 'error',
          message: this.$i18n.t('errors.internalError')
        })
      })
    }
  }
}
</script> 