<template>
  <v-container pt-0 fluid>
    <v-layout row wrap>
      <v-flex>
        <material-card
          color="primary"
        >
          <v-layout slot="header" row wrap justify-space-between align-center>
            <h4 style="padding: 0; margin: 0;">{{ $t(`pages.${$route.name}`) }}</h4>
            
            <v-tooltip bottom>
              <v-btn
                slot="activator"
                color="white"
                flat
                icon
                ma-0
                round
                style="margin: 0;"
                @click="newItem"
              >
                <v-icon>mdi-plus-circle</v-icon>
              </v-btn>  

              <span>{{ $t('workshops.titleNew') }}</span>
            </v-tooltip>
          </v-layout>
          <v-text-field
            v-model="search"
            append-icon="search"
            :label="$t('actions.search')"
            single-line
            hide-details
          />
          <v-data-table
            :headers="headers"
            :items="workshops"
            :search="search"
            next-icon="mdi-chevron-right"
            prev-icon="mdi-chevron-left"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.service }}</td>
              <td>{{ props.item.name }}</td>
              <td>{{ props.item.unitName }}</td>
              <td>{{ props.item.dateIn }}</td>
              <td>
                <p v-if="props.item.dateOut == null">No definido</p>
                <p v-else>{{ props.item.dateOut }}</p>
              </td>
              <td>
                <v-chip color="warning" v-if="props.item.state==0">En cola</v-chip>
                <v-chip color="green" v-if="props.item.state==1">Reparando</v-chip>
                <v-chip color="primary" v-if="props.item.state==2">Terminado</v-chip>
              </td>
              <td style="text-align: right; padding: 0;">
                <v-btn flat icon round color="info" @click="showItem(props.item.id)">
                  <v-icon>mdi-file-find-outline</v-icon>
                </v-btn>
                <v-btn flat icon round color="warning" @click="editItem(props.item.id)">
                  <v-icon>mdi-file-document-edit-outline</v-icon>
                </v-btn>
                <v-btn flat icon round color="error" @click="deleteItem(props.item.id)">
                  <v-icon>mdi-file-cancel-outline</v-icon>
                </v-btn>
              </td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">{{ $t('helpers.notFound', { search }) }}</v-alert>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>

    <v-dialog
      id="formModal"
      v-model="formModal"
      scrollable
      persistent
      :overlay="false"
      :max-width="maxWidth"
      transition="dialog-transition"
    >
      <v-card>
        <v-card-title class="headline primary elevation-3" style="text-align: center;"><h5 class="white--text ma-0">{{ title }}</h5></v-card-title>
        
        <v-layout row wrap pa-3 align-center justify-center>
          <v-flex xs12 sm6 md4>
            <v-radio-group v-model="createType" row>
              <v-radio
                v-for="option in servType"
                :label="option.name" 
                :value="option.value"
                :disabled="showMode"
                :key="option.value"
              />
            </v-radio-group>
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-select 
              v-if="createType==0"
              v-model="object.service"
              :items="serviceTypes"
              item-value="name"
              :label="$t('workshops.service')"
              prepend-icon="mdi-account-card-details-outline"
              :disabled="showMode"
              :error="objectErrors.service !== undefined"
              :error-messages="parseErrors(objectErrors.service)"
            >
              <template slot="item" slot-scope="{item}">
                {{item.name}}
              </template>

              <template slot="selection" slot-scope="{item}">
                <span>
                  <v-chip small color="primary">{{ item.name }}</v-chip>
                </span>
              </template>
            </v-select>
            <v-text-field
              v-if="createType==1"
              v-model="object.service"
              :label="$t('workshops.service')"
              prepend-icon="mdi-account-card-details-outline"
              :disabled="showMode"
              :error="objectErrors.service !== undefined"
              :error-messages="parseErrors(objectErrors.service)"
            />
          </v-flex>

          <v-flex xs12 sm6 md4>
            <v-text-field
              v-model="object.name"
              :label="$t('workshops.name')"
              prepend-icon="mdi-account-card-details-outline"
              :disabled="showMode"
              :error="objectErrors.name !== undefined"
              :error-messages="parseErrors(objectErrors.name)"
            />
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-select
              v-model="object.state"
              :items="states"
              :label="$t('workshops.state')"
              prepend-icon="mdi-account-card-details-outline"
              :disabled="showMode"
              :error="objectErrors.state !== undefined"
              :error-messages="parseErrors(objectErrors.state)"
            >
              <template slot="item" slot-scope="{item}">
                {{item.name}}
              </template>

              <template slot="selection" slot-scope="{item}">
                <span>
                  <v-chip small color="primary">{{ item.name }}</v-chip>
                </span>
              </template>
            </v-select>
          </v-flex>

          <v-flex xs12 sm6 md4>

            <v-select
              v-model="object.backendMqttUnitId"
              :items="units"
              item-value="id"
              :label="$t('workshops.unit')"
              prepend-icon="mdi-car"
              :disabled="showMode"
              :error="objectErrors.backendMqttUnitId !== undefined"
              :error-messages="parseErrors(objectErrors.backendMqttUnitId)"
            >
              <template slot="item" slot-scope="{item}">
                  {{item.name}}
                </template>

                <template slot="selection" slot-scope="{item}">
                  <span>
                    <v-chip small color="primary">{{ item.name }}</v-chip>
                  </span>
                </template>
            </v-select>
          </v-flex>
          
          <v-flex xs12 sm6 md4>
            <v-menu
              ref="dateMenuIn"
              v-model="dateMenuIn"
              :close-on-content-click="false"
              :nudge-right="40"
              :return-value.sync="object.dateIn"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <template slot="activator" slot-scope="{ on }">
                <v-text-field
                  v-model="object.dateIn"
                  :label="$t('workshops.dateIn')"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="object.dateIn" no-title scrollable>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="dateMenuIn = false">{{$t('actions.cancel')}}</v-btn>
                <v-btn flat color="primary" @click="$refs.dateMenuIn.save(object.dateIn)">{{$t('actions.ok')}}</v-btn>
              </v-date-picker>
            </v-menu>
          </v-flex>

          <v-flex xs12 :sm6="createType == 1">
            <v-menu
              ref="dateMenuOut"
              v-model="dateMenuOut"
              :close-on-content-click="false"
              :nudge-right="40"
              :return-value.sync="object.dateOut"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <template slot="activator" slot-scope="{ on }">
                <v-text-field
                  v-model="object.dateOut"
                  :label="$t('workshops.dateOut')"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="object.dateOut" no-title scrollable>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="dateMenuOut = false">{{$t('actions.cancel')}}</v-btn>
                <v-btn flat color="primary" @click="$refs.dateMenuOut.save(object.dateOut)">{{$t('actions.ok')}}</v-btn>
              </v-date-picker>
            </v-menu>
          </v-flex>

          <v-flex xs12 sm6 v-if="createType == 1">
            <v-switch v-model="isSave" :label="$t('workshops.is_save')"> </v-switch>
          </v-flex>
        </v-layout>

        <v-card-actions v-if="!showMode">
          <v-spacer />
          <v-btn flat color="error" @click="discardChanges">{{ $t('actions.discardChanges') }}</v-btn>

          <v-btn v-if="object.id !== undefined" flat color="primary" @click="saveChanges">{{ $t('actions.saveChanges') }}</v-btn>
          
          <v-btn v-else-if="object.id === undefined" flat color="primary" @click="createItem">{{ $t('actions.createItem', { name: $t('workshops.objectName')}) }}</v-btn>
        </v-card-actions>

        <v-card-actions v-else>
          <v-spacer />
          <v-btn flat color="error" @click="discardChanges">{{ $t('actions.close') }}</v-btn>
          <v-btn flat color="primary" @click="editItem(object.id)">{{ $t('actions.editItem', { name: $t('workshops.objectName')}) }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import gql from 'graphql-tag'

export default {
  data () {
    return {
      formModal: false, // Abrir modal
      showMode: true,   // Si se está editando (o creando) o no
      object: {},       // Objecto abierto en el formModal
      objectErrors: {}, // Errores de ORM para formModal
      servType: [{value: 0, name: 'Seleccionar servicio'}, {value: 1, name: 'Nuevo servicio'}],
      createType: 0,
      states: [{value: 0, name:'En cola'}, { value: 1, name:'Reparando'}, { value: 2, name: 'Terminado'}],
      dateMenuIn: false,
      dateMenuOut: false,
      minDate: new Date().toISOString().substr(0, 10),
      isSave: false,
      search: '',
      headers: [
        {
          text: this.$i18n.t('workshops.service'),
          align: 'left',
          sortable: true,
          value: 'service'
        },
        {
          text: this.$i18n.t('workshops.name'),
          align: 'left',
          sortable: true,
          value: 'name'
        },
        {
          text: this.$i18n.t('workshops.unit'),
          align: 'left',
          sortable: true,
          value: 'unitName'
        },
        {
          text: this.$i18n.t('workshops.dateIn'),
          align: 'left',
          sortable: true,
          value: 'dateIn'
        },
        {
          text: this.$i18n.t('workshops.dateOut'),
          align: 'left',
          sortable: true,
          value: 'dateOut'
        },
        {
          text: this.$i18n.t('workshops.state'),
          align: 'left',
          sortable: true,
          value: 'state'
        },
        {
          text: this.$i18n.t('helpers.actions'),
          align: 'right',
          sortable: false,
          value: 'actions'
        }
      ]
    }
  },

  computed: {
    ...mapState(['user', 'units', 'workshops', 'serviceTypes']),

    defaultObject () {
      return {
        id: undefined,
        name: '',
        unitId: undefined,
        dateIn: new Date().toISOString().substr(0, 10),
        dateOut: "",
        service: "",
        state: 0
      }
    },

    maxWidth () {
      return window.innerWidth / 8 * 7
    },

    title () {
      if (this.showMode) {
        return this.$i18n.t('workshops.titleShow', { name: this.object.name })
      } else {
        if (this.object.id === undefined) {
          return this.$i18n.t('workshops.titleNew')
        } else {
          return this.$i18n.t('workshops.titleEdit', { name: this.object.name })
        }
      }
    }
  },

  created () {
    this.object = this.defaultObject
  },

  methods: {
    
    parseErrors (array) {
      if (array === undefined) {
        return []
      }

      return array.map((currentValue, index, array) => {
        return currentValue.charAt(0).toUpperCase() + currentValue.substr(1)
      }).join(', ')
    },

    saveChanges () {
      this.graphQLWrapper('editWorkshop')
    },

    async editItem (id) {
      await this.showItem(id)
      this.showMode = false
    },

    async showItem (id) {
      await this.$apollo.query({
        query: gql`query ($id:Int!, $apiToken:String!) {
          workshop(id:$id, apiToken:$apiToken) {
            status,
            errors,
            workshop {
              id,
              name,
              state,
              dateIn,
              dateOut,
              service,
              backendMqttUnitId
            }
          }
        }`,
        variables: {
          id,
          apiToken: this.user.apiToken
        },
        fetchPolicy: 'no-cache'
      }).then(response => {
        let { workshop, status } = response.data.workshop

        if (status) {
          this.createType = 1
          this.object = workshop
          this.formModal = true
          this.showMode = true
        } else {
          this.$store.commit('toggleAlert', {
            type: 'error',
            message: this.$i18n.t('errors.internalError')
          })
        }
      }).catch(error => {
        this.$store.commit('toggleAlert', {
          type: 'error',
          message: this.$i18n.t('errors.internalError')
        })
      })
    },

    async deleteItem (id) {
      this.$store.dispatch('deleteItem', {
        mutation: {
          graphql: 'deleteWorkshop',
          vuex: 'updateWorkshops'
        },
        object: {
          name: 'workshops',
          fields: `{
            name,
            date,
            unitName,
            state,
            dateIn,
            dateOut,
            service,
            backendMqttUnitId
          }`
        },
        variables: {
          id,
          apiToken: this.user.apiToken
        }
      })
    },

    discardChanges () {
      this.objectErrors = {}
      this.object = {}
      this.object = this.defaultObject
      this.formModal = false
      this.showMode = true
    },

    newItem () {
      this.objectErrors = {}
      this.object = {}
      this.object = this.defaultObject
      this.formModal = true
      this.showMode = false
    },

    createItem () {
      this.graphQLWrapper('addWorkshop')
    },

    graphQLWrapper (mutationName) {
      this.$apollo.mutate({
        mutation: gql`mutation (${mutationName.includes('add') ? '' : '$id:Int!,'}$name:String!, $state:Int!, $dateIn:String!,$dateOut:String!,$service:String!, $backendMqttUnitId:Int!, $apiToken:String!, $isSave:Boolean!) {
          ${mutationName}(input:{
            ${mutationName.includes('add') ? '' : 'id:$id,'}
            name:$name,
            service:$service
            state:$state,
            dateIn:$dateIn,
            dateOut:$dateOut,
            unitId:$backendMqttUnitId,
            apiToken:$apiToken
            isSave:$isSave
          }) {
            status,
            errors,
            workshop {
              id,
              name,
              state,
              unitName,
              dateIn,
              dateOut,
              service,
              backendMqttUnitId
            }
          }
        }`,
        variables: {
          ...this.object,
          apiToken: this.user.apiToken,
          isSave: this.isSave
        }
      }).then(response => {
        let { status, errors, workshop } = response.data[mutationName]
        console.log(this.isSave)
        if (status) {
          this.object = workshop
          this.objectErrors = {}
          this.showMode = true
          this.$store.dispatch('getWorkshops')
          this.$store.dispatch('getServiceTypes')
        } else {
          this.objectErrors = errors
          this.$store.commit('toggleAlert', {
            type: 'error',
            message: this.$i18n.t('errors.invalidFields')
          })
        }
      }).catch(error => {
        this.$store.commit('toggleAlert', {
          type: 'error',
          message: this.$i18n.t('errors.internalError')
        })
      })
    }
  }
}
</script> 