tr
  td colspan="2" style="width: 100% !important; border-top: 1px solid rgba(0,0,0,0.1); margin-top: 5px;"
    / img style="width:400px;height:200px" src="/favicon.png"
    table 
      tr
        td
          h3 #{t('mailer.hello')} #{@operator[:name]}
      tr style="text-align: justify;"
      - if @type === 'time'
     	  td #{t('mailer.service_about_to_activate', {service: @service, time: @value})}
      - elsif @type === 'km'
        td #{t('mailer.service_about_to_activate_km', {service: @service, km: @value})}
      - else
        td #{t('mailer.service_about_to_activate_engine', {service: @service, engine: @value})}
      tr
      	td
	        h3 #{t('mailer.units')}
	        - @units.each do |unit|
	          li style="list-style-type:none;" #{unit}
footer style="background-color:#00a5e8; width:100%; color:#ffffff; border-radius: 10px; padding: 10px"
	h4 #{t('mailer.footer')}
	h3 style="text-align:right" #{t('mailer.branch')}