<template>
	<v-app>
    <div id="core-view">
      <core-header/>
      <v-fade-transition mode="out-in">
        <router-view />
      </v-fade-transition>
      <core-footer-frontend/>
    </div>
	</v-app>
</template>

<script>
import CoreFooterFrontend from '@/components/core/FooterFrontend.vue'
import CoreHeader from '@/components/core/Header.vue'

export default {
	components: {
		CoreFooterFrontend,
    CoreHeader
	}
}
</script>