<template>
  <v-layout
    justify-center
    align-center
    row
    wrap>
    <parallax-container class="parallax-container">
      <parallax-element :style="wallpaper" :parallaxStrength="-50" :type="'translation'" />
    </parallax-container>
    <router-view />
  </v-layout>
</template>

<script>
export default {
  computed: {
    backgroundStyles () {
      return `background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              width: 120vw;
              height: 120vh;
              margin: -10vh -10vw;`
    },

    wallpaper () {
      return `
        ${this.backgroundStyles}
        background-image: url(${this.$assetsLoader.background});
      `
    }
  }
}
</script>

<style scoped>
  .parallax-container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
  }

  .login-form {
    z-index: 1;
    padding: 1em;
    text-align: center;
    width: 70%;
    background-color: rgba(255,255,255,0.4);
    border-radius: 5px;
  }
</style>
