<template>
  <v-app>

    <core-toolbar />

    <core-drawer />

    <v-content>
      <div id="core-view">
        <v-fade-transition mode="out-in">
          <router-view />
        </v-fade-transition>
      </div>
      <core-footer v-if="$route.name !== 'Maps'" />
    </v-content>
  </v-app>
</template>

<script>
import CoreToolbar from '@/components/core/Toolbar.vue'
import CoreDrawer from '@/components/core/DrawerMaintenances.vue'
import CoreFooter from '@/components/core/Footer.vue'

export default {
  components: {
    CoreToolbar,
    CoreDrawer,
    CoreFooter
  },

  beforeCreate () {
    if (this.$store.state.user.__typename === 'User') {
      this.$router.push('/Team')
    }
  }
}
</script>