@import 'material-dashboard/variables';

$primary: #00a5e8;
$info: #2d5db5;

.vue-button {
  background: $primary;
  border: none;
  font-size: 22px;
  flex: 1;
  margin: 5px;
  border-radius: 5px;
  color: #fff;
  transition: all 200ms ease;
  &:hover {
    background: $info;
  }
}

.vue-duallist {
  display: flex;
  flex-direction: column;
  width: 100%;
  .lists {
    flex: 1;
    margin: 10px;
    flex-direction: column;
  }
  .controls {
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .lists .list-finder {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    transition: all 200ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:focus {
      border-color: $primary;
    }
  }
}

.list-options {
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 100px;
  overflow-y: scroll;
}

.list-option {
  width: 100%;
  padding: 2px 5px;
  height: 30px;
  background: transparent;
  border-color: transparent;
  text-align: left;
  transition: all 200ms ease;
  &:hover {
    background: #ccc;
    span {
      opacity: 1;
    }
  }
  span {
    text-align: right;
    float: right;
    opacity: 0.5;
  }
}