<template>
  <v-app id="app">
    <router-view />
    <toast />
  </v-app>
</template>

<script>
import Toast from '@/components/Toast.vue'

export default {
  components: {
    Toast
  },

  created () {
    if (this.$route.fullPath == '/Main/Home') {
      this.$router.push('/Main/Home')
    } else if (this.$route.fullPath !== '/Sessions/New' && this.$store.state.user.apiToken === '') {
      this.$router.push('/Sessions/New')
    }
  },

  computed: {
    backgroundStyles () {
      return `background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              width: 120vw;
              height: 120vh;
              margin: -10vh -10vw;`
    },

    spaceShuttle () {
      return `
        ${this.backgroundStyles}
        background-image: url(${this.$assetsLoader.background});
      `
    },

    stars () {
      return `
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        background-image: url(${this.$assetsLoader.stars});
        position: absolute;
        top: 0;
        left: 0;
      `
    },

    screenSize () {
      return window.innerWidth > 900
    }
  }
}
</script>

<style scoped>
body {
  font-size: 24px;
},
.parallax-container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
  }
</style>
