<template lang="jade">
  div
    .row
      .col-12
        .card
          .card-header
            h5.card-title {{ $t('units.title_index') }}
          .card-body
            golden-m-table(:headers='headers', :rows="rows", :i18n="i18n", :action="action")
</template>

<script>
import GoldenMTable from '@/components/GoldenMTable.vue'

export default {
  components: {
    GoldenMTable
  },

  data () {
    return {
      actions: { show: false, edit: false, delete: false },
      headers: {
        wialonName: this.$i18n.t('units.wialon_name'),
        wialonImei: this.$i18n.t('units.wialon_imei')
      },
      rows: [],
      i18n: this.$i18n.t('table')
    }
  },

  computed: {
    action () {
      return { url: '/Operations/units/new', name: this.$i18n.t('units.title_new') }
      // if (this.$globalData.user.permissions.units.add) {
      //   return { url: '/Operations/units/new', name: this.$i18n.t('units.title_new') }
      // } else {
      //   return {}
      // }
    }
  },

  beforeMount () {
    this.$graphqlPipe.executeQuery(`{ units {
      id
      wialonName
      wialonImei
      actions
    }}`).then(response => {
      this.rows = response.data.units
    }).catch(error => {
      console.error(error)
      this.$bus.$emit('show-message', this.$i18n.t('errors.generic_message'), {
        color: 'danger',
        icon: 'now-ui-icons ui-1_simple-remove'
      })
    })
  }
}
</script>
