<template>
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{ $t('units.title_new') }}</h5>
      </div>

      <div class="card-body">
        <custom-alert v-show="ormErrors.length > 0" icon="now-ui-icons ui-1_bell-53" type="danger" :preMessage="errorMessage" :content="ormErrors" />

        <el-select class="select-primary col-12" style="margin-top: 15px;" :placeholder="$t('units.linked_wialon_account_id')" v-model="form.linked_wialon_account_id" @change="updateUnitsList">
          <el-option v-for="option in linked_wialon_accounts" :value="option.id" :label="option.username" :key="option.username" />
        </el-select>

        <dual-list :items="units" :i18n="translations" @changeSelection="updateSelection" title="wialon_name" subtitle="wialon_plate" />

        <div class="col-12" style="display: flex; justify-content: space-between;">
          <button @click="$router.go(-1)" class="btn btn-danger">{{ $t('actions.back') }}</button>

          <animated-button @click="sendForm" :state="state" :text="$t('actions.submit')" loader-type="grow" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Select, Option } from 'element-ui'
import DualList from '@/components/GoldenMDualList.vue'
import AnimatedButton from '@/components/AnimatedButton.vue'
import CustomAlert from '@/components/CustomAlert.vue'

export default {
  components: {
    /* eslint-disable vue/no-unused-components */
    [Option.name]: Option,
    [Select.name]: Select,
    /* eslint-enable vue/no-unused-components */
    DualList,
    AnimatedButton,
    CustomAlert
  },

  data () {
    return {
      linked_wialon_accounts: [],
      translations: this.$i18n.t('dual_list'),
      units: [],
      form: {},
      ormErrors: [],
      state: false
    }
  },

  computed: {
    errorMessage () {
      if (this.ormErrors.length === 1) {
        return `1 ${this.$i18n.t('actions.error')} ${this.$i18n.t('actions.while_create')}`
      } else {
        return `${this.ormErrors.length} ${this.$i18n.t('actions.errors')} ${this.$i18n.t('actions.while_create')}`
      }
    }
  },

  beforeCreate () {
    this.$graphqlPipe.executeQuery(`{
      linkedWialonAccounts {
        id
        username
      }
    }`).then(response => {
      this.linked_wialon_accounts = response.data.linkedWialonAccounts
    }).catch(error => {
      this.showError()
      this.toggleButton()
    })
  },

  methods: {
    sendForm () {
      this.state = true
      let router = this.$router

      let query = `mutation {
        importUnits(input: {
          linkedWialonAccountId: ${this.form.linked_wialon_account_id},
          units: "${JSON.stringify(this.form.selectedUnits).replace(/"/g, '\\"')}"
        }) {
          status,
          errors,
          units {
            id
          }
        }
      }`

      console.log(query)

      this.$graphqlPipe.executeMutation(query).then(response => {
        let { status, errors } = response.data.importUnits

        this.state = false

        if (status) {
          if (errors.length === 0) {
            router.push(`/Operations/units/list`)
          } else {
            this.ormErrors = errors
          }
        } else {
          this.ormErrors = errors
        }
      }).catch(error => {
        this.showError()
      })
    },

    updateSelection (newData) {
      this.form.selectedUnits = newData
    },

    updateUnitsList () {
      this.state = true

      let query = `{
        wialonUnits(linkedWialonAccountId:${this.form.linked_wialon_account_id})
      }`
      this.$graphqlPipe.executeQuery(query).then(response => {
        let { wialonUnits } = response.data
        this.state = false
        switch (wialonUnits.status) {
          case 200:
            this.units = wialonUnits.data
            break

          case 403:
            this.showError(wialonUnits.reason)
            break
        }
      }).catch(error => {
        this.showError()
      })
    },

    showError (message = 'generic_message') {
      this.state = false
      this.$bus.$emit('show-message', this.$i18n.t(`errors.${message}`), {
        color: 'danger',
        icon: 'now-ui-icons ui-1_simple-remove'
      })
    }
  }
}
</script>
