<template>
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{ $t('units.title_show', { name: this.data.wialonName }) }}</h5>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4">
            <h6><b>{{ $t('units.wialon_name') }}</b></h6>
            <p>{{ data.wialonName }}</p>
          </div>

          <div class="col-12 col-sm-6 col-md-4">
            <h6><b>{{ $t('units.wialon_imei') }}</b></h6>
            <p>{{ wialonImei }}</p>
          </div>

          <div class="col-12 col-md-4">
            <h6><b>{{ $t('units.wialon_plate') }}</b></h6>
            <p>{{ wialonPlate }}</p>
          </div>
  
          <div class="col-12" style="display: flex; justify-content: space-between;">
            <button @click="$router.push(`/Operations/units/list`)" class="btn btn-danger">{{ $t('actions.back') }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    data () {
      return {
        data: new Object
      }
    },

    computed: {
      wialonPlate () {
        if (this.data.wialonPlate == ""){
          return this.$i18n.t('helpers.not_available')
        } else {
          return this.data.wialonPlate
        }
      },

      wialonImei () {
        if (this.data.wialonImei == ""){
          return this.$i18n.t('helpers.not_available')
        } else {
          return this.data.wialonImei
        }
      }
    },

    beforeCreate () {
      this.$graphqlPipe.executeQuery(`{
        unit(id: ${this.$route.params.id}){
          id
          wialonName
          wialonImei
          wialonPlate
        }
      }`).then(response => {
        this.data = response.data.unit
      }).catch(error => {
        this.$bus.$emit('show-message', this.$i18n.t('errors.generic_message'), {
          color: 'danger',
          icon: 'now-ui-icons ui-1_simple-remove'
        })
      })
    }
  }
</script>