<template>
  <v-navigation-drawer
    id="app-drawer"
    v-model.sync="inputValue"
    app
    dark
    floating
    persistent
    mobile-break-point="991"
    width="260"
  >
    <v-img height="100%">
      <v-layout class="fill-height" tag="v-list" column>
        <v-list-tile avatar>
          <v-list-tile-avatar color="white">
            <v-img :src="favicon" height="42" width="42" />
          </v-list-tile-avatar>
          <v-list-tile-title class="title">{{ lengthCutter(pageTitle, 15) }}</v-list-tile-title>
        </v-list-tile>

        <v-divider class="mb-0" />
        
        <v-list-group
          v-model="userMenu"
          no-action
        >
          <v-list-tile avatar slot="activator">
            <v-list-tile-avatar>
              <v-img :src="$assetsLoader.avatar" height="40" width="40" />
            </v-list-tile-avatar>
            <v-list-tile-title>{{ lengthCutter(user.name) }}</v-list-tile-title>
          </v-list-tile>

          <v-list-tile class="v-list-item" avatar @click="signOut">
            <v-list-tile-action><v-icon>mdi-lock</v-icon></v-list-tile-action>
            <v-list-tile-title>{{ $t('login.logout') }}</v-list-tile-title>
          </v-list-tile>
           
        </v-list-group>

        <v-divider/>
        
        <v-list-tile
          v-for="(link, i) in links"
          :key="i"
          :to="link.to"
          active-class="primary-active"
          avatar
          class="v-list-item"
        >
          <v-list-tile-action>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>{{ $t(`pages.${link.name}`) }}</v-list-tile-title>
        </v-list-tile>
      </v-layout>
    </v-img>
  </v-navigation-drawer>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      userMenu: false,
      links: [
        {
          to: '/Operations/Home',
          icon: 'mdi-view-dashboard',
          name: 'operationsHome'
        }
      ]
    }
  },

  created () {
    let { permissions } = this.user

    if (permissions['monitorists.list']) {
      this.links.push({
        to: '/Operations/Monitorists',
        icon: 'mdi-account-card-details',
        name: 'monitorists'
      })
    }

    if (permissions['units.list']) {
      this.links.push({
        to: '/Operations/Units',
        icon: 'mdi-car-connected',
        name: 'units'
      })
    }
  },

  computed: {
    ... mapState(['user', 'whitelabel']),

    favicon () {
      if (window.location.hostname === this.$store.state.mainDomain || this.$store.state.isLocal) {
        return this.$assetsLoader.favicon
      } else {
        return this.whitelabel.logo
      }
    },

    pageTitle () {
      if (window.location.hostname === this.$store.state.mainDomain || this.$store.state.isLocal) {
        return this.$i18n.t('app.titleShort')
      } else {
        return this.whitelabel.pageTitle
      }
    },

    inputValue: {
      get () {
        return this.user.sidebarStatus
      },
      set (val) {
        this.$store.dispatch('toggleSidebar', val)
      }
    }
  },

  methods: {
    lengthCutter (string, size = 25) {
      if (string.length > size) {
        return `${string.substring(0, size)}...`
      } else {
        return string
      }
    },

    signOut () {
      this.$store.dispatch('signOut', { router: this.$router })
    }
  }
}
</script>

<style lang="scss">
  #app-drawer {
    .v-list__tile {
      border-radius: 4px;

      &--buy {
        margin-top: auto;
        margin-bottom: 17px;
      }
    }

    .v-image__image--contain {
      top: 9px;
      height: 60%;
    }

    .search-input {
      margin-bottom: 30px !important;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .primary-active {
    background: var(--v-primary-base) !important;
  }
</style>
