<template>
  <v-footer
    id="core-footer"
    absolute
    height="82"
  >
    <v-spacer/>
    <span class="font-weight-light copyright">
      &copy;
      {{ (new Date()).getFullYear() }}
      <a
        class="active-footer"
        :href="website"
        target="_blank">{{ company }}</a>
    </span>
  </v-footer>
</template>

<script>
export default {
  computed: {
    website () {
      if (window.location.hostname !== this.$store.state.mainDomain && !this.$store.state.isLocal) {
        return this.$store.state.whitelabel.footerUrl
      } else {
        return this.$i18n.t('copyright.website')
      }
    },

    company () {
      if (window.location.hostname !== this.$store.state.mainDomain && !this.$store.state.isLocal) {
        return this.$store.state.whitelabel.footerName
      } else {
        return this.$i18n.t('copyright.company')
      }
    },
  }
}
</script>

<style lang='scss'>
#core-footer {
  z-index: 0;
}
.active-footer {
  color: var(--v-primary-base) !important;
}
</style>
