<template>
  <v-footer
    dark
    height="auto"
  >
    <v-flex xs12>
      <v-card
        flat
        tile
        width="auto"
        class="primary white--text text-xs-center"
      >
        <v-card-text>
          <v-btn
            v-for="icon in icons"
            :key="icon"
            class="mx-3 white--text"
            icon
          >
            <v-icon size="24px">{{ icon }}</v-icon>
          </v-btn>
        </v-card-text>

        <v-card-text class="white--text pt-0">
         <p>Este sistema está diseñado para usuarios que posean uno o más vehículos, para ayudar a administrar y organizar los trabajos de mantenimiento.</p>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-text class="white--text">
          <span>
            &copy;
            {{ (new Date()).getFullYear() }}
            <a
              class="active-footer"
              :href="website"
              target="_blank">{{ company }}</a>
          </span>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-footer>
</template>


<script>
  export default {
    computed: {
      website () {
        if (window.location.hostname !== this.$store.state.mainDomain && !this.$store.state.isLocal) {
          return this.$store.state.whitelabel.footerUrl
        } else {
          return this.$i18n.t('copyright.website')
        }
      },

      company () {
        if (window.location.hostname !== this.$store.state.mainDomain && !this.$store.state.isLocal) {
          return this.$store.state.whitelabel.footerName
        } else {
          return this.$i18n.t('copyright.company')
        }
      },
    },
    data: () => ({
      icons: [
        'mdi mdi-facebook',
        'mdi mdi-map-legend',
        'mdi mdi-car',
        'mdi mdi-map-marker',
        'mdi mdi-settings'
      ]
    })
  }
</script>
<style>
  
</style>