<template>
  <v-toolbar dark color="white" fixed >
    <v-toolbar-title class="dark--text" style="display: flex; flex-direction: row; align-items: flex-start; justify-content: flex-start; margin-left: 0;">
      <v-img :src="require('../../../assets/images/favicon.png')" width="180" height="50" contain />
      {{ $t('app.title') }}
    </v-toolbar-title>
    <v-spacer />

    <v-tooltip bottom>
      <v-btn slot="activator" to="/Home" icon>
        <v-icon>mdi-home-variant-outline</v-icon>
      </v-btn>

      <span>{{ $t('pages.home') }}</span>
    </v-tooltip>

    <v-tooltip bottom dark>
      <v-btn slot="activator" to="/Home" icon>
        <v-icon>mdi-calendar-check</v-icon>
      </v-btn>

      <span>{{ $t('pages.events_contact') }}</span>
    </v-tooltip>

    <v-tooltip bottom dark>
      <v-btn slot="activator" to="/Home" icon>
        <v-icon>mdi-gas-station</v-icon>
      </v-btn>
    </v-tooltip>
  </v-toolbar>
</template>

<script>
export default {
  name: 'Drawer'
}
</script>
