<template>
  <v-toolbar
    id="core-toolbar"
    flat
    prominent
    style="background: #eee;"
  >
    <div class="v-toolbar-title">
      <v-toolbar-title
        class="tertiary--text font-weight-light"
      >
        <v-btn
          v-if="!user.sidebarStatus"
          class="default v-btn--simple"
          icon
          @click="onClickBtn"
        >
          <v-icon>mdi mdi-menu</v-icon>
        </v-btn>
        {{ title }}
      </v-toolbar-title>
    </div>

    <v-spacer />
    <v-toolbar-items>
      <v-flex
        align-center
        layout
        py-2
      >
        <v-tooltip bottom>
          <router-link
            v-ripple
            class="toolbar-items"
            to="/Operations"
            slot="activator"
          >
            <v-icon :color="validateMainRoute('Operations')">mdi-toolbox-outline</v-icon>
          </router-link>

          <span>{{ $t('app.operations') }}</span>
        </v-tooltip>

        <v-tooltip bottom>
          <router-link
            v-ripple
            class="toolbar-items"
            to="/Maintenances"
            slot="activator"
          >
            <v-icon :color="validateMainRoute('Maintenances')">mdi-cash-register</v-icon>
          </router-link>
            
          <span>{{ $t('app.maintenances') }}</span>
        </v-tooltip>
      </v-flex>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState(['user']),
    title () {
      return this.$i18n.t(`pages.${this.$route.name}`)
    }
  },

  mounted () {
    this.toggleSidebar()
    window.addEventListener('resize', this.toggleSidebar)
  },

  methods: {
    onClickBtn () {
      this.$store.dispatch('toggleSidebar', !this.user.sidebarStatus)
    },

    validateMainRoute (module) {
      let paths = this.$route.fullPath.split('/')
      if (paths.includes(module)) {
        return 'primary'
      } else {
        return 'tertiary'
      }
    },

    toggleSidebar () {
      if (window.innerWidth > 991) {
        this.$store.dispatch('toggleSidebar', true)
      }
    }
  }
}
</script>

<style>
  #core-toolbar a {
    text-decoration: none;
  }
</style>
