@import "vue-snotify/styles/material.scss";
@import "@mdi/font/scss/materialdesignicons.scss";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400');
@import "./index.scss";
* { font-family: 'Titillium Web', sans-serif; }

.v-datatable__actions {
  .v-datatable__actions__range-controls {
    .v-btn.v-btn--flat.v-btn--icon.theme--light {
      color: #000 !important;
    }
  }
}