<template>
  <div class="row">
    <div class="col-12">
      <custom-alert v-show="ormErrors.length > 0" icon="now-ui-icons ui-1_bell-53" type="danger" :preMessage="errorMessage" :content="ormErrors" />
    </div>

    
    <div class="col-12 col-sm-6 col-md-4">
      <label>{{ $t('services.type')}}</label>
      <el-radio-group v-model="SerType">
        <el-radio-button :label="0">Seleccionar servicio</el-radio-button>
        <el-radio-button :label="1">Nuevo servicio</el-radio-button>
      </el-radio-group>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <label v-if="SerType==0">{{ $t('services.type_name')}}</label>
      <el-select class="select-primary col-12" style="width: 100%" v-if="SerType==0" v-model="form.name">
        <el-option v-for="option in serviceTypes" :value="option.name" :label="option.name" :key="option.id"/>
      </el-select>
      <fg-input class="" v-if="SerType==1" :label="$t('services.name')" :placeholder="$t('helpers.required')" v-model="form.name" />
    </div>

    <div class="col-12 col-sm-6 col-md-4 form-group">
      <label>{{ $t('services.state') }}</label>
      <el-select class="select-primary col-12" style="width: 100%;" :filterable="true" v-model="form.status">
        <el-option v-for="option in statuses" :value="option.id" :label="option.name" :key="option.name" />
      </el-select>
    </div>

    <div class="col-12 col-sm-6 form-group">
      <label>{{ $t('services.unit') }}</label>
      <el-select class="select-primary col-12" style="width: 100%;" :filterable="true" v-model="form.unit">
        <el-option v-for="option in units" :value="option.id" :label="option.name" :key="option.name" />
      </el-select>
    </div>

    <div class="col-12 col-sm-6 form-group">
      <label>{{ $t('services.date')}}</label>
      <el-date-picker v-model="form.date" type="date" :placeholder="$t('services.pickDate')" :picker-options="pickerOptions" value-format= "yyyy-MM-dd"></el-date-picker>
    </div>

    <div class="col-12" style="display: flex; justify-content: space-between;">
      <button @click="$router.go(-1)" class="btn btn-danger">{{ $t('actions.back') }}</button>

      <el-button type="primary"  v-if="SerType == 1" @click="dialogVisible = true" buttonClass="btn-primary" :removeState="state" :text="$t('actions.submit')" >{{ $t('actions.submit')}}</el-button>
      <el-button type="primary" v-if="SerType == 0" @click="sendForm(false)" buttonClass="btn-primary" :removeState="state" :text="$t('actions.submit')" >{{ $t('actions.submit')}}</el-button>
    </div>
    <el-dialog
      title="Tipos de servicio"
      :visible.sync="dialogVisible"
      width="30%">
      <span>{{ $t('services.is_save')}}</span>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" @click="sendForm(false)">No</el-button>
        <el-button type="primary" @click="sendForm(true)">Guardar</el-button>
      </span>
    </el-dialog>
  </div>
  
</template>

<script>
import CustomAlert from '@/components/CustomAlert.vue'
import AnimatedButton from '@/components/AnimatedButton.vue'
import { Select, Option, DatePicker, TimeSelect, RadioButton, RadioGroup, Dialog, Button, Message, MessageBox } from 'element-ui'
import lang from 'element-ui/lib/locale/lang/es'
import locale from 'element-ui/lib/locale'

locale.use(lang)

export default {
  components: {
    CustomAlert,
    /* eslint-disable vue/no-unused-components */
    [Option.name]: Option,
    [Select.name]: Select,
    [DatePicker.name]: DatePicker,
    [TimeSelect.name]: TimeSelect,
    [RadioGroup.name]: RadioGroup,
    [RadioButton.name]: RadioButton,
    [Dialog.name]: Dialog,
    [Button.name]: Button,
    [Message.name]: Message,
    [MessageBox.name]: MessageBox,
    /* eslint-enable vue/no-unused-components */
    AnimatedButton
  },

  props: {
    originalData: {
      type: Object,
      /* eslint-disable vue/require-valid-default-prop */
      default: {}
      /* eslint-enable vue/require-valid-default-prop */
    },

    method: {
      type: String,
      default: 'post'
    }
  },

  beforeCreate () {
    this.$graphqlPipe.executeQuery(`{
      units {
        id
        name: wialonName
      }
      serviceTypes {
        id
        name
      }
    }`).then(response => {
      this.units = response.data.units
      this.serviceTypes = response.data.serviceTypes
    }).catch(error => {
      // this.showError()
      this.$bus.$emit('show-message', this.$i18n.t('errors.generic_message'), {
        color: 'danger',
        icon: 'now-ui-icons ui-1_simple-remove'
      })
    })
  },

  created () {
    this.form = this.originalData
  },

  watch: {
    originalData (newVal, oldVal) {
      this.form = newVal
    },

    unit (newVal, oldVal) {
      this.form.unit = newVal
    },

    state (newVal, oldVal) {
      if (newVal) {
        setTimeout(() => {
          this.state = false
        }, 50)
      }
    },

  },

  computed: {
    errorMessage () {
      if (this.ormErrors.length === 1) {
        return `1 ${this.$i18n.t('actions.error')} ${this.$i18n.t('actions.while_create')}`
      } else {
        return `${this.ormErrors.length} ${this.$i18n.t('actions.errors')} ${this.$i18n.t('actions.while_create')}`
      }
    }
  },

  data () {
    return {
      state: false,
      unit: undefined,
      units: [],
      statuses: [{id: 0, name: 'A realizar'}, {id: 1, name: 'En progreso'}], // State
      ormErrors: [],
      form: {},
      pickerOptions: {
        disabledDate (time) {
          return time.getTime() < Date.now();
        },
       
      },
      serviceTypes: [],
      SerType: 0,
      is_save: false,
      dialogVisible: false
    }
  },

  methods: {
    sendForm (bool) {
      let router = this.$router
      let form = this.form
      let object = ''

      switch (this.method) {
        case 'post':
          object = 'addService'
          break
        case 'put':
          object = 'editService'
          break
      }
      console.log(this.date)
      console.log(bool)
      let query = `mutation {
        ${object}(input: {
          ${((this.method === 'put') ? `id: ${this.$route.params.id},` : '')}
          name: "${form.name}",
          unitId: ${form.unit},
          state: ${form.status},
          date: "${form.date}",
          isSave: ${bool}
          
        }) {
          status,
          errors,
          service {
            id
          }
        }
      }`

      console.log(query)

      this.$graphqlPipe.executeMutation(query).then(response => {
        let { status, errors, service } = response.data[object]
        if (status) {
          router.push(`/Maintenances/services/${service.id}/details`)
        } else {
          this.ormErrors = errors
          this.showError()
        }
      }).catch(error => {
        this.showError()
        this.$bus.$emit('show-message', this.$i18n.t('errors.generic_message'), {
          color: 'danger',
          icon: 'now-ui-icons ui-1_simple-remove'
        })
      })
    },

    showError () {
      setTimeout(() => {
        this.state = true
      }, 1000)
    }
  }
}
</script>
