<template lang="jade">
  div
    .row
      .col-12
        .card
          .card-header
            h5.card-title {{ $t('services.title_index') }}
          .card-body
            golden-m-table(:headers='headers', @deleteAction="deleteRow", :rows="rows", :i18n="i18n", :action="action")
</template>

<script>
import GoldenMTable from '@/components/GoldenMTable.vue'

export default {
  components: {
    GoldenMTable
  },

  data () {
    return {
      actions: { show: true, edit: true, delete: false },
      headers: {
        name: this.$i18n.t('services.name'),
        unitName: this.$i18n.t('services.unit'),
        date: this.$i18n.t('services.date')
      },
      rows: [],
      i18n: this.$i18n.t('table')
    }
  },

  computed: {
    action () {
      return { url: '/Maintenances/services/new', name: this.$i18n.t('services.title_new') }
    }
  },

  mounted () {
    this.$graphqlPipe.executeQuery(`{ services {
      id
      name
      unit {
        name: wialonName
      }
      unitName
      date

      actions
    }}`).then(response => {
      this.rows = response.data.services

    }).catch(error => {
      console.error(error)

      this.showError()
    })
  },

  methods: {
    showError () {
      this.$bus.$emit('show-message', this.$i18n.t('errors.generic_message'), {
        color: 'danger',
        icon: 'now-ui-icons ui-1_simple-remove'
      })
    },

    deleteRow (data) {
      this.$graphqlPipe.executeMutation(`mutation {
        deleteService(input: {
          id: ${data.id}
        })
        {
          status
          services {
            id
            name
            date
            unitName
            actions
          }
        }
      }`).then(response => {
        console.log(response.data.deleteService.status)
        if (response.data.deleteService.status) {
          this.rows = response.data.deleteService.services
        } else {
          this.showError()
        }
      }).catch(error => {
        console.log(error)
        this.showError()
      })
    }
  }
}
</script>
