<template>
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{ $t('services.title_new') }}</h5>
      </div>

      <div class="card-body">
        <custom-form :originalData="this.originalData" />
      </div>
    </div>
  </div>
</template>

<script>
import CustomForm from './Form.vue'

export default {
  components: {
    CustomForm
  },

  data () {
    return {
      originalData: {
        name: '',
        unit: '',
        date: '',
      }
    }
  }
}
</script>
