<template>
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{ $t('services.title_show', { name: this.data.name }) }}</h5>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4">
            <h6><b>{{ $t('services.name') }}</b></h6>
            <p>{{ this.data.name }}</p>
          </div>

          <div class="col-12 col-sm-6 col-md-4">
            <h6><b>{{ $t('services.unit') }}</b></h6>
            <p>{{ this.data.unitName }}</p>
          </div>

          <div class="col-12 col-sm-6 col-md-4">
            <h6><b>{{ $t('services.state') }}</b></h6>
            <p>{{ this.data.status }}</p>
          </div>

          <div class="col-12 col-sm-6 col-md-4">
            <h6><b>{{ $t('services.date') }}</b></h6>
            <p>{{ this.data.date }}</p>
          </div>

          <div class="col-12" style="display: flex; justify-content: space-between;">
            <button v-if="$globalData.user.permissions.services.list" @click="$router.push(`/Maintenances/services/list`)" class="btn btn-danger">{{ $t('actions.back') }}</button>

            <button v-if="$globalData.user.permissions.services.edit" class="btn btn-primary" @click="$router.push(`/Maintenances/services/${$route.params.id}/edit`)">{{ $t('actions.edit') }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      data: {},    }
  },

  beforeCreate () {
    this.$graphqlPipe.executeQuery(`{
      service(id: ${this.$route.params.id}){
        id
        name
        date
        status
        unit{
          name: wialonName
        }
        unitName
      }
      
    }`).then(response => {
      this.data = response.data.service
    }).catch(error => {
      this.$bus.$emit('show-message', this.$i18n.t('errors.generic_message'), {
        color: 'danger',
        icon: 'now-ui-icons ui-1_simple-remove'
      })
    })
  }
}
</script>
