tr
  td colspan="2" style="width: 100% !important; border-top: 1px solid rgba(0,0,0,0.1); margin-top: 5px;" 
    table
      tr
        td
          h6 #{t('mailer.hello')} #{@monitorist.name}
      tr style="text-align: justify;"
        td #{t('mailer.account_setted')}
      tr
        td #{t('mailer.password', { password: @password })}