<template>
  <footer class="footer">
    <div class="container-fluid d-flex flex-wrap justify-content-between">
      <div class="copyright">
        &copy; {{ year }} 
        <a :href="$t('copyright.website')">{{ $t('copyright.company') }}</a> | {{ $t('copyright.all_rights') }}
      </div>
    </div>
  </footer>
</template>
<script>
  export default {
    data(){
      return {
        year: new Date().getFullYear()
      }
    }
  }

</script>
<style scoped>
  footer {
    height: 50px;
  }
</style>
