<template lang="jade">
  .wrapper(:class="{'nav-open': $sidebar.showSidebar}")
    goffice-sidebar(:userName="$globalData.fullName")
    .main-panel(style='display: flex; min-height: 100vh; flex-direction: column;')
      top-navbar(:userId='$globalData.user.id')
      router-view(name='header')
      .content(style='min-height: auto; flex: 1;')
        zoom-center-transition(:duration='200', mode='out-in')
          // your content here
          router-view
      content-footer

</template>
<script>
  /* eslint-disable no-new */
  import PerfectScrollbar from 'perfect-scrollbar'
  import 'perfect-scrollbar/css/perfect-scrollbar.css'

  import GofficeSidebar from '@/Views/Layout/Sidebar.vue'

  function hasElement (className) {
    return document.getElementsByClassName(className).length > 0;
  }

  function initScrollbar (className) {
    if (hasElement(className)) {
      new PerfectScrollbar(`.${className}`);
    } else {
      // try to init it later in case this component is loaded async
      setTimeout(() => {
        initScrollbar(className);
      }, 100);
    }
  }

  import TopNavbar from '@/Views/Layout/TopNavbar.vue'
  import ContentFooter from '@/Views/Layout/ContentFooter.vue'
  import DashboardContent from '@/Views/Layout/Content.vue'
  import { SlideYDownTransition, ZoomCenterTransition } from 'vue2-transitions'
  import axios from 'axios'

  export default {
    components: {
      TopNavbar,
      ContentFooter,
      DashboardContent,
      SlideYDownTransition,
      ZoomCenterTransition,
      GofficeSidebar
    },

    data () {
      return {
        userName: "",
        id: 0,
      }
    },

    beforeMount () {
      this.$globalData.$on('updated-data', (status) => {
        console.log("Herererer")
        this.$sidebar.toggleMinimize(this.$globalData.user.sidebarStatus)
      })
    },

    mounted () {
      let docClasses = document.body.classList;
      let isWindows = navigator.platform.startsWith('Win');
      if (isWindows) {
        // if we are on windows OS we activate the perfectScrollbar function
        initScrollbar('sidebar');
        initScrollbar('sidebar-wrapper');

        docClasses.add('perfect-scrollbar-on')
      } else {
        docClasses.add('perfect-scrollbar-off')
      }
    }
  }

</script>
<style lang="scss">
  $scaleSize: .95;
  @keyframes zoomIn95 {
    from {
      opacity: 0;
      transform: scale3d($scaleSize, $scaleSize, $scaleSize);
    }
    to {
      opacity: 1;
    }
  }
  .main-panel .zoomIn {
    animation-name: zoomIn95;
  }
  @keyframes zoomOut95 {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: scale3d($scaleSize, $scaleSize, $scaleSize);
    }
  }
  .main-panel .zoomOut {
    animation-name: zoomOut95;
  }
</style>
