<template>
  <side-bar originalApp="viggo-berry" :title="$t('app.title')" data-color="blue" :sidebarStatus="$globalData.user.sidebarStatus">
    <template slot="links">
      <user-menu :title="userName" />
      <!-- Operations sidebar -->
      <template v-if="getParentPath('Operations')">
        <sidebar-item :link="{ name: 'home', icon: 'mdi mdi-home', path: '/Operations/home' }" />

        <scaffold-sidebar v-if="$globalData.user.permissions.monitorists.list" :access="{list: $globalData.user.permissions.monitorists.list, add: $globalData.user.permissions.monitorists.add}" namespace="Operations" moduleName="monitorists" iconName="mdi mdi-account-card-details" />

        <scaffold-sidebar v-if="$globalData.user.permissions.units.list" :access="{list: $globalData.user.permissions.units.list, add: $globalData.user.permissions.units.add}" namespace="Operations" moduleName="units" iconName="mdi mdi-car-connected" />
      </template>
      <!-- /Operations sidebar -->

      <!-- Maintenances sidebar -->
      <template v-else-if="getParentPath('Maintenances')">
        <sidebar-item :link="{ name: 'home_maintenances', icon: 'mdi mdi-home', path: '/Maintenances/home' }" />
        <scaffold-sidebar :access="{list: $globalData.user.permissions.services.list, add: $globalData.user.permissions.services.add}" namespace="Maintenances" moduleName="services" iconName="mdi mdi-car-wash" />

        <scaffold-sidebar v-if="$globalData.user.permissions.intervals.list" :access="{list: $globalData.user.permissions.intervals.list, add: $globalData.user.permissions.intervals.add}" namespace="Maintenances" moduleName="intervals" iconName="mdi mdi-flattr" />

        <!-- <scaffold-sidebar v-if="$globalData.user.permissions.inventories.gps.list" :access="{list: $globalData.user.permissions.inventories.gps.list, add: $globalData.user.permissions.inventories.gps.add}" namespace="Inventories" moduleName="devices" iconName="mdi mdi-crosshairs-gps" /> -->
      </template>

      <!-- /Maintenances sidebar -->
    </template>
  </side-bar>
</template>

<script>
import UserMenu from '@/Views/Layout/Extra/UserMenu.vue'
import ScaffoldSidebar from '@/components/ScaffoldSidebar.vue'

export default {
  components: {
    UserMenu,
    ScaffoldSidebar
  },

  props: {
    userName: {
      type: String,
      required: true
    }
  },

  methods: {
    getParentPath (finder) {
      return this.$route.path.split('/').includes(finder)
    }
  }
}
</script>
