<template>
  <navbar :show-navbar="showNavbar">
    <div class="navbar-wrapper">
      <div class="navbar-toggle" :class="{toggled: $sidebar.showSidebar}">
        <navbar-toggle-button @click.native="toggleSidebar">
        </navbar-toggle-button>
      </div>
      <a class="navbar-brand" href="#pablo">
        {{ $t(`sidebar.${routeName}`) }}
      </a>
    </div>
    <button @click="toggleNavbar" class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navigation"
            aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>

    <template slot="navbar-menu">
      <ul class="navbar-nav">
        <li class="nav-item" :class="{'active': getParentPath($route.path, 'Operations')}">
          <a class="nav-link" href="#/Operations">
            <i class="now-ui-icons ui-1_settings-gear-63"></i>
            <p>
              <span class="d-lg-block d-md-block">{{ $t('header.operations') }}</span>
            </p>
          </a>
        </li>

        <li class="nav-item" :class="{'active': getParentPath($route.path, 'Maintenances')}">
          <a class="nav-link" href="#/Maintenances">
            <i class="now-ui-icons ui-2_settings-90"></i>
            <p>
              <span class="d-lg-block d-md-block">{{ $t('header.maintenances') }}</span>
            </p>
          </a>
        </li>
        
        <!-- <li class="nav-item" :class="{'active': getParentPath($route.path, 'Miscellaneous')}">
          <a class="nav-link" href="#/Miscellaneous">
            <i class="now-ui-icons ui-1_zoom-bold"></i>
            <p>
              <span class="d-lg-block d-md-block">{{ $t('header.misc') }}</span>
            </p>
          </a>
        </li> -->


        <!-- <li class="nav-item">
          <a class="nav-link" href="#/Reseller" :class="{'active': getParentPath($route.path, 'Reseller')}">
            <i class="now-ui-icons business_bank"></i>
            <p>
              <span class="d-lg-block d-md-block">{{ $t('header.reseller') }}</span>
            </p>
          </a>
        </li> -->
      </ul>

    </template>

  </navbar>
</template>
<script>
  import {RouteBreadCrumb, Navbar, NavbarToggleButton} from 'src/components';
  import {CollapseTransition} from 'vue2-transitions'

  export default {
    components: {
      RouteBreadCrumb,
      Navbar,
      NavbarToggleButton,
      CollapseTransition
    },

    props: {
      userId: {
        type: Number,
        required: true
      }
    },

    computed: {
      routeName() {
        const { name } = this.$route
        let matches = ['new_', 'edit_', 'show_', 'index_']
        
        let newName = name

        for(let i in matches){
          newName = newName.replace(matches[i], '')
        }
        
        return newName
        // return this.capitalizeFirstLetter(name)
      }
    },
    data() {
      return {
        activeNotifications: false,
        showNavbar: false
      }
    },
    methods: {
      getParentPath (fullPath, finder) {
        return fullPath.split("/").includes(finder)
      },

      capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1)
      },
      toggleNotificationDropDown() {
        this.activeNotifications = !this.activeNotifications
      },
      closeDropDown() {
        this.activeNotifications = false
      },
      toggleSidebar() {
        console.log("Here");
        axios.put(`/customers/${this.id}/sidebar`, { customer: { sidebar_prefences: this.$sidebar.showSidebar } }).then(response => {
          console.log(response)
        }).catch(error => {
          console.log(error)
        })

        // this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
      },
      toggleNavbar() {
        this.showNavbar = !this.showNavbar;
      },
      hideSidebar() {
        this.$sidebar.displaySidebar(false)
      }
    }
  }

</script>
<style>

</style>
