<template lang="jade">
  div(class="col-md-6 ml-auto mr-auto")
    form(@submit.prevent="")
      card(class="card-login card-plain")
        div(slot="header")
          div(class="logo-container", style="margin-bottom: 0 !important;")
            img(:src="favicon")
          h4(class="text-white text-center", style="margin: 0 !important;") {{ $t('app.title_long') }}
          h6(class="text-white text-center") {{ $t('app.slogan') }}
        
        div
          fg-input(@keyup.enter.native="submitForm", class="no-border", :placeholder="$t('customers.email')", addon-left-icon="now-ui-icons ui-1_email-85", v-model="email")
          
          fg-input(@keyup.enter.native="submitForm", class="no-border", type="password", :placeholder="$t('customers.password')", addon-left-icon="now-ui-icons objects_key-25", style="margin-bottom: 0;", v-model="password")

          hr(style="background-color: rgba(255,255,255,0.5)")
          
          animated-button(@click="submitForm", :removeState="state", :text="$t('authentication.login')")

</template>
<script>
  import axios from 'axios'
  import messages from '@/plugins/translations'
  import AnimatedButton from '@/components/AnimatedButton.vue'

  export default {
    components: { AnimatedButton },

    data() {
      return {
        email: '',
        password: '',
        securityToken: '',
        hostname: 'instora.goffice.io',
        openMessage: false,
        state: false
      }
    },

    created () {
      const metas = document.getElementsByTagName('meta')

      for (let i = 0; i < metas.length; i++) {
        if (metas[i].getAttribute('name') === 'csrf-token') {
          this.securityToken = metas[i].getAttribute('content')
        } else if (metas[i].getAttribute('name') === 'request.domain'){
          this.hostname = metas[i].getAttribute('content')
        }
      }
    },

    computed: {
      favicon () {
        if (this.hostname == 'instora.goffice.io')
          return '/favicon.png'
        else
          return `https://cdn.goffice.io/favicons/${this.hostname}`
      }
    },

    methods: {
      triggerAlert (authError) {
        this.openMessage = true

        this.$bus.$emit('show-message', this.$i18n.t(authError), {
          icon: 'now-ui-icons ui-1_bell-53',
          color: 'danger'
        })

        setTimeout(() => {
          this.openMessage = false
        }, 5000)
      },

      submitForm () {
        let auth_params = {
          authenticity_token: this.securityToken,
          operator: {
            email: this.email,
            password: this.password
          }
        }
        axios.post('/access/authenticate', auth_params).then(response => {
          window.location.assign("/")
        }).catch(error => {
          if ((typeof error.response.data) == 'string'){
            window.location.reload()
          } else {
            if (!this.openMessage){
              this.state = true
              this.triggerAlert(error.response.data.error);
              setTimeout(() => {
                this.state = false
              }, 200)
            }
          }
        })
      }
    }
  }
</script>
<style scoped>
  .navbar-nav .nav-item p {
    line-height: inherit;
    margin-left: 5px;
  }
</style>
