<template>
  <div>
    <navbar :show-navbar="false">
      <div class="navbar-wrapper">
        <router-link to="/" class="navbar-brand">{{ $t('app.title2') }}</router-link>
      </div>
    </navbar>
    <div class="wrapper wrapper-full-page">
      <div class="full-page section-image not-found-page" filter-color="black">
        <!-- <div class="content"> -->
          <div class="container">
            <div class="centered">
              <h1><i class="not-found-icon nc-icon nc-puzzle-10"></i>404</h1>
              <p style="text-align: center;" v-html="$t('errors.404')"></p>
            </div>
          </div>
        <!-- </div> -->
        <div class="full-page-background" :style="imageStyles"></div>
      </div>
    </div>
  </div>
</template>

<script>
  import {Navbar, NavbarToggleButton} from 'src/components'

  export default {
    components: { Navbar },
    computed: {
      imageStyles(){
        let img = require('../../../assets/images/login_background.jpg')
        return {
          backgroundImage: `url(${img})`
        }
      }
    },
  }
</script>
<style lang="scss">
  .not-found-page {
    .full-page > .content,
    .centered {
      min-height: calc(100vh - 160px);
    }
    .not-found-icon {
      margin-right: 10px;
    }
    .centered {
      h1, i {
        font-size: 50px;
      }
      p {
        font-size: 20px;
      }
      display: flex;
      padding-bottom: 150px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
    }
  }

</style>
